In [1]:
%load_ext sql

In [2]:
%%sql
mysql+pymysql://w-alkao:mypassword@localhost

In [3]:
%sql SHOW DATABASES;

 * mysql+pymysql://w-alkao:***@localhost
8 rows affected.

[('ap',),
 ('ex',),
 ('information_schema',),
 ('livestock',),
 ('mysql',),
 ('om',),
 ('performance_schema',),
 ('sys',)]

In [4]:
%sql USE ap;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

### Overview Data types

* **Character**: Strings of character data
* **Numeric**: Numbers that don't include a decimal point (integers) and numbers that include a decimal point (real numbers)
* **Date and time**: Dates, times, or both
* **Large Object(LOB)**: Large strings of character or binary data
* **Spatial**: Geographical values
* **JSON**: JSON documents

### Convert data

In [12]:
%sql SELECT * FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 1, datetime.date(2018, 5, 8), datetime.date(2018, 5, 7)),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), datetime.date(2018, 5, 14)),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), datetime.date(2018, 5, 9)),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 12)),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 11)),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 21)),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), datetime.date(2018, 5, 22)),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), datetime.date(2018, 5, 1)),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 1, datetime.date(2018, 5, 24), datetime.date(2018, 5, 21)),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 22)),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), datetime.date(2018, 5, 20)),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 2, datetime.date(2018, 5, 16), datetime.date(2018, 5, 13)),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 5, 20), datetime.date(2018, 5, 23)),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 10), datetime.date(2018, 6, 10)),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 1, datetime.date(2018, 6, 2), datetime.date(2018, 5, 30)),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), datetime.date(2018, 5, 22)),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), datetime.date(2018, 6, 5)),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), datetime.date(2018, 6, 5)),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), datetime.date(2018, 5, 19)),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 15)),
 (21, 119, '10843', datetime.date(2018, 5, 11), Decimal('4901.26'), Decimal('4901.26'), Decimal('0.00'), 2, datetime.date(2018, 5, 31), datetime.date(2018, 5, 29)),
 (22, 123, '963253235', datetime.date(2018, 5, 11), Decimal('108.25'), Decimal('108.25'), Decimal('0.00'), 3, datetime.date(2018, 6, 10), datetime.date(2018, 6, 9)),
 (23, 97, '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 6, 2), datetime.date(2018, 5, 28)),
 (24, 113, '77290', datetime.date(2018, 5, 13), Decimal('1750.00'), Decimal('1750.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 2), datetime.date(2018, 7, 5)),
 (25, 123, '963253246', datetime.date(2018, 5, 13), Decimal('129.00'), Decimal('129.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 12), datetime.date(2018, 6, 9)),
 (26, 123, '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 13), datetime.date(2018, 6, 13)),
 (27, 88, '972110', datetime.date(2018, 5, 15), Decimal('207.78'), Decimal('207.78'), Decimal('0.00'), 1, datetime.date(2018, 5, 25), datetime.date(2018, 5, 27)),
 (28, 123, '963253263', datetime.date(2018, 5, 16), Decimal('109.50'), Decimal('109.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 15), datetime.date(2018, 6, 10)),
 (29, 108, '121897', datetime.date(2018, 5, 19), Decimal('450.00'), Decimal('450.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 28), datetime.date(2018, 7, 3)),
 (30, 123, '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40'), Decimal('63.40'), Decimal('0.00'), 3, datetime.date(2018, 6, 19), datetime.date(2018, 6, 24)),
 (31, 104, 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34'), Decimal('7125.34'), Decimal('0.00'), 1, datetime.date(2018, 6, 20), datetime.date(2018, 6, 24)),
 (32, 121, '97/486', datetime.date(2018, 5, 21), Decimal('953.10'), Decimal('953.10'), Decimal('0.00'), 1, datetime.date(2018, 6, 20), datetime.date(2018, 6, 22)),
 (33, 105, '94007005', datetime.date(2018, 5, 23), Decimal('220.00'), Decimal('220.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 22), datetime.date(2018, 6, 26)),
 (34, 123, '963253232', datetime.date(2018, 5, 23), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 18)),
 (35, 107, 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00'), Decimal('1600.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 4), datetime.date(2018, 7, 9)),
 (36, 121, '97/465', datetime.date(2018, 5, 25), Decimal('565.15'), Decimal('565.15'), Decimal('0.00'), 1, datetime.date(2018, 6, 24), datetime.date(2018, 6, 24)),
 (37, 123, '963253260', datetime.date(2018, 5, 25), Decimal('36.00'), Decimal('36.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (38, 123, '963253272', datetime.date(2018, 5, 26), Decimal('61.50'), Decimal('61.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 25), datetime.date(2018, 6, 30)),
 (39, 110, '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19'), Decimal('37966.19'), Decimal('0.00'), 3, datetime.date(2018, 6, 27), datetime.date(2018, 6, 30)),
 (40, 121, '97/503', datetime.date(2018, 5, 30), Decimal('639.77'), Decimal('639.77'), Decimal('0.00'), 1, datetime.date(2018, 6, 29), datetime.date(2018, 6, 25)),
 (41, 123, '963253255', datetime.date(2018, 5, 31), Decimal('53.75'), Decimal('53.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 6, 27)),
 (42, 123, '94007069', datetime.date(2018, 5, 31), Decimal('400.00'), Decimal('400.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 7, 1)),
 (43, 72, '40318', datetime.date(2018, 6, 1), Decimal('21842.00'), Decimal('21842.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 29)),
 (44, 95, '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67'), Decimal('19.67'), Decimal('0.00'), 2, datetime.date(2018, 6, 21), datetime.date(2018, 6, 24)),
 (45, 122, '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36'), Decimal('2765.36'), Decimal('0.00'), 1, datetime.date(2018, 7, 1), datetime.date(2018, 6, 28)),
 (46, 37, '547481328', datetime.date(2018, 6, 3), Decimal('224.00'), Decimal('224.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 7, 4)),
 (47, 83, '31359783', datetime.date(2018, 6, 3), Decimal('1575.00'), Decimal('1575.00'), Decimal('0.00'), 2, datetime.date(2018, 6, 23), datetime.date(2018, 6, 21)),
 (48, 123, '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00'), Decimal('33.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 5)),
 (49, 95, '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (50, 37, '547479217', datetime.date(2018, 6, 7), Decimal('116.00'), Decimal('116.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 7), datetime.date(2018, 7, 7)),
 (51, 122, '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11'), Decimal('2184.11'), Decimal('0.00'), 1, datetime.date(2018, 7, 8), datetime.date(2018, 7, 8)),
 (52, 34, 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58'), Decimal('1083.58'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 23)),
 (53, 95, '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21'), Decimal('46.21'), Decimal('0.00'), 2, datetime.date(2018, 6, 29), datetime.date(2018, 7, 2)),
 (54, 121, '97/553B', datetime.date(2018, 6, 10), Decimal('313.55'), Decimal('313.55'), Decimal('0.00'), 1, datetime.date(2018, 7, 10), datetime.date(2018, 7, 9)),
 (55, 123, '963253245', datetime.date(2018, 6, 10), Decimal('40.75'), Decimal('40.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 12)),
 (56, 86, '367447', datetime.date(2018, 6, 11), Decimal('2433.00'), Decimal('2433.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 17)),
 (57, 103, '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50'), Decimal('1367.50'), Decimal('0.00'), 5, datetime.date(2018, 7, 31), datetime.date(2018, 7, 31)),
 (58, 123, '963253256', datetime.date(2018, 6, 11), Decimal('53.25'), Decimal('53.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 7)),
 (59, 123, '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75'), Decimal('13.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 15)),
 (60, 122, '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20'), Decimal('2312.20'), Decimal('0.00'), 1, datetime.date(2018, 7, 12), datetime.date(2018, 7, 9)),
 (61, 115, '24946731', datetime.date(2018, 6, 15), Decimal('25.67'), Decimal('25.67'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 26)),
 (62, 123, '963253269', datetime.date(2018, 6, 15), Decimal('26.75'), Decimal('26.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 15), datetime.date(2018, 7, 11)),
 (63, 122, '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81'), Decimal('2115.81'), Decimal('0.00'), 1, datetime.date(2018, 7, 16), datetime.date(2018, 7, 19)),
 (64, 123, '963253267', datetime.date(2018, 6, 17), Decimal('23.50'), Decimal('23.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 17), datetime.date(2018, 7, 19)),
 (65, 99, '509786', datetime.date(2018, 6, 18), Decimal('6940.25'), Decimal('6940.25'), Decimal('0.00'), 1, datetime.date(2018, 7, 18), datetime.date(2018, 7, 15)),
 (66, 123, '263253253', datetime.date(2018, 6, 18), Decimal('31.95'), Decimal('31.95'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 21)),
 (67, 122, '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54'), Decimal('1927.54'), Decimal('0.00'), 1, datetime.date(2018, 7, 20), datetime.date(2018, 7, 18)),
 (68, 81, 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93'), Decimal('936.93'), Decimal('0.00'), 2, datetime.date(2018, 7, 11), datetime.date(2018, 7, 10)),
 (69, 80, '133560', datetime.date(2018, 6, 22), Decimal('175.00'), Decimal('175.00'), Decimal('0.00'), 2, datetime.date(2018, 7, 12), datetime.date(2018, 7, 16)),
 (70, 115, '24780512', datetime.date(2018, 6, 22), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 1), datetime.date(2018, 7, 29)),
 (71, 123, '963253254', datetime.date(2018, 6, 22), Decimal('108.50'), Decimal('108.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 20)),
 (72, 123, '43966316', datetime.date(2018, 6, 22), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 17)),
 (73, 114, 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00'), Decimal('290.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 6, 29)),
 (74, 102, '109596', datetime.date(2018, 6, 24), Decimal('41.80'), Decimal('41.80'), Decimal('0.00'), 1, datetime.date(2018, 8, 3), datetime.date(2018, 8, 4)),
 (75, 123, '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00'), Decimal('27.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 24)),
 (76, 123, '963253248', datetime.date(2018, 6, 24), Decimal('241.00'), Decimal('241.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 25)),
 (77, 121, '97/553', datetime.date(2018, 6, 25), Decimal('904.14'), Decimal('904.14'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 25)),
 (78, 121, '97/522', datetime.date(2018, 6, 28), Decimal('1962.13'), Decimal('19351.18'), Decimal('300.00'), 1, datetime.date(2018, 7, 28), datetime.date(2018, 9, 21)),
 (79, 100, '587056', datetime.date(2018, 6, 30), Decimal('2184.50'), Decimal('2184.50'), Decimal('0.00'), 1, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (80, 122, '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03'), Decimal('2318.03'), Decimal('0.00'), 1, datetime.date(2018, 7, 31), datetime.date(2018, 7, 29)),
 (81, 123, '263253265', datetime.date(2018, 7, 2), Decimal('26.25'), Decimal('26.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 1), datetime.date(2018, 7, 28)),
 (82, 94, '203339-13', datetime.date(2018, 7, 5), Decimal('17.50'), Decimal('17.50'), Decimal('0.00'), 2, datetime.date(2018, 7, 25), datetime.date(2018, 7, 27)),
 (83, 95, '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77'), Decimal('39.77'), Decimal('0.00'), 2, datetime.date(2018, 7, 26), datetime.date(2018, 7, 22)),
 (84, 123, '963253258', datetime.date(2018, 7, 6), Decimal('111.00'), Decimal('111.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 5), datetime.date(2018, 8, 5)),
 (85, 123, '963253271', datetime.date(2018, 7, 7), Decimal('158.00'), Decimal('158.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 11)),
 (86, 123, '963253230', datetime.date(2018, 7, 7), Decimal('739.20'), Decimal('739.20'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 6)),
 (87, 123, '963253244', datetime.date(2018, 7, 8), Decimal('60.00'), Decimal('60.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 9)),
 (88, 123, '963253239', datetime.date(2018, 7, 8), Decimal('147.25'), Decimal('147.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 11)),
 (89, 72, '39104', datetime.date(2018, 7, 10), Decimal('85.31'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 9), None),
 (90, 123, '963253252', datetime.date(2018, 7, 12), Decimal('38.75'), Decimal('38.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 11), datetime.date(2018, 8, 11)),
 (91, 95, '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70'), Decimal('32.70'), Decimal('0.00'), 2, datetime.date(2018, 8, 4), datetime.date(2018, 8, 6)),
 (92, 117, '111897', datetime.date(2018, 7, 15), Decimal('16.62'), Decimal('16.62'), Decimal('0.00'), 1, datetime.date(2018, 8, 14), datetime.date(2018, 8, 14)),
 (93, 123, '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75'), Decimal('162.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 15), datetime.date(2018, 8, 11)),
 (94, 123, '963253264', datetime.date(2018, 7, 18), Decimal('52.25'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 17), None),
 (95, 82, 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00'), Decimal('600.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 8), datetime.date(2018, 8, 13)),
 (96, 110, 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40'), Decimal('26881.40'), Decimal('0.00'), 3, datetime.date(2018, 8, 18), datetime.date(2018, 8, 20)),
 (97, 90, '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48'), Decimal('356.48'), Decimal('0.00'), 2, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (98, 83, '31361833', datetime.date(2018, 7, 21), Decimal('579.42'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 10), None),
 (99, 123, '263253268', datetime.date(2018, 7, 21), Decimal('59.97'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 20), None),
 (100, 123, '263253270', datetime.date(2018, 7, 22), Decimal('67.92'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (101, 123, '263253273', datetime.date(2018, 7, 22), Decimal('30.75'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (102, 110, 'P-0608', datetime.date(2018, 7, 23), Decimal('20551.18'), Decimal('0.00'), Decimal('1200.00'), 3, datetime.date(2018, 8, 22), None),
 (103, 122, '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59'), Decimal('2051.59'), Decimal('0.00'), 1, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (104, 123, '263253243', datetime.date(2018, 7, 23), Decimal('44.44'), Decimal('44.44'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (105, 106, '9982771', datetime.date(2018, 7, 24), Decimal('503.20'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 23), None),
 (106, 110, '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58'), Decimal('21221.63'), Decimal('2295.95'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 27)),
 (107, 122, '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99'), Decimal('3689.99'), Decimal('0.00'), 1, datetime.date(2018, 8, 23), datetime.date(2018, 8, 19)),
 (108, 123, '963253240', datetime.date(2018, 7, 24), Decimal('67.00'), Decimal('67.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 23)),
 (109, 121, '97/222', datetime.date(2018, 7, 25), Decimal('1000.46'), Decimal('1000.46'), Decimal('0.00'), 1, datetime.date(2018, 8, 24), datetime.date(2018, 8, 22)),
 (110, 80, '134116', datetime.date(2018, 7, 28), Decimal('90.36'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 17), None),
 (111, 123, '263253257', datetime.date(2018, 7, 30), Decimal('22.57'), Decimal('22.57'), Decimal('0.00'), 3, datetime.date(2018, 8, 29), datetime.date(2018, 9, 3)),
 (112, 110, '0-2436', datetime.date(2018, 7, 31), Decimal('10976.06'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 30), None),
 (113, 37, '547480102', datetime.date(2018, 8, 1), Decimal('224.00'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (114, 123, '963253249', datetime.date(2018, 8, 2), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 9, 1), datetime.date(2018, 9, 4)),
 (115, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 31), None),
 (116, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 31), None),
 (117, 97, '456701', datetime.date(2018, 8, 2), Decimal('270.50'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 9, 1), None),
 (118, 97, '456791', datetime.date(2018, 8, 3), Decimal('4390.00'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 9, 2), None),
 (119, 97, '456792', datetime.date(2018, 8, 3), Decimal('565.60'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 9, 2), None)]

In [14]:
%sql DESCRIBE Invoices;

 * mysql+pymysql://w-alkao:***@localhost
10 rows affected.

[('invoice_id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('vendor_id', 'int', 'NO', 'MUL', None, ''),
 ('invoice_number', 'varchar(50)', 'NO', '', None, ''),
 ('invoice_date', 'date', 'NO', 'MUL', None, ''),
 ('invoice_total', 'decimal(9,2)', 'NO', '', None, ''),
 ('payment_total', 'decimal(9,2)', 'NO', '', '0.00', ''),
 ('credit_total', 'decimal(9,2)', 'NO', '', '0.00', ''),
 ('terms_id', 'int', 'NO', 'MUL', None, ''),
 ('invoice_due_date', 'date', 'NO', '', None, ''),
 ('payment_date', 'date', 'YES', '', None, '')]

In [19]:
%%sql # Convert number to string

SELECT invoice_total, CONCAT('$', invoice_total)
FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(Decimal('3813.33'), '$3813.33'),
 (Decimal('40.20'), '$40.20'),
 (Decimal('138.75'), '$138.75'),
 (Decimal('144.70'), '$144.70'),
 (Decimal('15.50'), '$15.50'),
 (Decimal('42.75'), '$42.75'),
 (Decimal('172.50'), '$172.50'),
 (Decimal('95.00'), '$95.00'),
 (Decimal('601.95'), '$601.95'),
 (Decimal('42.67'), '$42.67'),
 (Decimal('42.50'), '$42.50'),
 (Decimal('662.00'), '$662.00'),
 (Decimal('16.33'), '$16.33'),
 (Decimal('6.00'), '$6.00'),
 (Decimal('856.92'), '$856.92'),
 (Decimal('9.95'), '$9.95'),
 (Decimal('10.00'), '$10.00'),
 (Decimal('104.00'), '$104.00'),
 (Decimal('116.54'), '$116.54'),
 (Decimal('6.00'), '$6.00'),
 (Decimal('4901.26'), '$4901.26'),
 (Decimal('108.25'), '$108.25'),
 (Decimal('9.95'), '$9.95'),
 (Decimal('1750.00'), '$1750.00'),
 (Decimal('129.00'), '$129.00'),
 (Decimal('10.00'), '$10.00'),
 (Decimal('207.78'), '$207.78'),
 (Decimal('109.50'), '$109.50'),
 (Decimal('450.00'), '$450.00'),
 (Decimal('63.40'), '$63.40'),
 (Decimal('7125.34'), '$7125.34'),
 (Decimal('953.10'), '$953.10'),
 (Decimal('220.00'), '$220.00'),
 (Decimal('127.75'), '$127.75'),
 (Decimal('1600.00'), '$1600.00'),
 (Decimal('565.15'), '$565.15'),
 (Decimal('36.00'), '$36.00'),
 (Decimal('61.50'), '$61.50'),
 (Decimal('37966.19'), '$37966.19'),
 (Decimal('639.77'), '$639.77'),
 (Decimal('53.75'), '$53.75'),
 (Decimal('400.00'), '$400.00'),
 (Decimal('21842.00'), '$21842.00'),
 (Decimal('19.67'), '$19.67'),
 (Decimal('2765.36'), '$2765.36'),
 (Decimal('224.00'), '$224.00'),
 (Decimal('1575.00'), '$1575.00'),
 (Decimal('33.00'), '$33.00'),
 (Decimal('16.33'), '$16.33'),
 (Decimal('116.00'), '$116.00'),
 (Decimal('2184.11'), '$2184.11'),
 (Decimal('1083.58'), '$1083.58'),
 (Decimal('46.21'), '$46.21'),
 (Decimal('313.55'), '$313.55'),
 (Decimal('40.75'), '$40.75'),
 (Decimal('2433.00'), '$2433.00'),
 (Decimal('1367.50'), '$1367.50'),
 (Decimal('53.25'), '$53.25'),
 (Decimal('13.75'), '$13.75'),
 (Decimal('2312.20'), '$2312.20'),
 (Decimal('25.67'), '$25.67'),
 (Decimal('26.75'), '$26.75'),
 (Decimal('2115.81'), '$2115.81'),
 (Decimal('23.50'), '$23.50'),
 (Decimal('6940.25'), '$6940.25'),
 (Decimal('31.95'), '$31.95'),
 (Decimal('1927.54'), '$1927.54'),
 (Decimal('936.93'), '$936.93'),
 (Decimal('175.00'), '$175.00'),
 (Decimal('6.00'), '$6.00'),
 (Decimal('108.50'), '$108.50'),
 (Decimal('10.00'), '$10.00'),
 (Decimal('290.00'), '$290.00'),
 (Decimal('41.80'), '$41.80'),
 (Decimal('27.00'), '$27.00'),
 (Decimal('241.00'), '$241.00'),
 (Decimal('904.14'), '$904.14'),
 (Decimal('1962.13'), '$1962.13'),
 (Decimal('2184.50'), '$2184.50'),
 (Decimal('2318.03'), '$2318.03'),
 (Decimal('26.25'), '$26.25'),
 (Decimal('17.50'), '$17.50'),
 (Decimal('39.77'), '$39.77'),
 (Decimal('111.00'), '$111.00'),
 (Decimal('158.00'), '$158.00'),
 (Decimal('739.20'), '$739.20'),
 (Decimal('60.00'), '$60.00'),
 (Decimal('147.25'), '$147.25'),
 (Decimal('85.31'), '$85.31'),
 (Decimal('38.75'), '$38.75'),
 (Decimal('32.70'), '$32.70'),
 (Decimal('16.62'), '$16.62'),
 (Decimal('162.75'), '$162.75'),
 (Decimal('52.25'), '$52.25'),
 (Decimal('600.00'), '$600.00'),
 (Decimal('26881.40'), '$26881.40'),
 (Decimal('356.48'), '$356.48'),
 (Decimal('579.42'), '$579.42'),
 (Decimal('59.97'), '$59.97'),
 (Decimal('67.92'), '$67.92'),
 (Decimal('30.75'), '$30.75'),
 (Decimal('20551.18'), '$20551.18'),
 (Decimal('2051.59'), '$2051.59'),
 (Decimal('44.44'), '$44.44'),
 (Decimal('503.20'), '$503.20'),
 (Decimal('23517.58'), '$23517.58'),
 (Decimal('3689.99'), '$3689.99'),
 (Decimal('67.00'), '$67.00'),
 (Decimal('1000.46'), '$1000.46'),
 (Decimal('90.36'), '$90.36'),
 (Decimal('22.57'), '$22.57'),
 (Decimal('10976.06'), '$10976.06'),
 (Decimal('224.00'), '$224.00'),
 (Decimal('127.75'), '$127.75'),
 (Decimal('8344.50'), '$8344.50'),
 (Decimal('8344.50'), '$8344.50'),
 (Decimal('270.50'), '$270.50'),
 (Decimal('4390.00'), '$4390.00'),
 (Decimal('565.60'), '$565.60')]

In [18]:
%%sql # Convert string to number

SELECT invoice_number, 989319/invoice_number
FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[('989319-457', 1.0),
 ('263253241', 0.0037580505988908225),
 ('963253234', 0.0010270601385803393),
 ('2-000-2993', 494659.5),
 ('963253251', 0.0010270601204542418),
 ('963253261', 0.0010270601097918319),
 ('963253237', 0.001027060135381616),
 ('125520-1', 7.881763862332696),
 ('97/488', 10199.164948453608),
 ('263253250', 0.0037580504704120463),
 ('963253262', 0.0010270601087255908),
 ('I77271-O01', None),
 ('111-92R-10096', 8912.783783783783),
 ('25022117', 0.039537781715272134),
 ('P02-88D77S7', None),
 ('21-4748363', 47110.42857142857),
 ('4-321-2596', 247329.75),
 ('963253242', 0.001027060130050411),
 ('QP58872', None),
 ('24863706', 0.03978968380658941),
 ('10843', 91.24033938946786),
 ('963253235', 0.0010270601375140982),
 ('21-4923721', 47110.42857142857),
 ('77290', 12.800090567990685),
 ('963253246', 0.001027060125785447),
 ('4-342-8069', 247329.75),
 ('972110', 1.0177027291150178),
 ('963253263', 0.0010270601076593497),
 ('121897', 8.116024184352364),
 ('1-200-5164', 989319.0),
 ('P02-3772', None),
 ('97/486', 10199.164948453608),
 ('94007005', 0.010523885959349518),
 ('963253232', 0.0010270601407128214),
 ('RTR-72-3662-X', None),
 ('97/465', 10199.164948453608),
 ('963253260', 0.0010270601108580727),
 ('963253272', 0.001027060098063181),
 ('0-2058', None),
 ('97/503', 10199.164948453608),
 ('963253255', 0.0010270601161892778),
 ('94007069', 0.010523878794689365),
 ('40318', 24.53789870529292),
 ('111-92R-10094', 8912.783783783783),
 ('989319-437', 1.0),
 ('547481328', 0.0018070369698526046),
 ('31359783', 0.03154738028640058),
 ('1-202-2978', 989319.0),
 ('111-92R-10097', 8912.783783783783),
 ('547479217', 0.001807043937523568),
 ('989319-477', 1.0),
 ('Q545443', None),
 ('111-92R-10092', 8912.783783783783),
 ('97/553B', 10199.164948453608),
 ('963253245', 0.001027060126851688),
 ('367447', 2.6924127833401825),
 ('75C-90227', 13190.92),
 ('963253256', 0.0010270601151230368),
 ('4-314-3057', 247329.75),
 ('989319-497', 1.0),
 ('24946731', 0.03965726010353821),
 ('963253269', 0.001027060101261904),
 ('989319-427', 1.0),
 ('963253267', 0.001027060103394386),
 ('509786', 1.9406554907353282),
 ('263253253', 0.0037580504275857895),
 ('989319-487', 1.0),
 ('MABO1489', None),
 ('133560', 7.40730008984726),
 ('24780512', 0.03992326712216439),
 ('963253254', 0.0010270601172555187),
 ('43966316', 0.022501748838815606),
 ('CBM9920-M-T77109', None),
 ('109596', 9.026962662870908),
 ('7548906-20', 0.1310546190401629),
 ('963253248', 0.0010270601236529648),
 ('97/553', 10199.164948453608),
 ('97/522', 10199.164948453608),
 ('587056', 1.6852208307214303),
 ('989319-467', 1.0),
 ('263253265', 0.003758050256280772),
 ('203339-13', 4.865367686474311),
 ('111-92R-10093', 8912.783783783783),
 ('963253258', 0.0010270601129905548),
 ('963253271', 0.0010270600991294221),
 ('963253230', 0.0010270601428453035),
 ('963253244', 0.0010270601279179288),
 ('963253239', 0.0010270601332491342),
 ('39104', 25.299688011456627),
 ('963253252', 0.0010270601193880008),
 ('111-92R-10095', 8912.783783783783),
 ('111897', 8.84133622885332),
 ('4-327-7357', 247329.75),
 ('963253264', 0.001027060106593109),
 ('C73-24', None),
 ('P-0259', None),
 ('97-1024A', 10199.164948453608),
 ('31361833', 0.03154531815790231),
 ('263253268', 0.0037580502134545203),
 ('263253270', 0.0037580501849036863),
 ('263253273', 0.003758050142077436),
 ('P-0608', None),
 ('989319-417', 1.0),
 ('263253243', 0.0037580505703399825),
 ('9982771', 0.09910264394525328),
 ('0-2060', None),
 ('989319-447', 1.0),
 ('963253240', 0.001027060132182893),
 ('97/222', 10199.164948453608),
 ('134116', 7.376591905514629),
 ('263253257', 0.0037580503704841154),
 ('0-2436', None),
 ('547480102', 0.0018070410164422743),
 ('963253249', 0.0010270601225867238),
 ('456789', 2.165811786185744),
 ('456789', 2.165811786185744),
 ('456701', 2.166229108322513),
 ('456791', 2.1658023034604446),
 ('456792', 2.165797562128934)]

In [17]:
%%sql # Convert date to number

SELECT invoice_date, invoice_date + 1
FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(datetime.date(2018, 8, 3), 20180804),
 (datetime.date(2018, 8, 3), 20180804),
 (datetime.date(2018, 8, 2), 20180803),
 (datetime.date(2018, 8, 2), 20180803),
 (datetime.date(2018, 8, 1), 20180802),
 (datetime.date(2018, 8, 1), 20180802),
 (datetime.date(2018, 8, 1), 20180802),
 (datetime.date(2018, 7, 31), 20180732),
 (datetime.date(2018, 7, 30), 20180731),
 (datetime.date(2018, 7, 28), 20180729),
 (datetime.date(2018, 7, 25), 20180726),
 (datetime.date(2018, 7, 24), 20180725),
 (datetime.date(2018, 7, 24), 20180725),
 (datetime.date(2018, 7, 24), 20180725),
 (datetime.date(2018, 7, 24), 20180725),
 (datetime.date(2018, 7, 23), 20180724),
 (datetime.date(2018, 7, 23), 20180724),
 (datetime.date(2018, 7, 23), 20180724),
 (datetime.date(2018, 7, 22), 20180723),
 (datetime.date(2018, 7, 22), 20180723),
 (datetime.date(2018, 7, 21), 20180722),
 (datetime.date(2018, 7, 21), 20180722),
 (datetime.date(2018, 7, 20), 20180721),
 (datetime.date(2018, 7, 19), 20180720),
 (datetime.date(2018, 7, 19), 20180720),
 (datetime.date(2018, 7, 18), 20180719),
 (datetime.date(2018, 7, 16), 20180717),
 (datetime.date(2018, 7, 15), 20180716),
 (datetime.date(2018, 7, 15), 20180716),
 (datetime.date(2018, 7, 12), 20180713),
 (datetime.date(2018, 7, 10), 20180711),
 (datetime.date(2018, 7, 8), 20180709),
 (datetime.date(2018, 7, 8), 20180709),
 (datetime.date(2018, 7, 7), 20180708),
 (datetime.date(2018, 7, 7), 20180708),
 (datetime.date(2018, 7, 6), 20180707),
 (datetime.date(2018, 7, 6), 20180707),
 (datetime.date(2018, 7, 5), 20180706),
 (datetime.date(2018, 7, 2), 20180703),
 (datetime.date(2018, 7, 1), 20180702),
 (datetime.date(2018, 6, 30), 20180631),
 (datetime.date(2018, 6, 28), 20180629),
 (datetime.date(2018, 6, 25), 20180626),
 (datetime.date(2018, 6, 24), 20180625),
 (datetime.date(2018, 6, 24), 20180625),
 (datetime.date(2018, 6, 24), 20180625),
 (datetime.date(2018, 6, 23), 20180624),
 (datetime.date(2018, 6, 22), 20180623),
 (datetime.date(2018, 6, 22), 20180623),
 (datetime.date(2018, 6, 22), 20180623),
 (datetime.date(2018, 6, 22), 20180623),
 (datetime.date(2018, 6, 21), 20180622),
 (datetime.date(2018, 6, 20), 20180621),
 (datetime.date(2018, 6, 18), 20180619),
 (datetime.date(2018, 6, 18), 20180619),
 (datetime.date(2018, 6, 17), 20180618),
 (datetime.date(2018, 6, 16), 20180617),
 (datetime.date(2018, 6, 15), 20180616),
 (datetime.date(2018, 6, 15), 20180616),
 (datetime.date(2018, 6, 12), 20180613),
 (datetime.date(2018, 6, 11), 20180612),
 (datetime.date(2018, 6, 11), 20180612),
 (datetime.date(2018, 6, 11), 20180612),
 (datetime.date(2018, 6, 11), 20180612),
 (datetime.date(2018, 6, 10), 20180611),
 (datetime.date(2018, 6, 10), 20180611),
 (datetime.date(2018, 6, 9), 20180610),
 (datetime.date(2018, 6, 9), 20180610),
 (datetime.date(2018, 6, 8), 20180609),
 (datetime.date(2018, 6, 7), 20180608),
 (datetime.date(2018, 6, 4), 20180605),
 (datetime.date(2018, 6, 3), 20180604),
 (datetime.date(2018, 6, 3), 20180604),
 (datetime.date(2018, 6, 3), 20180604),
 (datetime.date(2018, 6, 1), 20180602),
 (datetime.date(2018, 6, 1), 20180602),
 (datetime.date(2018, 6, 1), 20180602),
 (datetime.date(2018, 5, 31), 20180532),
 (datetime.date(2018, 5, 31), 20180532),
 (datetime.date(2018, 5, 30), 20180531),
 (datetime.date(2018, 5, 28), 20180529),
 (datetime.date(2018, 5, 26), 20180527),
 (datetime.date(2018, 5, 25), 20180526),
 (datetime.date(2018, 5, 25), 20180526),
 (datetime.date(2018, 5, 25), 20180526),
 (datetime.date(2018, 5, 23), 20180524),
 (datetime.date(2018, 5, 23), 20180524),
 (datetime.date(2018, 5, 21), 20180522),
 (datetime.date(2018, 5, 21), 20180522),
 (datetime.date(2018, 5, 20), 20180521),
 (datetime.date(2018, 5, 19), 20180520),
 (datetime.date(2018, 5, 16), 20180517),
 (datetime.date(2018, 5, 15), 20180516),
 (datetime.date(2018, 5, 14), 20180515),
 (datetime.date(2018, 5, 13), 20180514),
 (datetime.date(2018, 5, 13), 20180514),
 (datetime.date(2018, 5, 13), 20180514),
 (datetime.date(2018, 5, 11), 20180512),
 (datetime.date(2018, 5, 11), 20180512),
 (datetime.date(2018, 5, 10), 20180511),
 (datetime.date(2018, 5, 7), 20180508),
 (datetime.date(2018, 5, 6), 20180507),
 (datetime.date(2018, 5, 5), 20180506),
 (datetime.date(2018, 5, 3), 20180504),
 (datetime.date(2018, 5, 3), 20180504),
 (datetime.date(2018, 5, 1), 20180502),
 (datetime.date(2018, 4, 30), 20180431),
 (datetime.date(2018, 4, 26), 20180427),
 (datetime.date(2018, 4, 25), 20180426),
 (datetime.date(2018, 4, 24), 20180425),
 (datetime.date(2018, 4, 24), 20180425),
 (datetime.date(2018, 4, 24), 20180425),
 (datetime.date(2018, 4, 21), 20180422),
 (datetime.date(2018, 4, 16), 20180417),
 (datetime.date(2018, 4, 16), 20180417),
 (datetime.date(2018, 4, 16), 20180417),
 (datetime.date(2018, 4, 13), 20180414),
 (datetime.date(2018, 4, 10), 20180411),
 (datetime.date(2018, 4, 8), 20180409)]

In [23]:
%%sql # use of cast function

SELECT invoice_id, invoice_date, invoice_total,
  CAST(invoice_date AS CHAR(10)) AS date_to_char,
  CAST(credit_total AS SIGNED) AS interger_tota
FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(1, datetime.date(2018, 4, 8), Decimal('3813.33'), '2018-04-08', 0),
 (2, datetime.date(2018, 4, 10), Decimal('40.20'), '2018-04-10', 0),
 (3, datetime.date(2018, 4, 13), Decimal('138.75'), '2018-04-13', 0),
 (4, datetime.date(2018, 4, 16), Decimal('144.70'), '2018-04-16', 0),
 (5, datetime.date(2018, 4, 16), Decimal('15.50'), '2018-04-16', 0),
 (6, datetime.date(2018, 4, 16), Decimal('42.75'), '2018-04-16', 0),
 (7, datetime.date(2018, 4, 21), Decimal('172.50'), '2018-04-21', 0),
 (8, datetime.date(2018, 4, 24), Decimal('95.00'), '2018-04-24', 0),
 (9, datetime.date(2018, 4, 24), Decimal('601.95'), '2018-04-24', 0),
 (10, datetime.date(2018, 4, 24), Decimal('42.67'), '2018-04-24', 0),
 (11, datetime.date(2018, 4, 25), Decimal('42.50'), '2018-04-25', 0),
 (12, datetime.date(2018, 4, 26), Decimal('662.00'), '2018-04-26', 0),
 (13, datetime.date(2018, 4, 30), Decimal('16.33'), '2018-04-30', 0),
 (14, datetime.date(2018, 5, 1), Decimal('6.00'), '2018-05-01', 0),
 (15, datetime.date(2018, 5, 3), Decimal('856.92'), '2018-05-03', 0),
 (16, datetime.date(2018, 5, 3), Decimal('9.95'), '2018-05-03', 0),
 (17, datetime.date(2018, 5, 5), Decimal('10.00'), '2018-05-05', 0),
 (18, datetime.date(2018, 5, 6), Decimal('104.00'), '2018-05-06', 0),
 (19, datetime.date(2018, 5, 7), Decimal('116.54'), '2018-05-07', 0),
 (20, datetime.date(2018, 5, 10), Decimal('6.00'), '2018-05-10', 0),
 (21, datetime.date(2018, 5, 11), Decimal('4901.26'), '2018-05-11', 0),
 (22, datetime.date(2018, 5, 11), Decimal('108.25'), '2018-05-11', 0),
 (23, datetime.date(2018, 5, 13), Decimal('9.95'), '2018-05-13', 0),
 (24, datetime.date(2018, 5, 13), Decimal('1750.00'), '2018-05-13', 0),
 (25, datetime.date(2018, 5, 13), Decimal('129.00'), '2018-05-13', 0),
 (26, datetime.date(2018, 5, 14), Decimal('10.00'), '2018-05-14', 0),
 (27, datetime.date(2018, 5, 15), Decimal('207.78'), '2018-05-15', 0),
 (28, datetime.date(2018, 5, 16), Decimal('109.50'), '2018-05-16', 0),
 (29, datetime.date(2018, 5, 19), Decimal('450.00'), '2018-05-19', 0),
 (30, datetime.date(2018, 5, 20), Decimal('63.40'), '2018-05-20', 0),
 (31, datetime.date(2018, 5, 21), Decimal('7125.34'), '2018-05-21', 0),
 (32, datetime.date(2018, 5, 21), Decimal('953.10'), '2018-05-21', 0),
 (33, datetime.date(2018, 5, 23), Decimal('220.00'), '2018-05-23', 0),
 (34, datetime.date(2018, 5, 23), Decimal('127.75'), '2018-05-23', 0),
 (35, datetime.date(2018, 5, 25), Decimal('1600.00'), '2018-05-25', 0),
 (36, datetime.date(2018, 5, 25), Decimal('565.15'), '2018-05-25', 0),
 (37, datetime.date(2018, 5, 25), Decimal('36.00'), '2018-05-25', 0),
 (38, datetime.date(2018, 5, 26), Decimal('61.50'), '2018-05-26', 0),
 (39, datetime.date(2018, 5, 28), Decimal('37966.19'), '2018-05-28', 0),
 (40, datetime.date(2018, 5, 30), Decimal('639.77'), '2018-05-30', 0),
 (41, datetime.date(2018, 5, 31), Decimal('53.75'), '2018-05-31', 0),
 (42, datetime.date(2018, 5, 31), Decimal('400.00'), '2018-05-31', 0),
 (43, datetime.date(2018, 6, 1), Decimal('21842.00'), '2018-06-01', 0),
 (44, datetime.date(2018, 6, 1), Decimal('19.67'), '2018-06-01', 0),
 (45, datetime.date(2018, 6, 1), Decimal('2765.36'), '2018-06-01', 0),
 (46, datetime.date(2018, 6, 3), Decimal('224.00'), '2018-06-03', 0),
 (47, datetime.date(2018, 6, 3), Decimal('1575.00'), '2018-06-03', 0),
 (48, datetime.date(2018, 6, 3), Decimal('33.00'), '2018-06-03', 0),
 (49, datetime.date(2018, 6, 4), Decimal('16.33'), '2018-06-04', 0),
 (50, datetime.date(2018, 6, 7), Decimal('116.00'), '2018-06-07', 0),
 (51, datetime.date(2018, 6, 8), Decimal('2184.11'), '2018-06-08', 0),
 (52, datetime.date(2018, 6, 9), Decimal('1083.58'), '2018-06-09', 0),
 (53, datetime.date(2018, 6, 9), Decimal('46.21'), '2018-06-09', 0),
 (54, datetime.date(2018, 6, 10), Decimal('313.55'), '2018-06-10', 0),
 (55, datetime.date(2018, 6, 10), Decimal('40.75'), '2018-06-10', 0),
 (56, datetime.date(2018, 6, 11), Decimal('2433.00'), '2018-06-11', 0),
 (57, datetime.date(2018, 6, 11), Decimal('1367.50'), '2018-06-11', 0),
 (58, datetime.date(2018, 6, 11), Decimal('53.25'), '2018-06-11', 0),
 (59, datetime.date(2018, 6, 11), Decimal('13.75'), '2018-06-11', 0),
 (60, datetime.date(2018, 6, 12), Decimal('2312.20'), '2018-06-12', 0),
 (61, datetime.date(2018, 6, 15), Decimal('25.67'), '2018-06-15', 0),
 (62, datetime.date(2018, 6, 15), Decimal('26.75'), '2018-06-15', 0),
 (63, datetime.date(2018, 6, 16), Decimal('2115.81'), '2018-06-16', 0),
 (64, datetime.date(2018, 6, 17), Decimal('23.50'), '2018-06-17', 0),
 (65, datetime.date(2018, 6, 18), Decimal('6940.25'), '2018-06-18', 0),
 (66, datetime.date(2018, 6, 18), Decimal('31.95'), '2018-06-18', 0),
 (67, datetime.date(2018, 6, 20), Decimal('1927.54'), '2018-06-20', 0),
 (68, datetime.date(2018, 6, 21), Decimal('936.93'), '2018-06-21', 0),
 (69, datetime.date(2018, 6, 22), Decimal('175.00'), '2018-06-22', 0),
 (70, datetime.date(2018, 6, 22), Decimal('6.00'), '2018-06-22', 0),
 (71, datetime.date(2018, 6, 22), Decimal('108.50'), '2018-06-22', 0),
 (72, datetime.date(2018, 6, 22), Decimal('10.00'), '2018-06-22', 0),
 (73, datetime.date(2018, 6, 23), Decimal('290.00'), '2018-06-23', 0),
 (74, datetime.date(2018, 6, 24), Decimal('41.80'), '2018-06-24', 0),
 (75, datetime.date(2018, 6, 24), Decimal('27.00'), '2018-06-24', 0),
 (76, datetime.date(2018, 6, 24), Decimal('241.00'), '2018-06-24', 0),
 (77, datetime.date(2018, 6, 25), Decimal('904.14'), '2018-06-25', 0),
 (78, datetime.date(2018, 6, 28), Decimal('1962.13'), '2018-06-28', 300),
 (79, datetime.date(2018, 6, 30), Decimal('2184.50'), '2018-06-30', 0),
 (80, datetime.date(2018, 7, 1), Decimal('2318.03'), '2018-07-01', 0),
 (81, datetime.date(2018, 7, 2), Decimal('26.25'), '2018-07-02', 0),
 (82, datetime.date(2018, 7, 5), Decimal('17.50'), '2018-07-05', 0),
 (83, datetime.date(2018, 7, 6), Decimal('39.77'), '2018-07-06', 0),
 (84, datetime.date(2018, 7, 6), Decimal('111.00'), '2018-07-06', 0),
 (85, datetime.date(2018, 7, 7), Decimal('158.00'), '2018-07-07', 0),
 (86, datetime.date(2018, 7, 7), Decimal('739.20'), '2018-07-07', 0),
 (87, datetime.date(2018, 7, 8), Decimal('60.00'), '2018-07-08', 0),
 (88, datetime.date(2018, 7, 8), Decimal('147.25'), '2018-07-08', 0),
 (89, datetime.date(2018, 7, 10), Decimal('85.31'), '2018-07-10', 0),
 (90, datetime.date(2018, 7, 12), Decimal('38.75'), '2018-07-12', 0),
 (91, datetime.date(2018, 7, 15), Decimal('32.70'), '2018-07-15', 0),
 (92, datetime.date(2018, 7, 15), Decimal('16.62'), '2018-07-15', 0),
 (93, datetime.date(2018, 7, 16), Decimal('162.75'), '2018-07-16', 0),
 (94, datetime.date(2018, 7, 18), Decimal('52.25'), '2018-07-18', 0),
 (95, datetime.date(2018, 7, 19), Decimal('600.00'), '2018-07-19', 0),
 (96, datetime.date(2018, 7, 19), Decimal('26881.40'), '2018-07-19', 0),
 (97, datetime.date(2018, 7, 20), Decimal('356.48'), '2018-07-20', 0),
 (98, datetime.date(2018, 7, 21), Decimal('579.42'), '2018-07-21', 0),
 (99, datetime.date(2018, 7, 21), Decimal('59.97'), '2018-07-21', 0),
 (100, datetime.date(2018, 7, 22), Decimal('67.92'), '2018-07-22', 0),
 (101, datetime.date(2018, 7, 22), Decimal('30.75'), '2018-07-22', 0),
 (102, datetime.date(2018, 7, 23), Decimal('20551.18'), '2018-07-23', 1200),
 (103, datetime.date(2018, 7, 23), Decimal('2051.59'), '2018-07-23', 0),
 (104, datetime.date(2018, 7, 23), Decimal('44.44'), '2018-07-23', 0),
 (105, datetime.date(2018, 7, 24), Decimal('503.20'), '2018-07-24', 0),
 (106, datetime.date(2018, 7, 24), Decimal('23517.58'), '2018-07-24', 2296),
 (107, datetime.date(2018, 7, 24), Decimal('3689.99'), '2018-07-24', 0),
 (108, datetime.date(2018, 7, 24), Decimal('67.00'), '2018-07-24', 0),
 (109, datetime.date(2018, 7, 25), Decimal('1000.46'), '2018-07-25', 0),
 (110, datetime.date(2018, 7, 28), Decimal('90.36'), '2018-07-28', 0),
 (111, datetime.date(2018, 7, 30), Decimal('22.57'), '2018-07-30', 0),
 (112, datetime.date(2018, 7, 31), Decimal('10976.06'), '2018-07-31', 0),
 (113, datetime.date(2018, 8, 1), Decimal('224.00'), '2018-08-01', 0),
 (114, datetime.date(2018, 8, 2), Decimal('127.75'), '2018-08-02', 0),
 (115, datetime.date(2018, 8, 1), Decimal('8344.50'), '2018-08-01', 0),
 (116, datetime.date(2018, 8, 1), Decimal('8344.50'), '2018-08-01', 0),
 (117, datetime.date(2018, 8, 2), Decimal('270.50'), '2018-08-02', 0),
 (118, datetime.date(2018, 8, 3), Decimal('4390.00'), '2018-08-03', 0),
 (119, datetime.date(2018, 8, 3), Decimal('565.60'), '2018-08-03', 0)]

In [24]:
%%sql # use of convert function

SELECT invoice_id, invoice_date, invoice_total,
  CONVERT(invoice_date, CHAR(10)) AS char_date,
  CONVERT(invoice_total, SIGNED) AS integer_total
FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(1, datetime.date(2018, 4, 8), Decimal('3813.33'), '2018-04-08', 3813),
 (2, datetime.date(2018, 4, 10), Decimal('40.20'), '2018-04-10', 40),
 (3, datetime.date(2018, 4, 13), Decimal('138.75'), '2018-04-13', 139),
 (4, datetime.date(2018, 4, 16), Decimal('144.70'), '2018-04-16', 145),
 (5, datetime.date(2018, 4, 16), Decimal('15.50'), '2018-04-16', 16),
 (6, datetime.date(2018, 4, 16), Decimal('42.75'), '2018-04-16', 43),
 (7, datetime.date(2018, 4, 21), Decimal('172.50'), '2018-04-21', 173),
 (8, datetime.date(2018, 4, 24), Decimal('95.00'), '2018-04-24', 95),
 (9, datetime.date(2018, 4, 24), Decimal('601.95'), '2018-04-24', 602),
 (10, datetime.date(2018, 4, 24), Decimal('42.67'), '2018-04-24', 43),
 (11, datetime.date(2018, 4, 25), Decimal('42.50'), '2018-04-25', 43),
 (12, datetime.date(2018, 4, 26), Decimal('662.00'), '2018-04-26', 662),
 (13, datetime.date(2018, 4, 30), Decimal('16.33'), '2018-04-30', 16),
 (14, datetime.date(2018, 5, 1), Decimal('6.00'), '2018-05-01', 6),
 (15, datetime.date(2018, 5, 3), Decimal('856.92'), '2018-05-03', 857),
 (16, datetime.date(2018, 5, 3), Decimal('9.95'), '2018-05-03', 10),
 (17, datetime.date(2018, 5, 5), Decimal('10.00'), '2018-05-05', 10),
 (18, datetime.date(2018, 5, 6), Decimal('104.00'), '2018-05-06', 104),
 (19, datetime.date(2018, 5, 7), Decimal('116.54'), '2018-05-07', 117),
 (20, datetime.date(2018, 5, 10), Decimal('6.00'), '2018-05-10', 6),
 (21, datetime.date(2018, 5, 11), Decimal('4901.26'), '2018-05-11', 4901),
 (22, datetime.date(2018, 5, 11), Decimal('108.25'), '2018-05-11', 108),
 (23, datetime.date(2018, 5, 13), Decimal('9.95'), '2018-05-13', 10),
 (24, datetime.date(2018, 5, 13), Decimal('1750.00'), '2018-05-13', 1750),
 (25, datetime.date(2018, 5, 13), Decimal('129.00'), '2018-05-13', 129),
 (26, datetime.date(2018, 5, 14), Decimal('10.00'), '2018-05-14', 10),
 (27, datetime.date(2018, 5, 15), Decimal('207.78'), '2018-05-15', 208),
 (28, datetime.date(2018, 5, 16), Decimal('109.50'), '2018-05-16', 110),
 (29, datetime.date(2018, 5, 19), Decimal('450.00'), '2018-05-19', 450),
 (30, datetime.date(2018, 5, 20), Decimal('63.40'), '2018-05-20', 63),
 (31, datetime.date(2018, 5, 21), Decimal('7125.34'), '2018-05-21', 7125),
 (32, datetime.date(2018, 5, 21), Decimal('953.10'), '2018-05-21', 953),
 (33, datetime.date(2018, 5, 23), Decimal('220.00'), '2018-05-23', 220),
 (34, datetime.date(2018, 5, 23), Decimal('127.75'), '2018-05-23', 128),
 (35, datetime.date(2018, 5, 25), Decimal('1600.00'), '2018-05-25', 1600),
 (36, datetime.date(2018, 5, 25), Decimal('565.15'), '2018-05-25', 565),
 (37, datetime.date(2018, 5, 25), Decimal('36.00'), '2018-05-25', 36),
 (38, datetime.date(2018, 5, 26), Decimal('61.50'), '2018-05-26', 62),
 (39, datetime.date(2018, 5, 28), Decimal('37966.19'), '2018-05-28', 37966),
 (40, datetime.date(2018, 5, 30), Decimal('639.77'), '2018-05-30', 640),
 (41, datetime.date(2018, 5, 31), Decimal('53.75'), '2018-05-31', 54),
 (42, datetime.date(2018, 5, 31), Decimal('400.00'), '2018-05-31', 400),
 (43, datetime.date(2018, 6, 1), Decimal('21842.00'), '2018-06-01', 21842),
 (44, datetime.date(2018, 6, 1), Decimal('19.67'), '2018-06-01', 20),
 (45, datetime.date(2018, 6, 1), Decimal('2765.36'), '2018-06-01', 2765),
 (46, datetime.date(2018, 6, 3), Decimal('224.00'), '2018-06-03', 224),
 (47, datetime.date(2018, 6, 3), Decimal('1575.00'), '2018-06-03', 1575),
 (48, datetime.date(2018, 6, 3), Decimal('33.00'), '2018-06-03', 33),
 (49, datetime.date(2018, 6, 4), Decimal('16.33'), '2018-06-04', 16),
 (50, datetime.date(2018, 6, 7), Decimal('116.00'), '2018-06-07', 116),
 (51, datetime.date(2018, 6, 8), Decimal('2184.11'), '2018-06-08', 2184),
 (52, datetime.date(2018, 6, 9), Decimal('1083.58'), '2018-06-09', 1084),
 (53, datetime.date(2018, 6, 9), Decimal('46.21'), '2018-06-09', 46),
 (54, datetime.date(2018, 6, 10), Decimal('313.55'), '2018-06-10', 314),
 (55, datetime.date(2018, 6, 10), Decimal('40.75'), '2018-06-10', 41),
 (56, datetime.date(2018, 6, 11), Decimal('2433.00'), '2018-06-11', 2433),
 (57, datetime.date(2018, 6, 11), Decimal('1367.50'), '2018-06-11', 1368),
 (58, datetime.date(2018, 6, 11), Decimal('53.25'), '2018-06-11', 53),
 (59, datetime.date(2018, 6, 11), Decimal('13.75'), '2018-06-11', 14),
 (60, datetime.date(2018, 6, 12), Decimal('2312.20'), '2018-06-12', 2312),
 (61, datetime.date(2018, 6, 15), Decimal('25.67'), '2018-06-15', 26),
 (62, datetime.date(2018, 6, 15), Decimal('26.75'), '2018-06-15', 27),
 (63, datetime.date(2018, 6, 16), Decimal('2115.81'), '2018-06-16', 2116),
 (64, datetime.date(2018, 6, 17), Decimal('23.50'), '2018-06-17', 24),
 (65, datetime.date(2018, 6, 18), Decimal('6940.25'), '2018-06-18', 6940),
 (66, datetime.date(2018, 6, 18), Decimal('31.95'), '2018-06-18', 32),
 (67, datetime.date(2018, 6, 20), Decimal('1927.54'), '2018-06-20', 1928),
 (68, datetime.date(2018, 6, 21), Decimal('936.93'), '2018-06-21', 937),
 (69, datetime.date(2018, 6, 22), Decimal('175.00'), '2018-06-22', 175),
 (70, datetime.date(2018, 6, 22), Decimal('6.00'), '2018-06-22', 6),
 (71, datetime.date(2018, 6, 22), Decimal('108.50'), '2018-06-22', 109),
 (72, datetime.date(2018, 6, 22), Decimal('10.00'), '2018-06-22', 10),
 (73, datetime.date(2018, 6, 23), Decimal('290.00'), '2018-06-23', 290),
 (74, datetime.date(2018, 6, 24), Decimal('41.80'), '2018-06-24', 42),
 (75, datetime.date(2018, 6, 24), Decimal('27.00'), '2018-06-24', 27),
 (76, datetime.date(2018, 6, 24), Decimal('241.00'), '2018-06-24', 241),
 (77, datetime.date(2018, 6, 25), Decimal('904.14'), '2018-06-25', 904),
 (78, datetime.date(2018, 6, 28), Decimal('1962.13'), '2018-06-28', 1962),
 (79, datetime.date(2018, 6, 30), Decimal('2184.50'), '2018-06-30', 2185),
 (80, datetime.date(2018, 7, 1), Decimal('2318.03'), '2018-07-01', 2318),
 (81, datetime.date(2018, 7, 2), Decimal('26.25'), '2018-07-02', 26),
 (82, datetime.date(2018, 7, 5), Decimal('17.50'), '2018-07-05', 18),
 (83, datetime.date(2018, 7, 6), Decimal('39.77'), '2018-07-06', 40),
 (84, datetime.date(2018, 7, 6), Decimal('111.00'), '2018-07-06', 111),
 (85, datetime.date(2018, 7, 7), Decimal('158.00'), '2018-07-07', 158),
 (86, datetime.date(2018, 7, 7), Decimal('739.20'), '2018-07-07', 739),
 (87, datetime.date(2018, 7, 8), Decimal('60.00'), '2018-07-08', 60),
 (88, datetime.date(2018, 7, 8), Decimal('147.25'), '2018-07-08', 147),
 (89, datetime.date(2018, 7, 10), Decimal('85.31'), '2018-07-10', 85),
 (90, datetime.date(2018, 7, 12), Decimal('38.75'), '2018-07-12', 39),
 (91, datetime.date(2018, 7, 15), Decimal('32.70'), '2018-07-15', 33),
 (92, datetime.date(2018, 7, 15), Decimal('16.62'), '2018-07-15', 17),
 (93, datetime.date(2018, 7, 16), Decimal('162.75'), '2018-07-16', 163),
 (94, datetime.date(2018, 7, 18), Decimal('52.25'), '2018-07-18', 52),
 (95, datetime.date(2018, 7, 19), Decimal('600.00'), '2018-07-19', 600),
 (96, datetime.date(2018, 7, 19), Decimal('26881.40'), '2018-07-19', 26881),
 (97, datetime.date(2018, 7, 20), Decimal('356.48'), '2018-07-20', 356),
 (98, datetime.date(2018, 7, 21), Decimal('579.42'), '2018-07-21', 579),
 (99, datetime.date(2018, 7, 21), Decimal('59.97'), '2018-07-21', 60),
 (100, datetime.date(2018, 7, 22), Decimal('67.92'), '2018-07-22', 68),
 (101, datetime.date(2018, 7, 22), Decimal('30.75'), '2018-07-22', 31),
 (102, datetime.date(2018, 7, 23), Decimal('20551.18'), '2018-07-23', 20551),
 (103, datetime.date(2018, 7, 23), Decimal('2051.59'), '2018-07-23', 2052),
 (104, datetime.date(2018, 7, 23), Decimal('44.44'), '2018-07-23', 44),
 (105, datetime.date(2018, 7, 24), Decimal('503.20'), '2018-07-24', 503),
 (106, datetime.date(2018, 7, 24), Decimal('23517.58'), '2018-07-24', 23518),
 (107, datetime.date(2018, 7, 24), Decimal('3689.99'), '2018-07-24', 3690),
 (108, datetime.date(2018, 7, 24), Decimal('67.00'), '2018-07-24', 67),
 (109, datetime.date(2018, 7, 25), Decimal('1000.46'), '2018-07-25', 1000),
 (110, datetime.date(2018, 7, 28), Decimal('90.36'), '2018-07-28', 90),
 (111, datetime.date(2018, 7, 30), Decimal('22.57'), '2018-07-30', 23),
 (112, datetime.date(2018, 7, 31), Decimal('10976.06'), '2018-07-31', 10976),
 (113, datetime.date(2018, 8, 1), Decimal('224.00'), '2018-08-01', 224),
 (114, datetime.date(2018, 8, 2), Decimal('127.75'), '2018-08-02', 128),
 (115, datetime.date(2018, 8, 1), Decimal('8344.50'), '2018-08-01', 8345),
 (116, datetime.date(2018, 8, 1), Decimal('8344.50'), '2018-08-01', 8345),
 (117, datetime.date(2018, 8, 2), Decimal('270.50'), '2018-08-02', 271),
 (118, datetime.date(2018, 8, 3), Decimal('4390.00'), '2018-08-03', 4390),
 (119, datetime.date(2018, 8, 3), Decimal('565.60'), '2018-08-03', 566)]

In [29]:
%%sql # use of the char function to format output

SELECT CONCAT(vendor_name, CHAR(13,10), vendor_address1, CHAR(13,10),
              vendor_city, ', ', vendor_state, ' ', vendor_zip_code) AS format_output
FROM Vendors
WHERE vendor_id = 1;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('US Postal Service\r\nAttn:  Supt. Window Services\r\nMadison, WI 53707',)]

### Extra

In [5]:
%%sql #

SELECT invoice_total,
  FORMAT(invoice_total, 1),
  CONVERT(invoice_total, SIGNED),
  CAST(invoice_total AS SIGNED)
FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(Decimal('3813.33'), '3,813.3', 3813, 3813),
 (Decimal('40.20'), '40.2', 40, 40),
 (Decimal('138.75'), '138.8', 139, 139),
 (Decimal('144.70'), '144.7', 145, 145),
 (Decimal('15.50'), '15.5', 16, 16),
 (Decimal('42.75'), '42.8', 43, 43),
 (Decimal('172.50'), '172.5', 173, 173),
 (Decimal('95.00'), '95.0', 95, 95),
 (Decimal('601.95'), '602.0', 602, 602),
 (Decimal('42.67'), '42.7', 43, 43),
 (Decimal('42.50'), '42.5', 43, 43),
 (Decimal('662.00'), '662.0', 662, 662),
 (Decimal('16.33'), '16.3', 16, 16),
 (Decimal('6.00'), '6.0', 6, 6),
 (Decimal('856.92'), '856.9', 857, 857),
 (Decimal('9.95'), '10.0', 10, 10),
 (Decimal('10.00'), '10.0', 10, 10),
 (Decimal('104.00'), '104.0', 104, 104),
 (Decimal('116.54'), '116.5', 117, 117),
 (Decimal('6.00'), '6.0', 6, 6),
 (Decimal('4901.26'), '4,901.3', 4901, 4901),
 (Decimal('108.25'), '108.3', 108, 108),
 (Decimal('9.95'), '10.0', 10, 10),
 (Decimal('1750.00'), '1,750.0', 1750, 1750),
 (Decimal('129.00'), '129.0', 129, 129),
 (Decimal('10.00'), '10.0', 10, 10),
 (Decimal('207.78'), '207.8', 208, 208),
 (Decimal('109.50'), '109.5', 110, 110),
 (Decimal('450.00'), '450.0', 450, 450),
 (Decimal('63.40'), '63.4', 63, 63),
 (Decimal('7125.34'), '7,125.3', 7125, 7125),
 (Decimal('953.10'), '953.1', 953, 953),
 (Decimal('220.00'), '220.0', 220, 220),
 (Decimal('127.75'), '127.8', 128, 128),
 (Decimal('1600.00'), '1,600.0', 1600, 1600),
 (Decimal('565.15'), '565.2', 565, 565),
 (Decimal('36.00'), '36.0', 36, 36),
 (Decimal('61.50'), '61.5', 62, 62),
 (Decimal('37966.19'), '37,966.2', 37966, 37966),
 (Decimal('639.77'), '639.8', 640, 640),
 (Decimal('53.75'), '53.8', 54, 54),
 (Decimal('400.00'), '400.0', 400, 400),
 (Decimal('21842.00'), '21,842.0', 21842, 21842),
 (Decimal('19.67'), '19.7', 20, 20),
 (Decimal('2765.36'), '2,765.4', 2765, 2765),
 (Decimal('224.00'), '224.0', 224, 224),
 (Decimal('1575.00'), '1,575.0', 1575, 1575),
 (Decimal('33.00'), '33.0', 33, 33),
 (Decimal('16.33'), '16.3', 16, 16),
 (Decimal('116.00'), '116.0', 116, 116),
 (Decimal('2184.11'), '2,184.1', 2184, 2184),
 (Decimal('1083.58'), '1,083.6', 1084, 1084),
 (Decimal('46.21'), '46.2', 46, 46),
 (Decimal('313.55'), '313.6', 314, 314),
 (Decimal('40.75'), '40.8', 41, 41),
 (Decimal('2433.00'), '2,433.0', 2433, 2433),
 (Decimal('1367.50'), '1,367.5', 1368, 1368),
 (Decimal('53.25'), '53.3', 53, 53),
 (Decimal('13.75'), '13.8', 14, 14),
 (Decimal('2312.20'), '2,312.2', 2312, 2312),
 (Decimal('25.67'), '25.7', 26, 26),
 (Decimal('26.75'), '26.8', 27, 27),
 (Decimal('2115.81'), '2,115.8', 2116, 2116),
 (Decimal('23.50'), '23.5', 24, 24),
 (Decimal('6940.25'), '6,940.3', 6940, 6940),
 (Decimal('31.95'), '32.0', 32, 32),
 (Decimal('1927.54'), '1,927.5', 1928, 1928),
 (Decimal('936.93'), '936.9', 937, 937),
 (Decimal('175.00'), '175.0', 175, 175),
 (Decimal('6.00'), '6.0', 6, 6),
 (Decimal('108.50'), '108.5', 109, 109),
 (Decimal('10.00'), '10.0', 10, 10),
 (Decimal('290.00'), '290.0', 290, 290),
 (Decimal('41.80'), '41.8', 42, 42),
 (Decimal('27.00'), '27.0', 27, 27),
 (Decimal('241.00'), '241.0', 241, 241),
 (Decimal('904.14'), '904.1', 904, 904),
 (Decimal('1962.13'), '1,962.1', 1962, 1962),
 (Decimal('2184.50'), '2,184.5', 2185, 2185),
 (Decimal('2318.03'), '2,318.0', 2318, 2318),
 (Decimal('26.25'), '26.3', 26, 26),
 (Decimal('17.50'), '17.5', 18, 18),
 (Decimal('39.77'), '39.8', 40, 40),
 (Decimal('111.00'), '111.0', 111, 111),
 (Decimal('158.00'), '158.0', 158, 158),
 (Decimal('739.20'), '739.2', 739, 739),
 (Decimal('60.00'), '60.0', 60, 60),
 (Decimal('147.25'), '147.3', 147, 147),
 (Decimal('85.31'), '85.3', 85, 85),
 (Decimal('38.75'), '38.8', 39, 39),
 (Decimal('32.70'), '32.7', 33, 33),
 (Decimal('16.62'), '16.6', 17, 17),
 (Decimal('162.75'), '162.8', 163, 163),
 (Decimal('52.25'), '52.3', 52, 52),
 (Decimal('600.00'), '600.0', 600, 600),
 (Decimal('26881.40'), '26,881.4', 26881, 26881),
 (Decimal('356.48'), '356.5', 356, 356),
 (Decimal('579.42'), '579.4', 579, 579),
 (Decimal('59.97'), '60.0', 60, 60),
 (Decimal('67.92'), '67.9', 68, 68),
 (Decimal('30.75'), '30.8', 31, 31),
 (Decimal('20551.18'), '20,551.2', 20551, 20551),
 (Decimal('2051.59'), '2,051.6', 2052, 2052),
 (Decimal('44.44'), '44.4', 44, 44),
 (Decimal('503.20'), '503.2', 503, 503),
 (Decimal('23517.58'), '23,517.6', 23518, 23518),
 (Decimal('3689.99'), '3,690.0', 3690, 3690),
 (Decimal('67.00'), '67.0', 67, 67),
 (Decimal('1000.46'), '1,000.5', 1000, 1000),
 (Decimal('90.36'), '90.4', 90, 90),
 (Decimal('22.57'), '22.6', 23, 23),
 (Decimal('10976.06'), '10,976.1', 10976, 10976),
 (Decimal('224.00'), '224.0', 224, 224),
 (Decimal('127.75'), '127.8', 128, 128),
 (Decimal('8344.50'), '8,344.5', 8345, 8345),
 (Decimal('8344.50'), '8,344.5', 8345, 8345),
 (Decimal('270.50'), '270.5', 271, 271),
 (Decimal('4390.00'), '4,390.0', 4390, 4390),
 (Decimal('565.60'), '565.6', 566, 566)]

In [11]:
%%sql #

SELECT invoice_date,
  CAST(invoice_date AS DATETIME),
  CAST(invoice_date AS CHAR(7))
FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(datetime.date(2018, 8, 3), datetime.datetime(2018, 8, 3, 0, 0), '2018-08'),
 (datetime.date(2018, 8, 3), datetime.datetime(2018, 8, 3, 0, 0), '2018-08'),
 (datetime.date(2018, 8, 2), datetime.datetime(2018, 8, 2, 0, 0), '2018-08'),
 (datetime.date(2018, 8, 2), datetime.datetime(2018, 8, 2, 0, 0), '2018-08'),
 (datetime.date(2018, 8, 1), datetime.datetime(2018, 8, 1, 0, 0), '2018-08'),
 (datetime.date(2018, 8, 1), datetime.datetime(2018, 8, 1, 0, 0), '2018-08'),
 (datetime.date(2018, 8, 1), datetime.datetime(2018, 8, 1, 0, 0), '2018-08'),
 (datetime.date(2018, 7, 31), datetime.datetime(2018, 7, 31, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 30), datetime.datetime(2018, 7, 30, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 28), datetime.datetime(2018, 7, 28, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 25), datetime.datetime(2018, 7, 25, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 24), datetime.datetime(2018, 7, 24, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 24), datetime.datetime(2018, 7, 24, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 24), datetime.datetime(2018, 7, 24, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 24), datetime.datetime(2018, 7, 24, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 23), datetime.datetime(2018, 7, 23, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 23), datetime.datetime(2018, 7, 23, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 23), datetime.datetime(2018, 7, 23, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 22), datetime.datetime(2018, 7, 22, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 22), datetime.datetime(2018, 7, 22, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 21), datetime.datetime(2018, 7, 21, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 21), datetime.datetime(2018, 7, 21, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 20), datetime.datetime(2018, 7, 20, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 19), datetime.datetime(2018, 7, 19, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 19), datetime.datetime(2018, 7, 19, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 18), datetime.datetime(2018, 7, 18, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 16), datetime.datetime(2018, 7, 16, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 15), datetime.datetime(2018, 7, 15, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 15), datetime.datetime(2018, 7, 15, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 12), datetime.datetime(2018, 7, 12, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 10), datetime.datetime(2018, 7, 10, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 8), datetime.datetime(2018, 7, 8, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 8), datetime.datetime(2018, 7, 8, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 7), datetime.datetime(2018, 7, 7, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 7), datetime.datetime(2018, 7, 7, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 6), datetime.datetime(2018, 7, 6, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 6), datetime.datetime(2018, 7, 6, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 5), datetime.datetime(2018, 7, 5, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 2), datetime.datetime(2018, 7, 2, 0, 0), '2018-07'),
 (datetime.date(2018, 7, 1), datetime.datetime(2018, 7, 1, 0, 0), '2018-07'),
 (datetime.date(2018, 6, 30), datetime.datetime(2018, 6, 30, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 28), datetime.datetime(2018, 6, 28, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 25), datetime.datetime(2018, 6, 25, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 24), datetime.datetime(2018, 6, 24, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 24), datetime.datetime(2018, 6, 24, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 24), datetime.datetime(2018, 6, 24, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 23), datetime.datetime(2018, 6, 23, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 22), datetime.datetime(2018, 6, 22, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 22), datetime.datetime(2018, 6, 22, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 22), datetime.datetime(2018, 6, 22, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 22), datetime.datetime(2018, 6, 22, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 21), datetime.datetime(2018, 6, 21, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 20), datetime.datetime(2018, 6, 20, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 18), datetime.datetime(2018, 6, 18, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 18), datetime.datetime(2018, 6, 18, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 17), datetime.datetime(2018, 6, 17, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 16), datetime.datetime(2018, 6, 16, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 15), datetime.datetime(2018, 6, 15, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 15), datetime.datetime(2018, 6, 15, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 12), datetime.datetime(2018, 6, 12, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 11), datetime.datetime(2018, 6, 11, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 11), datetime.datetime(2018, 6, 11, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 11), datetime.datetime(2018, 6, 11, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 11), datetime.datetime(2018, 6, 11, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 10), datetime.datetime(2018, 6, 10, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 10), datetime.datetime(2018, 6, 10, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 9), datetime.datetime(2018, 6, 9, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 9), datetime.datetime(2018, 6, 9, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 8), datetime.datetime(2018, 6, 8, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 7), datetime.datetime(2018, 6, 7, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 4), datetime.datetime(2018, 6, 4, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 3), datetime.datetime(2018, 6, 3, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 3), datetime.datetime(2018, 6, 3, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 3), datetime.datetime(2018, 6, 3, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 1), datetime.datetime(2018, 6, 1, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 1), datetime.datetime(2018, 6, 1, 0, 0), '2018-06'),
 (datetime.date(2018, 6, 1), datetime.datetime(2018, 6, 1, 0, 0), '2018-06'),
 (datetime.date(2018, 5, 31), datetime.datetime(2018, 5, 31, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 31), datetime.datetime(2018, 5, 31, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 30), datetime.datetime(2018, 5, 30, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 28), datetime.datetime(2018, 5, 28, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 26), datetime.datetime(2018, 5, 26, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 25), datetime.datetime(2018, 5, 25, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 25), datetime.datetime(2018, 5, 25, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 25), datetime.datetime(2018, 5, 25, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 23), datetime.datetime(2018, 5, 23, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 23), datetime.datetime(2018, 5, 23, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 21), datetime.datetime(2018, 5, 21, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 21), datetime.datetime(2018, 5, 21, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 20), datetime.datetime(2018, 5, 20, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 19), datetime.datetime(2018, 5, 19, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 16), datetime.datetime(2018, 5, 16, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 15), datetime.datetime(2018, 5, 15, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 14), datetime.datetime(2018, 5, 14, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 13), datetime.datetime(2018, 5, 13, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 13), datetime.datetime(2018, 5, 13, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 13), datetime.datetime(2018, 5, 13, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 11), datetime.datetime(2018, 5, 11, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 11), datetime.datetime(2018, 5, 11, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 10), datetime.datetime(2018, 5, 10, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 7), datetime.datetime(2018, 5, 7, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 6), datetime.datetime(2018, 5, 6, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 5), datetime.datetime(2018, 5, 5, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 3), datetime.datetime(2018, 5, 3, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 3), datetime.datetime(2018, 5, 3, 0, 0), '2018-05'),
 (datetime.date(2018, 5, 1), datetime.datetime(2018, 5, 1, 0, 0), '2018-05'),
 (datetime.date(2018, 4, 30), datetime.datetime(2018, 4, 30, 0, 0), '2018-04'),
 (datetime.date(2018, 4, 26), datetime.datetime(2018, 4, 26, 0, 0), '2018-04'),
 (datetime.date(2018, 4, 25), datetime.datetime(2018, 4, 25, 0, 0), '2018-04'),
 (datetime.date(2018, 4, 24), datetime.datetime(2018, 4, 24, 0, 0), '2018-04'),
 (datetime.date(2018, 4, 24), datetime.datetime(2018, 4, 24, 0, 0), '2018-04'),
 (datetime.date(2018, 4, 24), datetime.datetime(2018, 4, 24, 0, 0), '2018-04'),
 (datetime.date(2018, 4, 21), datetime.datetime(2018, 4, 21, 0, 0), '2018-04'),
 (datetime.date(2018, 4, 16), datetime.datetime(2018, 4, 16, 0, 0), '2018-04'),
 (datetime.date(2018, 4, 16), datetime.datetime(2018, 4, 16, 0, 0), '2018-04'),
 (datetime.date(2018, 4, 16), datetime.datetime(2018, 4, 16, 0, 0), '2018-04'),
 (datetime.date(2018, 4, 13), datetime.datetime(2018, 4, 13, 0, 0), '2018-04'),
 (datetime.date(2018, 4, 10), datetime.datetime(2018, 4, 10, 0, 0), '2018-04'),
 (datetime.date(2018, 4, 8), datetime.datetime(2018, 4, 8, 0, 0), '2018-04')]

### The end...