In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://w-alkao:mypassword@localhost

In [3]:
%sql SHOW DATABASES;

 * mysql+pymysql://w-alkao:***@localhost
8 rows affected.

[('ap',),
 ('ex',),
 ('information_schema',),
 ('livestock',),
 ('mysql',),
 ('om',),
 ('performance_schema',),
 ('sys',)]

In [4]:
%sql USE ap

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

### Some other functions

In [6]:
%sql SELECT * FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 1, datetime.date(2018, 5, 8), datetime.date(2018, 5, 7)),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), datetime.date(2018, 5, 14)),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), datetime.date(2018, 5, 9)),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 12)),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 11)),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 21)),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), datetime.date(2018, 5, 22)),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), datetime.date(2018, 5, 1)),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 1, datetime.date(2018, 5, 24), datetime.date(2018, 5, 21)),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 22)),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), datetime.date(2018, 5, 20)),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 2, datetime.date(2018, 5, 16), datetime.date(2018, 5, 13)),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 5, 20), datetime.date(2018, 5, 23)),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 10), datetime.date(2018, 6, 10)),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 1, datetime.date(2018, 6, 2), datetime.date(2018, 5, 30)),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), datetime.date(2018, 5, 22)),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), datetime.date(2018, 6, 5)),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), datetime.date(2018, 6, 5)),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), datetime.date(2018, 5, 19)),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 15)),
 (21, 119, '10843', datetime.date(2018, 5, 11), Decimal('4901.26'), Decimal('4901.26'), Decimal('0.00'), 2, datetime.date(2018, 5, 31), datetime.date(2018, 5, 29)),
 (22, 123, '963253235', datetime.date(2018, 5, 11), Decimal('108.25'), Decimal('108.25'), Decimal('0.00'), 3, datetime.date(2018, 6, 10), datetime.date(2018, 6, 9)),
 (23, 97, '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 6, 2), datetime.date(2018, 5, 28)),
 (24, 113, '77290', datetime.date(2018, 5, 13), Decimal('1750.00'), Decimal('1750.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 2), datetime.date(2018, 7, 5)),
 (25, 123, '963253246', datetime.date(2018, 5, 13), Decimal('129.00'), Decimal('129.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 12), datetime.date(2018, 6, 9)),
 (26, 123, '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 13), datetime.date(2018, 6, 13)),
 (27, 88, '972110', datetime.date(2018, 5, 15), Decimal('207.78'), Decimal('207.78'), Decimal('0.00'), 1, datetime.date(2018, 5, 25), datetime.date(2018, 5, 27)),
 (28, 123, '963253263', datetime.date(2018, 5, 16), Decimal('109.50'), Decimal('109.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 15), datetime.date(2018, 6, 10)),
 (29, 108, '121897', datetime.date(2018, 5, 19), Decimal('450.00'), Decimal('450.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 28), datetime.date(2018, 7, 3)),
 (30, 123, '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40'), Decimal('63.40'), Decimal('0.00'), 3, datetime.date(2018, 6, 19), datetime.date(2018, 6, 24)),
 (31, 104, 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34'), Decimal('7125.34'), Decimal('0.00'), 1, datetime.date(2018, 6, 20), datetime.date(2018, 6, 24)),
 (32, 121, '97/486', datetime.date(2018, 5, 21), Decimal('953.10'), Decimal('953.10'), Decimal('0.00'), 1, datetime.date(2018, 6, 20), datetime.date(2018, 6, 22)),
 (33, 105, '94007005', datetime.date(2018, 5, 23), Decimal('220.00'), Decimal('220.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 22), datetime.date(2018, 6, 26)),
 (34, 123, '963253232', datetime.date(2018, 5, 23), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 18)),
 (35, 107, 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00'), Decimal('1600.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 4), datetime.date(2018, 7, 9)),
 (36, 121, '97/465', datetime.date(2018, 5, 25), Decimal('565.15'), Decimal('565.15'), Decimal('0.00'), 1, datetime.date(2018, 6, 24), datetime.date(2018, 6, 24)),
 (37, 123, '963253260', datetime.date(2018, 5, 25), Decimal('36.00'), Decimal('36.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (38, 123, '963253272', datetime.date(2018, 5, 26), Decimal('61.50'), Decimal('61.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 25), datetime.date(2018, 6, 30)),
 (39, 110, '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19'), Decimal('37966.19'), Decimal('0.00'), 3, datetime.date(2018, 6, 27), datetime.date(2018, 6, 30)),
 (40, 121, '97/503', datetime.date(2018, 5, 30), Decimal('639.77'), Decimal('639.77'), Decimal('0.00'), 1, datetime.date(2018, 6, 29), datetime.date(2018, 6, 25)),
 (41, 123, '963253255', datetime.date(2018, 5, 31), Decimal('53.75'), Decimal('53.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 6, 27)),
 (42, 123, '94007069', datetime.date(2018, 5, 31), Decimal('400.00'), Decimal('400.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 7, 1)),
 (43, 72, '40318', datetime.date(2018, 6, 1), Decimal('21842.00'), Decimal('21842.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 29)),
 (44, 95, '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67'), Decimal('19.67'), Decimal('0.00'), 2, datetime.date(2018, 6, 21), datetime.date(2018, 6, 24)),
 (45, 122, '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36'), Decimal('2765.36'), Decimal('0.00'), 1, datetime.date(2018, 7, 1), datetime.date(2018, 6, 28)),
 (46, 37, '547481328', datetime.date(2018, 6, 3), Decimal('224.00'), Decimal('224.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 7, 4)),
 (47, 83, '31359783', datetime.date(2018, 6, 3), Decimal('1575.00'), Decimal('1575.00'), Decimal('0.00'), 2, datetime.date(2018, 6, 23), datetime.date(2018, 6, 21)),
 (48, 123, '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00'), Decimal('33.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 5)),
 (49, 95, '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (50, 37, '547479217', datetime.date(2018, 6, 7), Decimal('116.00'), Decimal('116.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 7), datetime.date(2018, 7, 7)),
 (51, 122, '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11'), Decimal('2184.11'), Decimal('0.00'), 1, datetime.date(2018, 7, 8), datetime.date(2018, 7, 8)),
 (52, 34, 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58'), Decimal('1083.58'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 23)),
 (53, 95, '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21'), Decimal('46.21'), Decimal('0.00'), 2, datetime.date(2018, 6, 29), datetime.date(2018, 7, 2)),
 (54, 121, '97/553B', datetime.date(2018, 6, 10), Decimal('313.55'), Decimal('313.55'), Decimal('0.00'), 1, datetime.date(2018, 7, 10), datetime.date(2018, 7, 9)),
 (55, 123, '963253245', datetime.date(2018, 6, 10), Decimal('40.75'), Decimal('40.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 12)),
 (56, 86, '367447', datetime.date(2018, 6, 11), Decimal('2433.00'), Decimal('2433.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 17)),
 (57, 103, '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50'), Decimal('1367.50'), Decimal('0.00'), 5, datetime.date(2018, 7, 31), datetime.date(2018, 7, 31)),
 (58, 123, '963253256', datetime.date(2018, 6, 11), Decimal('53.25'), Decimal('53.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 7)),
 (59, 123, '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75'), Decimal('13.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 15)),
 (60, 122, '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20'), Decimal('2312.20'), Decimal('0.00'), 1, datetime.date(2018, 7, 12), datetime.date(2018, 7, 9)),
 (61, 115, '24946731', datetime.date(2018, 6, 15), Decimal('25.67'), Decimal('25.67'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 26)),
 (62, 123, '963253269', datetime.date(2018, 6, 15), Decimal('26.75'), Decimal('26.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 15), datetime.date(2018, 7, 11)),
 (63, 122, '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81'), Decimal('2115.81'), Decimal('0.00'), 1, datetime.date(2018, 7, 16), datetime.date(2018, 7, 19)),
 (64, 123, '963253267', datetime.date(2018, 6, 17), Decimal('23.50'), Decimal('23.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 17), datetime.date(2018, 7, 19)),
 (65, 99, '509786', datetime.date(2018, 6, 18), Decimal('6940.25'), Decimal('6940.25'), Decimal('0.00'), 1, datetime.date(2018, 7, 18), datetime.date(2018, 7, 15)),
 (66, 123, '263253253', datetime.date(2018, 6, 18), Decimal('31.95'), Decimal('31.95'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 21)),
 (67, 122, '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54'), Decimal('1927.54'), Decimal('0.00'), 1, datetime.date(2018, 7, 20), datetime.date(2018, 7, 18)),
 (68, 81, 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93'), Decimal('936.93'), Decimal('0.00'), 2, datetime.date(2018, 7, 11), datetime.date(2018, 7, 10)),
 (69, 80, '133560', datetime.date(2018, 6, 22), Decimal('175.00'), Decimal('175.00'), Decimal('0.00'), 2, datetime.date(2018, 7, 12), datetime.date(2018, 7, 16)),
 (70, 115, '24780512', datetime.date(2018, 6, 22), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 1), datetime.date(2018, 7, 29)),
 (71, 123, '963253254', datetime.date(2018, 6, 22), Decimal('108.50'), Decimal('108.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 20)),
 (72, 123, '43966316', datetime.date(2018, 6, 22), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 17)),
 (73, 114, 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00'), Decimal('290.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 6, 29)),
 (74, 102, '109596', datetime.date(2018, 6, 24), Decimal('41.80'), Decimal('41.80'), Decimal('0.00'), 1, datetime.date(2018, 8, 3), datetime.date(2018, 8, 4)),
 (75, 123, '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00'), Decimal('27.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 24)),
 (76, 123, '963253248', datetime.date(2018, 6, 24), Decimal('241.00'), Decimal('241.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 25)),
 (77, 121, '97/553', datetime.date(2018, 6, 25), Decimal('904.14'), Decimal('904.14'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 25)),
 (78, 121, '97/522', datetime.date(2018, 6, 28), Decimal('1962.13'), Decimal('19351.18'), Decimal('300.00'), 1, datetime.date(2018, 7, 28), datetime.date(2018, 9, 21)),
 (79, 100, '587056', datetime.date(2018, 6, 30), Decimal('2184.50'), Decimal('2184.50'), Decimal('0.00'), 1, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (80, 122, '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03'), Decimal('2318.03'), Decimal('0.00'), 1, datetime.date(2018, 7, 31), datetime.date(2018, 7, 29)),
 (81, 123, '263253265', datetime.date(2018, 7, 2), Decimal('26.25'), Decimal('26.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 1), datetime.date(2018, 7, 28)),
 (82, 94, '203339-13', datetime.date(2018, 7, 5), Decimal('17.50'), Decimal('17.50'), Decimal('0.00'), 2, datetime.date(2018, 7, 25), datetime.date(2018, 7, 27)),
 (83, 95, '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77'), Decimal('39.77'), Decimal('0.00'), 2, datetime.date(2018, 7, 26), datetime.date(2018, 7, 22)),
 (84, 123, '963253258', datetime.date(2018, 7, 6), Decimal('111.00'), Decimal('111.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 5), datetime.date(2018, 8, 5)),
 (85, 123, '963253271', datetime.date(2018, 7, 7), Decimal('158.00'), Decimal('158.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 11)),
 (86, 123, '963253230', datetime.date(2018, 7, 7), Decimal('739.20'), Decimal('739.20'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 6)),
 (87, 123, '963253244', datetime.date(2018, 7, 8), Decimal('60.00'), Decimal('60.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 9)),
 (88, 123, '963253239', datetime.date(2018, 7, 8), Decimal('147.25'), Decimal('147.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 11)),
 (89, 72, '39104', datetime.date(2018, 7, 10), Decimal('85.31'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 9), None),
 (90, 123, '963253252', datetime.date(2018, 7, 12), Decimal('38.75'), Decimal('38.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 11), datetime.date(2018, 8, 11)),
 (91, 95, '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70'), Decimal('32.70'), Decimal('0.00'), 2, datetime.date(2018, 8, 4), datetime.date(2018, 8, 6)),
 (92, 117, '111897', datetime.date(2018, 7, 15), Decimal('16.62'), Decimal('16.62'), Decimal('0.00'), 1, datetime.date(2018, 8, 14), datetime.date(2018, 8, 14)),
 (93, 123, '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75'), Decimal('162.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 15), datetime.date(2018, 8, 11)),
 (94, 123, '963253264', datetime.date(2018, 7, 18), Decimal('52.25'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 17), None),
 (95, 82, 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00'), Decimal('600.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 8), datetime.date(2018, 8, 13)),
 (96, 110, 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40'), Decimal('26881.40'), Decimal('0.00'), 3, datetime.date(2018, 8, 18), datetime.date(2018, 8, 20)),
 (97, 90, '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48'), Decimal('356.48'), Decimal('0.00'), 2, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (98, 83, '31361833', datetime.date(2018, 7, 21), Decimal('579.42'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 10), None),
 (99, 123, '263253268', datetime.date(2018, 7, 21), Decimal('59.97'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 20), None),
 (100, 123, '263253270', datetime.date(2018, 7, 22), Decimal('67.92'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (101, 123, '263253273', datetime.date(2018, 7, 22), Decimal('30.75'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (102, 110, 'P-0608', datetime.date(2018, 7, 23), Decimal('20551.18'), Decimal('0.00'), Decimal('1200.00'), 3, datetime.date(2018, 8, 22), None),
 (103, 122, '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59'), Decimal('2051.59'), Decimal('0.00'), 1, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (104, 123, '263253243', datetime.date(2018, 7, 23), Decimal('44.44'), Decimal('44.44'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (105, 106, '9982771', datetime.date(2018, 7, 24), Decimal('503.20'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 23), None),
 (106, 110, '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58'), Decimal('21221.63'), Decimal('2295.95'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 27)),
 (107, 122, '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99'), Decimal('3689.99'), Decimal('0.00'), 1, datetime.date(2018, 8, 23), datetime.date(2018, 8, 19)),
 (108, 123, '963253240', datetime.date(2018, 7, 24), Decimal('67.00'), Decimal('67.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 23)),
 (109, 121, '97/222', datetime.date(2018, 7, 25), Decimal('1000.46'), Decimal('1000.46'), Decimal('0.00'), 1, datetime.date(2018, 8, 24), datetime.date(2018, 8, 22)),
 (110, 80, '134116', datetime.date(2018, 7, 28), Decimal('90.36'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 17), None),
 (111, 123, '263253257', datetime.date(2018, 7, 30), Decimal('22.57'), Decimal('22.57'), Decimal('0.00'), 3, datetime.date(2018, 8, 29), datetime.date(2018, 9, 3)),
 (112, 110, '0-2436', datetime.date(2018, 7, 31), Decimal('10976.06'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 30), None),
 (113, 37, '547480102', datetime.date(2018, 8, 1), Decimal('224.00'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (114, 123, '963253249', datetime.date(2018, 8, 2), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 9, 1), datetime.date(2018, 9, 4)),
 (115, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 31), None),
 (116, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 31), None),
 (117, 97, '456701', datetime.date(2018, 8, 2), Decimal('270.50'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 9, 1), None),
 (118, 97, '456791', datetime.date(2018, 8, 3), Decimal('4390.00'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 9, 2), None),
 (119, 97, '456792', datetime.date(2018, 8, 3), Decimal('565.60'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 9, 2), None)]

In [7]:
%%sql # select statement that uses a simple CASE function

SELECT invoice_number, terms_id,
  CASE terms_id
    WHEN 1 THEN 'Net due 10 days'
    WHEN 2 THEN 'Net due 20 days'
    WHEN 3 THEN 'Net due 30 days'
    WHEN 4 THEN 'Net due 40 days'
    WHEN 5 THEN 'Net due 50 days'
  END AS terms
FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[('989319-457', 1, 'Net due 10 days'),
 ('263253241', 3, 'Net due 30 days'),
 ('963253234', 3, 'Net due 30 days'),
 ('2-000-2993', 3, 'Net due 30 days'),
 ('963253251', 3, 'Net due 30 days'),
 ('963253261', 3, 'Net due 30 days'),
 ('963253237', 3, 'Net due 30 days'),
 ('125520-1', 1, 'Net due 10 days'),
 ('97/488', 1, 'Net due 10 days'),
 ('263253250', 3, 'Net due 30 days'),
 ('963253262', 3, 'Net due 30 days'),
 ('I77271-O01', 2, 'Net due 20 days'),
 ('111-92R-10096', 2, 'Net due 20 days'),
 ('25022117', 1, 'Net due 10 days'),
 ('P02-88D77S7', 1, 'Net due 10 days'),
 ('21-4748363', 2, 'Net due 20 days'),
 ('4-321-2596', 3, 'Net due 30 days'),
 ('963253242', 3, 'Net due 30 days'),
 ('QP58872', 1, 'Net due 10 days'),
 ('24863706', 1, 'Net due 10 days'),
 ('10843', 2, 'Net due 20 days'),
 ('963253235', 3, 'Net due 30 days'),
 ('21-4923721', 2, 'Net due 20 days'),
 ('77290', 1, 'Net due 10 days'),
 ('963253246', 3, 'Net due 30 days'),
 ('4-342-8069', 3, 'Net due 30 days'),
 ('972110', 1, 'Net due 10 days'),
 ('963253263', 3, 'Net due 30 days'),
 ('121897', 1, 'Net due 10 days'),
 ('1-200-5164', 3, 'Net due 30 days'),
 ('P02-3772', 1, 'Net due 10 days'),
 ('97/486', 1, 'Net due 10 days'),
 ('94007005', 1, 'Net due 10 days'),
 ('963253232', 3, 'Net due 30 days'),
 ('RTR-72-3662-X', 1, 'Net due 10 days'),
 ('97/465', 1, 'Net due 10 days'),
 ('963253260', 3, 'Net due 30 days'),
 ('963253272', 3, 'Net due 30 days'),
 ('0-2058', 3, 'Net due 30 days'),
 ('97/503', 1, 'Net due 10 days'),
 ('963253255', 3, 'Net due 30 days'),
 ('94007069', 3, 'Net due 30 days'),
 ('40318', 3, 'Net due 30 days'),
 ('111-92R-10094', 2, 'Net due 20 days'),
 ('989319-437', 1, 'Net due 10 days'),
 ('547481328', 1, 'Net due 10 days'),
 ('31359783', 2, 'Net due 20 days'),
 ('1-202-2978', 3, 'Net due 30 days'),
 ('111-92R-10097', 2, 'Net due 20 days'),
 ('547479217', 1, 'Net due 10 days'),
 ('989319-477', 1, 'Net due 10 days'),
 ('Q545443', 1, 'Net due 10 days'),
 ('111-92R-10092', 2, 'Net due 20 days'),
 ('97/553B', 1, 'Net due 10 days'),
 ('963253245', 3, 'Net due 30 days'),
 ('367447', 1, 'Net due 10 days'),
 ('75C-90227', 5, 'Net due 50 days'),
 ('963253256', 3, 'Net due 30 days'),
 ('4-314-3057', 3, 'Net due 30 days'),
 ('989319-497', 1, 'Net due 10 days'),
 ('24946731', 1, 'Net due 10 days'),
 ('963253269', 3, 'Net due 30 days'),
 ('989319-427', 1, 'Net due 10 days'),
 ('963253267', 3, 'Net due 30 days'),
 ('509786', 1, 'Net due 10 days'),
 ('263253253', 3, 'Net due 30 days'),
 ('989319-487', 1, 'Net due 10 days'),
 ('MABO1489', 2, 'Net due 20 days'),
 ('133560', 2, 'Net due 20 days'),
 ('24780512', 1, 'Net due 10 days'),
 ('963253254', 3, 'Net due 30 days'),
 ('43966316', 3, 'Net due 30 days'),
 ('CBM9920-M-T77109', 1, 'Net due 10 days'),
 ('109596', 1, 'Net due 10 days'),
 ('7548906-20', 3, 'Net due 30 days'),
 ('963253248', 3, 'Net due 30 days'),
 ('97/553', 1, 'Net due 10 days'),
 ('97/522', 1, 'Net due 10 days'),
 ('587056', 1, 'Net due 10 days'),
 ('989319-467', 1, 'Net due 10 days'),
 ('263253265', 3, 'Net due 30 days'),
 ('203339-13', 2, 'Net due 20 days'),
 ('111-92R-10093', 2, 'Net due 20 days'),
 ('963253258', 3, 'Net due 30 days'),
 ('963253271', 3, 'Net due 30 days'),
 ('963253230', 3, 'Net due 30 days'),
 ('963253244', 3, 'Net due 30 days'),
 ('963253239', 3, 'Net due 30 days'),
 ('39104', 3, 'Net due 30 days'),
 ('963253252', 3, 'Net due 30 days'),
 ('111-92R-10095', 2, 'Net due 20 days'),
 ('111897', 1, 'Net due 10 days'),
 ('4-327-7357', 3, 'Net due 30 days'),
 ('963253264', 3, 'Net due 30 days'),
 ('C73-24', 2, 'Net due 20 days'),
 ('P-0259', 3, 'Net due 30 days'),
 ('97-1024A', 2, 'Net due 20 days'),
 ('31361833', 2, 'Net due 20 days'),
 ('263253268', 3, 'Net due 30 days'),
 ('263253270', 3, 'Net due 30 days'),
 ('263253273', 3, 'Net due 30 days'),
 ('P-0608', 3, 'Net due 30 days'),
 ('989319-417', 1, 'Net due 10 days'),
 ('263253243', 3, 'Net due 30 days'),
 ('9982771', 1, 'Net due 10 days'),
 ('0-2060', 3, 'Net due 30 days'),
 ('989319-447', 1, 'Net due 10 days'),
 ('963253240', 3, 'Net due 30 days'),
 ('97/222', 1, 'Net due 10 days'),
 ('134116', 2, 'Net due 20 days'),
 ('263253257', 3, 'Net due 30 days'),
 ('0-2436', 3, 'Net due 30 days'),
 ('547480102', 1, 'Net due 10 days'),
 ('963253249', 3, 'Net due 30 days'),
 ('456789', 2, 'Net due 20 days'),
 ('456789', 2, 'Net due 20 days'),
 ('456701', 2, 'Net due 20 days'),
 ('456791', 2, 'Net due 20 days'),
 ('456792', 2, 'Net due 20 days')]

In [10]:
%%sql # select statement that uses a searched CASE function

SELECT invoice_number, invoice_total, invoice_date, invoice_due_date,
  CASE
    WHEN DATEDIFF('2018-09-13	', invoice_due_date) > 30
      THEN 'Over 30 days past due'
    WHEN DATEDIFF('2018-09-13	', invoice_due_date) > 0
      THEN '1 to 30 days past due'
    ELSE 'Current'
  END AS invoice_status
FROM Invoices
WHERE invoice_total - payment_total - credit_total > 0;

 * mysql+pymysql://w-alkao:***@localhost
16 rows affected.

[('39104', Decimal('85.31'), datetime.date(2018, 7, 10), datetime.date(2018, 8, 9), 'Over 30 days past due'),
 ('963253264', Decimal('52.25'), datetime.date(2018, 7, 18), datetime.date(2018, 8, 17), '1 to 30 days past due'),
 ('31361833', Decimal('579.42'), datetime.date(2018, 7, 21), datetime.date(2018, 8, 10), 'Over 30 days past due'),
 ('263253268', Decimal('59.97'), datetime.date(2018, 7, 21), datetime.date(2018, 8, 20), '1 to 30 days past due'),
 ('263253270', Decimal('67.92'), datetime.date(2018, 7, 22), datetime.date(2018, 8, 21), '1 to 30 days past due'),
 ('263253273', Decimal('30.75'), datetime.date(2018, 7, 22), datetime.date(2018, 8, 21), '1 to 30 days past due'),
 ('P-0608', Decimal('20551.18'), datetime.date(2018, 7, 23), datetime.date(2018, 8, 22), '1 to 30 days past due'),
 ('9982771', Decimal('503.20'), datetime.date(2018, 7, 24), datetime.date(2018, 8, 23), '1 to 30 days past due'),
 ('134116', Decimal('90.36'), datetime.date(2018, 7, 28), datetime.date(2018, 8, 17), '1 to 30 days past due'),
 ('0-2436', Decimal('10976.06'), datetime.date(2018, 7, 31), datetime.date(2018, 8, 30), '1 to 30 days past due'),
 ('547480102', Decimal('224.00'), datetime.date(2018, 8, 1), datetime.date(2018, 8, 31), '1 to 30 days past due'),
 ('456789', Decimal('8344.50'), datetime.date(2018, 8, 1), datetime.date(2018, 8, 31), '1 to 30 days past due'),
 ('456789', Decimal('8344.50'), datetime.date(2018, 8, 1), datetime.date(2018, 8, 31), '1 to 30 days past due'),
 ('456701', Decimal('270.50'), datetime.date(2018, 8, 2), datetime.date(2018, 9, 1), '1 to 30 days past due'),
 ('456791', Decimal('4390.00'), datetime.date(2018, 8, 3), datetime.date(2018, 9, 2), '1 to 30 days past due'),
 ('456792', Decimal('565.60'), datetime.date(2018, 8, 3), datetime.date(2018, 9, 2), '1 to 30 days past due')]

In [11]:
%%sql # IF function: return vendor name and yes if vendor city is fresno and no else

SELECT vendor_name, vendor_city,
  IF(vendor_city = 'Fresno', 'Yes', 'No') AS is_city_fresno
FROM Vendors;

 * mysql+pymysql://w-alkao:***@localhost
122 rows affected.

[('US Postal Service', 'Madison', 'No'),
 ('National Information Data Ctr', 'Washington', 'No'),
 ('Register of Copyrights', 'Washington', 'No'),
 ('Jobtrak', 'Los Angeles', 'No'),
 ('Newbrige Book Clubs', 'Washington', 'No'),
 ('California Chamber Of Commerce', 'Sacramento', 'No'),
 ("Towne Advertiser's Mailing Svcs", 'Santa Ana', 'No'),
 ('BFI Industries', 'Fresno', 'Yes'),
 ('Pacific Gas & Electric', 'San Francisco', 'No'),
 ('Robbins Mobile Lock And Key', 'Fresno', 'Yes'),
 ('Bill Marvin Electric Inc', 'Fresno', 'Yes'),
 ('City Of Fresno', 'Fresno', 'Yes'),
 ('Golden Eagle Insurance Co', 'San Diego', 'No'),
 ('Expedata Inc', 'Fresno', 'Yes'),
 ('ASC Signs', 'Fresno', 'Yes'),
 ('Internal Revenue Service', 'Fresno', 'Yes'),
 ('Blanchard & Johnson Associates', 'Mission Viejo', 'No'),
 ('Fresno Photoengraving Company', 'Fresno', 'Yes'),
 ('Crown Printing', 'Fresno', 'Yes'),
 ('Diversified Printing & Pub', 'Brea', 'No'),
 ('The Library Ltd', 'St Louis', 'No'),
 ('Micro Center', 'Columbus', 'No'),
 ('Yale Industrial Trucks-Fresno', 'Fresno', 'Yes'),
 ('Zee Medical Service Co', 'Washington', 'No'),
 ('California Data Marketing', 'Fresno', 'Yes'),
 ('Small Press', 'Traverse City', 'No'),
 ('Rich Advertising', 'Fairfield', 'No'),
 ('Vision Envelope & Printing', 'Gardena', 'No'),
 ('Costco', 'Fresno', 'Yes'),
 ('Enterprise Communications Inc', 'Mclean', 'No'),
 ('RR Bowker', 'East Brunswick', 'No'),
 ('Nielson', 'Cincinnati', 'No'),
 ('IBM', 'San Francisco', 'No'),
 ('Cal State Termite', 'Selma', 'No'),
 ('Graylift', 'Fresno', 'Yes'),
 ('Blue Cross', 'Oxnard', 'No'),
 ("Venture Communications Int'l", 'New York', 'No'),
 ('Custom Printing Company', 'St Louis', 'No'),
 ('Nat Assoc of College Stores', 'Oberlin', 'No'),
 ('Shields Design', 'Fresno', 'Yes'),
 ('Opamp Technical Books', 'Los Angeles', 'No'),
 ('Capital Resource Credit', 'Minneapolis', 'No'),
 ('Courier Companies, Inc', 'Boston', 'No'),
 ('Naylor Publications Inc', 'Jacksonville', 'No'),
 ('Open Horizons Publishing', 'Fairfield', 'No'),
 ('Baker & Taylor Books', 'Charlotte', 'No'),
 ('Fresno County Tax Collector', 'Fresno', 'Yes'),
 ('Mcgraw Hill Companies', 'Chicago', 'No'),
 ('Publishers Weekly', 'Marion', 'No'),
 ('Blue Shield of California', 'Anaheim', 'No'),
 ('Aztek Label', 'Anaheim', 'No'),
 ('Gary McKeighan Insurance', 'Fresno', 'Yes'),
 ('Ph Photographic Services', 'Fresno', 'Yes'),
 ('Quality Education Data', 'Chicago', 'No'),
 ('Springhouse Corp', 'Philadelphia', 'No'),
 ('The Windows Deck', 'Santa Barbara', 'No'),
 ('Fresno Rack & Shelving Inc', 'Fresno', 'Yes'),
 ('Publishers Marketing Assoc', 'Manhatttan Beach', 'No'),
 ('The Mailers Guide Co', 'New Rochelle', 'No'),
 ('American Booksellers Assoc', 'Tarrytown', 'No'),
 ('Cmg Information Services', 'Boston', 'No'),
 ("Lou Gentile's Flower Basket", 'Fresno', 'Yes'),
 ('Texaco', 'Inglewood', 'No'),
 ('The Drawing Board', 'Carol Stream', 'No'),
 ('Ascom Hasler Mailing Systems', 'Shelton', 'No'),
 ('Bill Jones', 'Sacramento', 'No'),
 ('Computer Library', 'Phoenix', 'No'),
 ('Frank E Wilber Co', 'Fresno', 'Yes'),
 ('Fresno Credit Bureau', 'Fresno', 'Yes'),
 ('The Fresno Bee', 'Fresno', 'Yes'),
 ('Data Reproductions Corp', 'Auburn Hills', 'No'),
 ('Executive Office Products', 'Fresno', 'Yes'),
 ('Leslie Company', 'Olathe', 'No'),
 ('Retirement Plan Consultants', 'Fresno', 'Yes'),
 ('Simon Direct Inc', 'East Brunswick', 'No'),
 ('State Board Of Equalization', 'Sacramento', 'No'),
 ('The Presort Center', 'Fresno', 'Yes'),
 ('Valprint', 'Fresno', 'Yes'),
 ('Cardinal Business Media, Inc.', 'Philadelphia', 'No'),
 ('Wang Laboratories, Inc.', 'Pasadena', 'No'),
 ("Reiter's Scientific & Pro Books", 'Washington', 'No'),
 ('Ingram', 'Dallas', 'No'),
 ('Boucher Communications Inc', 'Fort Washington', 'No'),
 ('Champion Printing Company', 'Cincinnati', 'No'),
 ('Computerworld', 'San Francisco', 'No'),
 ('DMV Renewal', 'Sacramento', 'No'),
 ('Edward Data Services', 'Cleves', 'No'),
 ('Evans Executone Inc', 'Turlock', 'No'),
 ('Wakefield Co', 'Fresno', 'Yes'),
 ('McKesson Water Products', 'Pasadena', 'No'),
 ('Zip Print & Copy Center', 'Fresno', 'Yes'),
 ('AT&T', 'Phoenix', 'No'),
 ('Abbey Office Furnishings', 'Fresno', 'Yes'),
 ('Pacific Bell', 'Sacramento', 'No'),
 ('Wells Fargo Bank', 'Phoenix', 'No'),
 ('Compuserve', 'Columbus', 'No'),
 ('American Express', 'Los Angeles', 'No'),
 ('Bertelsmann Industry Svcs. Inc', 'Valencia', 'No'),
 ('Cahners Publishing Company', 'The Lake', 'No'),
 ('California Business Machines', 'Fresno', 'Yes'),
 ('Coffee Break Service', 'Fresno', 'Yes'),
 ('Dean Witter Reynolds', 'Boston', 'No'),
 ('Digital Dreamworks', 'Fresno', 'Yes'),
 ('Dristas Groom & McCormick', 'Fresno', 'Yes'),
 ('Ford Motor Credit Company', 'Los Angeles', 'No'),
 ('Franchise Tax Board', 'Sacramento', 'No'),
 ('Gostanian General Building', 'Fresno', 'Yes'),
 ('Kent H Landsberg Co', 'San Francisco', 'No'),
 ('Malloy Lithographing Inc', 'Ann Arbor', 'No'),
 ('Net Asset, Llc', 'Fresno', 'Yes'),
 ('Office Depot', 'Los Angeles', 'No'),
 ('Pollstar', 'Fresno', 'Yes'),
 ('Postmaster', 'Fresno', 'Yes'),
 ('Roadway Package System, Inc', 'Pasadena', 'No'),
 ('State of California', 'Sacramento', 'No'),
 ('Suburban Propane', 'Fresno', 'Yes'),
 ('Unocal', 'Pasadena', 'No'),
 ('Yesmed, Inc', 'Fresno', 'Yes'),
 ('Dataforms/West', 'Fresno', 'Yes'),
 ('Zylka Design', 'Fresno', 'Yes'),
 ('United Parcel Service', 'Reno', 'No'),
 ('Federal Express Corporation', 'Memphis', 'No')]

In [12]:
%%sql # IFNULL function: return payment date and subtitues null values with 'No payment'

SELECT payment_date,
  IFNULL(payment_date, 'No payment') AS new_date
FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(datetime.date(2018, 5, 7), '2018-05-07'),
 (datetime.date(2018, 5, 14), '2018-05-14'),
 (datetime.date(2018, 5, 9), '2018-05-09'),
 (datetime.date(2018, 5, 12), '2018-05-12'),
 (datetime.date(2018, 5, 11), '2018-05-11'),
 (datetime.date(2018, 5, 21), '2018-05-21'),
 (datetime.date(2018, 5, 22), '2018-05-22'),
 (datetime.date(2018, 5, 1), '2018-05-01'),
 (datetime.date(2018, 5, 21), '2018-05-21'),
 (datetime.date(2018, 5, 22), '2018-05-22'),
 (datetime.date(2018, 5, 20), '2018-05-20'),
 (datetime.date(2018, 5, 13), '2018-05-13'),
 (datetime.date(2018, 5, 23), '2018-05-23'),
 (datetime.date(2018, 6, 10), '2018-06-10'),
 (datetime.date(2018, 5, 30), '2018-05-30'),
 (datetime.date(2018, 5, 22), '2018-05-22'),
 (datetime.date(2018, 6, 5), '2018-06-05'),
 (datetime.date(2018, 6, 5), '2018-06-05'),
 (datetime.date(2018, 5, 19), '2018-05-19'),
 (datetime.date(2018, 6, 15), '2018-06-15'),
 (datetime.date(2018, 5, 29), '2018-05-29'),
 (datetime.date(2018, 6, 9), '2018-06-09'),
 (datetime.date(2018, 5, 28), '2018-05-28'),
 (datetime.date(2018, 7, 5), '2018-07-05'),
 (datetime.date(2018, 6, 9), '2018-06-09'),
 (datetime.date(2018, 6, 13), '2018-06-13'),
 (datetime.date(2018, 5, 27), '2018-05-27'),
 (datetime.date(2018, 6, 10), '2018-06-10'),
 (datetime.date(2018, 7, 3), '2018-07-03'),
 (datetime.date(2018, 6, 24), '2018-06-24'),
 (datetime.date(2018, 6, 24), '2018-06-24'),
 (datetime.date(2018, 6, 22), '2018-06-22'),
 (datetime.date(2018, 6, 26), '2018-06-26'),
 (datetime.date(2018, 6, 18), '2018-06-18'),
 (datetime.date(2018, 7, 9), '2018-07-09'),
 (datetime.date(2018, 6, 24), '2018-06-24'),
 (datetime.date(2018, 6, 26), '2018-06-26'),
 (datetime.date(2018, 6, 30), '2018-06-30'),
 (datetime.date(2018, 6, 30), '2018-06-30'),
 (datetime.date(2018, 6, 25), '2018-06-25'),
 (datetime.date(2018, 6, 27), '2018-06-27'),
 (datetime.date(2018, 7, 1), '2018-07-01'),
 (datetime.date(2018, 6, 29), '2018-06-29'),
 (datetime.date(2018, 6, 24), '2018-06-24'),
 (datetime.date(2018, 6, 28), '2018-06-28'),
 (datetime.date(2018, 7, 4), '2018-07-04'),
 (datetime.date(2018, 6, 21), '2018-06-21'),
 (datetime.date(2018, 7, 5), '2018-07-05'),
 (datetime.date(2018, 6, 26), '2018-06-26'),
 (datetime.date(2018, 7, 7), '2018-07-07'),
 (datetime.date(2018, 7, 8), '2018-07-08'),
 (datetime.date(2018, 6, 23), '2018-06-23'),
 (datetime.date(2018, 7, 2), '2018-07-02'),
 (datetime.date(2018, 7, 9), '2018-07-09'),
 (datetime.date(2018, 7, 12), '2018-07-12'),
 (datetime.date(2018, 6, 17), '2018-06-17'),
 (datetime.date(2018, 7, 31), '2018-07-31'),
 (datetime.date(2018, 7, 7), '2018-07-07'),
 (datetime.date(2018, 7, 15), '2018-07-15'),
 (datetime.date(2018, 7, 9), '2018-07-09'),
 (datetime.date(2018, 7, 26), '2018-07-26'),
 (datetime.date(2018, 7, 11), '2018-07-11'),
 (datetime.date(2018, 7, 19), '2018-07-19'),
 (datetime.date(2018, 7, 19), '2018-07-19'),
 (datetime.date(2018, 7, 15), '2018-07-15'),
 (datetime.date(2018, 7, 21), '2018-07-21'),
 (datetime.date(2018, 7, 18), '2018-07-18'),
 (datetime.date(2018, 7, 10), '2018-07-10'),
 (datetime.date(2018, 7, 16), '2018-07-16'),
 (datetime.date(2018, 7, 29), '2018-07-29'),
 (datetime.date(2018, 7, 20), '2018-07-20'),
 (datetime.date(2018, 7, 17), '2018-07-17'),
 (datetime.date(2018, 6, 29), '2018-06-29'),
 (datetime.date(2018, 8, 4), '2018-08-04'),
 (datetime.date(2018, 7, 24), '2018-07-24'),
 (datetime.date(2018, 7, 25), '2018-07-25'),
 (datetime.date(2018, 7, 25), '2018-07-25'),
 (datetime.date(2018, 9, 21), '2018-09-21'),
 (datetime.date(2018, 8, 7), '2018-08-07'),
 (datetime.date(2018, 7, 29), '2018-07-29'),
 (datetime.date(2018, 7, 28), '2018-07-28'),
 (datetime.date(2018, 7, 27), '2018-07-27'),
 (datetime.date(2018, 7, 22), '2018-07-22'),
 (datetime.date(2018, 8, 5), '2018-08-05'),
 (datetime.date(2018, 8, 11), '2018-08-11'),
 (datetime.date(2018, 8, 6), '2018-08-06'),
 (datetime.date(2018, 8, 9), '2018-08-09'),
 (datetime.date(2018, 8, 11), '2018-08-11'),
 (None, 'No payment'),
 (datetime.date(2018, 8, 11), '2018-08-11'),
 (datetime.date(2018, 8, 6), '2018-08-06'),
 (datetime.date(2018, 8, 14), '2018-08-14'),
 (datetime.date(2018, 8, 11), '2018-08-11'),
 (None, 'No payment'),
 (datetime.date(2018, 8, 13), '2018-08-13'),
 (datetime.date(2018, 8, 20), '2018-08-20'),
 (datetime.date(2018, 8, 7), '2018-08-07'),
 (None, 'No payment'),
 (None, 'No payment'),
 (None, 'No payment'),
 (None, 'No payment'),
 (None, 'No payment'),
 (datetime.date(2018, 8, 24), '2018-08-24'),
 (datetime.date(2018, 8, 24), '2018-08-24'),
 (None, 'No payment'),
 (datetime.date(2018, 8, 27), '2018-08-27'),
 (datetime.date(2018, 8, 19), '2018-08-19'),
 (datetime.date(2018, 8, 23), '2018-08-23'),
 (datetime.date(2018, 8, 22), '2018-08-22'),
 (None, 'No payment'),
 (datetime.date(2018, 9, 3), '2018-09-03'),
 (None, 'No payment'),
 (None, 'No payment'),
 (datetime.date(2018, 9, 4), '2018-09-04'),
 (None, 'No payment'),
 (None, 'No payment'),
 (None, 'No payment'),
 (None, 'No payment'),
 (None, 'No payment')]

In [13]:
%%sql # COALESCE function: return payment date and substitue null value with 'No payment'

SELECT payment_date,
  COALESCE(payment_date, 'No payment') AS new_date
FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(datetime.date(2018, 5, 7), '2018-05-07'),
 (datetime.date(2018, 5, 14), '2018-05-14'),
 (datetime.date(2018, 5, 9), '2018-05-09'),
 (datetime.date(2018, 5, 12), '2018-05-12'),
 (datetime.date(2018, 5, 11), '2018-05-11'),
 (datetime.date(2018, 5, 21), '2018-05-21'),
 (datetime.date(2018, 5, 22), '2018-05-22'),
 (datetime.date(2018, 5, 1), '2018-05-01'),
 (datetime.date(2018, 5, 21), '2018-05-21'),
 (datetime.date(2018, 5, 22), '2018-05-22'),
 (datetime.date(2018, 5, 20), '2018-05-20'),
 (datetime.date(2018, 5, 13), '2018-05-13'),
 (datetime.date(2018, 5, 23), '2018-05-23'),
 (datetime.date(2018, 6, 10), '2018-06-10'),
 (datetime.date(2018, 5, 30), '2018-05-30'),
 (datetime.date(2018, 5, 22), '2018-05-22'),
 (datetime.date(2018, 6, 5), '2018-06-05'),
 (datetime.date(2018, 6, 5), '2018-06-05'),
 (datetime.date(2018, 5, 19), '2018-05-19'),
 (datetime.date(2018, 6, 15), '2018-06-15'),
 (datetime.date(2018, 5, 29), '2018-05-29'),
 (datetime.date(2018, 6, 9), '2018-06-09'),
 (datetime.date(2018, 5, 28), '2018-05-28'),
 (datetime.date(2018, 7, 5), '2018-07-05'),
 (datetime.date(2018, 6, 9), '2018-06-09'),
 (datetime.date(2018, 6, 13), '2018-06-13'),
 (datetime.date(2018, 5, 27), '2018-05-27'),
 (datetime.date(2018, 6, 10), '2018-06-10'),
 (datetime.date(2018, 7, 3), '2018-07-03'),
 (datetime.date(2018, 6, 24), '2018-06-24'),
 (datetime.date(2018, 6, 24), '2018-06-24'),
 (datetime.date(2018, 6, 22), '2018-06-22'),
 (datetime.date(2018, 6, 26), '2018-06-26'),
 (datetime.date(2018, 6, 18), '2018-06-18'),
 (datetime.date(2018, 7, 9), '2018-07-09'),
 (datetime.date(2018, 6, 24), '2018-06-24'),
 (datetime.date(2018, 6, 26), '2018-06-26'),
 (datetime.date(2018, 6, 30), '2018-06-30'),
 (datetime.date(2018, 6, 30), '2018-06-30'),
 (datetime.date(2018, 6, 25), '2018-06-25'),
 (datetime.date(2018, 6, 27), '2018-06-27'),
 (datetime.date(2018, 7, 1), '2018-07-01'),
 (datetime.date(2018, 6, 29), '2018-06-29'),
 (datetime.date(2018, 6, 24), '2018-06-24'),
 (datetime.date(2018, 6, 28), '2018-06-28'),
 (datetime.date(2018, 7, 4), '2018-07-04'),
 (datetime.date(2018, 6, 21), '2018-06-21'),
 (datetime.date(2018, 7, 5), '2018-07-05'),
 (datetime.date(2018, 6, 26), '2018-06-26'),
 (datetime.date(2018, 7, 7), '2018-07-07'),
 (datetime.date(2018, 7, 8), '2018-07-08'),
 (datetime.date(2018, 6, 23), '2018-06-23'),
 (datetime.date(2018, 7, 2), '2018-07-02'),
 (datetime.date(2018, 7, 9), '2018-07-09'),
 (datetime.date(2018, 7, 12), '2018-07-12'),
 (datetime.date(2018, 6, 17), '2018-06-17'),
 (datetime.date(2018, 7, 31), '2018-07-31'),
 (datetime.date(2018, 7, 7), '2018-07-07'),
 (datetime.date(2018, 7, 15), '2018-07-15'),
 (datetime.date(2018, 7, 9), '2018-07-09'),
 (datetime.date(2018, 7, 26), '2018-07-26'),
 (datetime.date(2018, 7, 11), '2018-07-11'),
 (datetime.date(2018, 7, 19), '2018-07-19'),
 (datetime.date(2018, 7, 19), '2018-07-19'),
 (datetime.date(2018, 7, 15), '2018-07-15'),
 (datetime.date(2018, 7, 21), '2018-07-21'),
 (datetime.date(2018, 7, 18), '2018-07-18'),
 (datetime.date(2018, 7, 10), '2018-07-10'),
 (datetime.date(2018, 7, 16), '2018-07-16'),
 (datetime.date(2018, 7, 29), '2018-07-29'),
 (datetime.date(2018, 7, 20), '2018-07-20'),
 (datetime.date(2018, 7, 17), '2018-07-17'),
 (datetime.date(2018, 6, 29), '2018-06-29'),
 (datetime.date(2018, 8, 4), '2018-08-04'),
 (datetime.date(2018, 7, 24), '2018-07-24'),
 (datetime.date(2018, 7, 25), '2018-07-25'),
 (datetime.date(2018, 7, 25), '2018-07-25'),
 (datetime.date(2018, 9, 21), '2018-09-21'),
 (datetime.date(2018, 8, 7), '2018-08-07'),
 (datetime.date(2018, 7, 29), '2018-07-29'),
 (datetime.date(2018, 7, 28), '2018-07-28'),
 (datetime.date(2018, 7, 27), '2018-07-27'),
 (datetime.date(2018, 7, 22), '2018-07-22'),
 (datetime.date(2018, 8, 5), '2018-08-05'),
 (datetime.date(2018, 8, 11), '2018-08-11'),
 (datetime.date(2018, 8, 6), '2018-08-06'),
 (datetime.date(2018, 8, 9), '2018-08-09'),
 (datetime.date(2018, 8, 11), '2018-08-11'),
 (None, 'No payment'),
 (datetime.date(2018, 8, 11), '2018-08-11'),
 (datetime.date(2018, 8, 6), '2018-08-06'),
 (datetime.date(2018, 8, 14), '2018-08-14'),
 (datetime.date(2018, 8, 11), '2018-08-11'),
 (None, 'No payment'),
 (datetime.date(2018, 8, 13), '2018-08-13'),
 (datetime.date(2018, 8, 20), '2018-08-20'),
 (datetime.date(2018, 8, 7), '2018-08-07'),
 (None, 'No payment'),
 (None, 'No payment'),
 (None, 'No payment'),
 (None, 'No payment'),
 (None, 'No payment'),
 (datetime.date(2018, 8, 24), '2018-08-24'),
 (datetime.date(2018, 8, 24), '2018-08-24'),
 (None, 'No payment'),
 (datetime.date(2018, 8, 27), '2018-08-27'),
 (datetime.date(2018, 8, 19), '2018-08-19'),
 (datetime.date(2018, 8, 23), '2018-08-23'),
 (datetime.date(2018, 8, 22), '2018-08-22'),
 (None, 'No payment'),
 (datetime.date(2018, 9, 3), '2018-09-03'),
 (None, 'No payment'),
 (None, 'No payment'),
 (datetime.date(2018, 9, 4), '2018-09-04'),
 (None, 'No payment'),
 (None, 'No payment'),
 (None, 'No payment'),
 (None, 'No payment'),
 (None, 'No payment')]

#### Regular expression functions

In [38]:
%%sql # r0: is 23 in the string ?
      # r1: is the string starting with ab ?
      # r2: is the string ending with 23 ?
      # r3: is the single value 2 in the string ?
      # r4: is is at least one element of list [ad] in the string ?

SELECT REGEXP_LIKE('abc123', '23') AS r0,
  REGEXP_LIKE('abc123', '^ab') AS r1,
  REGEXP_LIKE('abc123', '23$') AS r2,
  REGEXP_LIKE('abc123', '.2') AS r3,
  REGEXP_LIKE('abc123', '[ad]') as r4;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(1, 1, 1, 1, 1)]

In [39]:
%%sql # r0: is 24 in the string ?
      # r1: is the string starting with bc ?
      # r2: is the string ending with 12 ?
      # r3: is the single value 9 in the string ?
      # r4: is is at least one element of list [fd] in the string ?

SELECT REGEXP_LIKE('abc123', '24') AS r0,
  REGEXP_LIKE('abc123', '^bc') AS r1,
  REGEXP_LIKE('abc123', '12$') AS r2,
  REGEXP_LIKE('abc123', '.9') AS r3,
  REGEXP_LIKE('abc123', '[fd]') as r4;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(0, 0, 0, 0, 0)]

In [12]:
%%sql #

SELECT REGEXP_LIKE('abc123', '[a-f]') AS r0,
  REGEXP_LIKE('abc123', 'b|d') AS r1,
  REGEXP_LIKE('abc123', 'd*') AS r2,
  REGEXP_LIKE('abc123', '(bcd)*') as r4;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(1, 1, 1, 1)]

In [15]:
%%sql #

SELECT REGEXP_LIKE('abc123', '[d-f]') AS r0,
  REGEXP_LIKE('abc123', 'z|d') AS r1,
  REGEXP_LIKE('abc123', 'd*') AS r2,
  REGEXP_LIKE('abc123', '(bcd)*') as r4;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(0, 0, 1, 1)]

In [17]:
%%sql # Return the index of the first character of the substring in the string expression
      # that matches the pattern

SELECT REGEXP_INSTR('abc123', '[2-5]') AS r0,
  REGEXP_INSTR('abc123', 'b|d') AS r1,
  REGEXP_INSTR('abc123', 'f*') AS r2,
  REGEXP_INSTR('abc123', '(bcd)*') as r4;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(5, 2, 1, 1)]

In [24]:
%%sql # return the first substring of the string expression that matches the pattern

SELECT REGEXP_SUBSTR('abc123', '[A-Z][1-9]*$') AS r0;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('c123',)]

In [27]:
%%sql # return the string expression with all occurences of the pattern replaced with the replace string

SELECT REGEXP_REPLACE('abc123', '1|3', '*') AS ro;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[('abc*2*',)]

In [35]:
%%sql # return vendor city and the position of the first spaces in vendor city

SELECT DISTINCT vendor_city,
  REGEXP_INSTR(vendor_city, ' ') AS space_index
FROM Vendors
HAVING space_index > 0

 * mysql+pymysql://w-alkao:***@localhost
17 rows affected.

[('Los Angeles', 4),
 ('Santa Ana', 6),
 ('San Francisco', 4),
 ('San Diego', 4),
 ('Mission Viejo', 8),
 ('St Louis', 3),
 ('Traverse City', 9),
 ('East Brunswick', 5),
 ('New York', 4),
 ('Santa Barbara', 6),
 ('Manhatttan Beach', 11),
 ('New Rochelle', 4),
 ('Carol Stream', 6),
 ('Auburn Hills', 7),
 ('Fort Washington', 5),
 ('The Lake', 4),
 ('Ann Arbor', 4)]

In [34]:
%%sql # return vendor city where the name of city start with SAN or LOS

SELECT vendor_city,
  REGEXP_SUBSTR(vendor_city, '^SAN|LOS') AS city_match
FROM Vendors
HAVING city_match IS NOT NULL;

 * mysql+pymysql://w-alkao:***@localhost
12 rows affected.

[('Los Angeles', 'Los'),
 ('Santa Ana', 'San'),
 ('San Francisco', 'San'),
 ('San Diego', 'San'),
 ('San Francisco', 'San'),
 ('Los Angeles', 'Los'),
 ('Santa Barbara', 'San'),
 ('San Francisco', 'San'),
 ('Los Angeles', 'Los'),
 ('Los Angeles', 'Los'),
 ('San Francisco', 'San'),
 ('Los Angeles', 'Los')]

In [36]:
%%sql # return vendor name and address with the word street in their name
      # and replace this word with St for new address

SELECT vendor_name, vendor_address1,
  REGEXP_REPLACE(vendor_address1, 'STREET', 'St') AS new_address1
FROM Vendors
WHERE REGEXP_LIKE(vendor_address1, 'STREET');

 * mysql+pymysql://w-alkao:***@localhost
6 rows affected.

[('Expedata Inc', '4420 N. First Street, Suite 108', '4420 N. First St, Suite 108'),
 ('Fresno Photoengraving Company', '1952 "H" Street', '1952 "H" St'),
 ('Nat Assoc of College Stores', '500 East Lorain Street', '500 East Lorain St'),
 ('The Fresno Bee', '1626 E Street', '1626 E St'),
 ('The Presort Center', '1627 "E" Street', '1627 "E" St'),
 ("Reiter's Scientific & Pro Books", '2021 K Street Nw', '2021 K St Nw')]

#### Ranking functions

In [45]:
%%sql # sort the result set by vendor name and number each row in the result set

SELECT ROW_NUMBER() OVER(ORDER BY vendor_name) AS 'row_number', vendor_name
FROM Vendors;

 * mysql+pymysql://w-alkao:***@localhost
122 rows affected.

[(1, 'Abbey Office Furnishings'),
 (2, 'American Booksellers Assoc'),
 (3, 'American Express'),
 (4, 'ASC Signs'),
 (5, 'Ascom Hasler Mailing Systems'),
 (6, 'AT&T'),
 (7, 'Aztek Label'),
 (8, 'Baker & Taylor Books'),
 (9, 'Bertelsmann Industry Svcs. Inc'),
 (10, 'BFI Industries'),
 (11, 'Bill Jones'),
 (12, 'Bill Marvin Electric Inc'),
 (13, 'Blanchard & Johnson Associates'),
 (14, 'Blue Cross'),
 (15, 'Blue Shield of California'),
 (16, 'Boucher Communications Inc'),
 (17, 'Cahners Publishing Company'),
 (18, 'Cal State Termite'),
 (19, 'California Business Machines'),
 (20, 'California Chamber Of Commerce'),
 (21, 'California Data Marketing'),
 (22, 'Capital Resource Credit'),
 (23, 'Cardinal Business Media, Inc.'),
 (24, 'Champion Printing Company'),
 (25, 'City Of Fresno'),
 (26, 'Cmg Information Services'),
 (27, 'Coffee Break Service'),
 (28, 'Compuserve'),
 (29, 'Computer Library'),
 (30, 'Computerworld'),
 (31, 'Costco'),
 (32, 'Courier Companies, Inc'),
 (33, 'Crown Printing'),
 (34, 'Custom Printing Company'),
 (35, 'Data Reproductions Corp'),
 (36, 'Dataforms/West'),
 (37, 'Dean Witter Reynolds'),
 (38, 'Digital Dreamworks'),
 (39, 'Diversified Printing & Pub'),
 (40, 'DMV Renewal'),
 (41, 'Dristas Groom & McCormick'),
 (42, 'Edward Data Services'),
 (43, 'Enterprise Communications Inc'),
 (44, 'Evans Executone Inc'),
 (45, 'Executive Office Products'),
 (46, 'Expedata Inc'),
 (47, 'Federal Express Corporation'),
 (48, 'Ford Motor Credit Company'),
 (49, 'Franchise Tax Board'),
 (50, 'Frank E Wilber Co'),
 (51, 'Fresno County Tax Collector'),
 (52, 'Fresno Credit Bureau'),
 (53, 'Fresno Photoengraving Company'),
 (54, 'Fresno Rack & Shelving Inc'),
 (55, 'Gary McKeighan Insurance'),
 (56, 'Golden Eagle Insurance Co'),
 (57, 'Gostanian General Building'),
 (58, 'Graylift'),
 (59, 'IBM'),
 (60, 'Ingram'),
 (61, 'Internal Revenue Service'),
 (62, 'Jobtrak'),
 (63, 'Kent H Landsberg Co'),
 (64, 'Leslie Company'),
 (65, "Lou Gentile's Flower Basket"),
 (66, 'Malloy Lithographing Inc'),
 (67, 'Mcgraw Hill Companies'),
 (68, 'McKesson Water Products'),
 (69, 'Micro Center'),
 (70, 'Nat Assoc of College Stores'),
 (71, 'National Information Data Ctr'),
 (72, 'Naylor Publications Inc'),
 (73, 'Net Asset, Llc'),
 (74, 'Newbrige Book Clubs'),
 (75, 'Nielson'),
 (76, 'Office Depot'),
 (77, 'Opamp Technical Books'),
 (78, 'Open Horizons Publishing'),
 (79, 'Pacific Bell'),
 (80, 'Pacific Gas & Electric'),
 (81, 'Ph Photographic Services'),
 (82, 'Pollstar'),
 (83, 'Postmaster'),
 (84, 'Publishers Marketing Assoc'),
 (85, 'Publishers Weekly'),
 (86, 'Quality Education Data'),
 (87, 'Register of Copyrights'),
 (88, "Reiter's Scientific & Pro Books"),
 (89, 'Retirement Plan Consultants'),
 (90, 'Rich Advertising'),
 (91, 'Roadway Package System, Inc'),
 (92, 'Robbins Mobile Lock And Key'),
 (93, 'RR Bowker'),
 (94, 'Shields Design'),
 (95, 'Simon Direct Inc'),
 (96, 'Small Press'),
 (97, 'Springhouse Corp'),
 (98, 'State Board Of Equalization'),
 (99, 'State of California'),
 (100, 'Suburban Propane'),
 (101, 'Texaco'),
 (102, 'The Drawing Board'),
 (103, 'The Fresno Bee'),
 (104, 'The Library Ltd'),
 (105, 'The Mailers Guide Co'),
 (106, 'The Presort Center'),
 (107, 'The Windows Deck'),
 (108, "Towne Advertiser's Mailing Svcs"),
 (109, 'United Parcel Service'),
 (110, 'Unocal'),
 (111, 'US Postal Service'),
 (112, 'Valprint'),
 (113, "Venture Communications Int'l"),
 (114, 'Vision Envelope & Printing'),
 (115, 'Wakefield Co'),
 (116, 'Wang Laboratories, Inc.'),
 (117, 'Wells Fargo Bank'),
 (118, 'Yale Industrial Trucks-Fresno'),
 (119, 'Yesmed, Inc'),
 (120, 'Zee Medical Service Co'),
 (121, 'Zip Print & Copy Center'),
 (122, 'Zylka Design')]

In [46]:
%%sql # sort result by vendor name within each state and number each row within these stat

SELECT ROW_NUMBER() OVER(PARTITION BY vendor_state
    ORDER BY vendor_name) AS 'row_number', vendor_name, vendor_state
FROM Vendors;

 * mysql+pymysql://w-alkao:***@localhost
122 rows affected.

[(1, 'AT&T', 'AZ'),
 (2, 'Computer Library', 'AZ'),
 (3, 'Wells Fargo Bank', 'AZ'),
 (1, 'Abbey Office Furnishings', 'CA'),
 (2, 'American Express', 'CA'),
 (3, 'ASC Signs', 'CA'),
 (4, 'Aztek Label', 'CA'),
 (5, 'Bertelsmann Industry Svcs. Inc', 'CA'),
 (6, 'BFI Industries', 'CA'),
 (7, 'Bill Jones', 'CA'),
 (8, 'Bill Marvin Electric Inc', 'CA'),
 (9, 'Blanchard & Johnson Associates', 'CA'),
 (10, 'Blue Cross', 'CA'),
 (11, 'Blue Shield of California', 'CA'),
 (12, 'Cal State Termite', 'CA'),
 (13, 'California Business Machines', 'CA'),
 (14, 'California Chamber Of Commerce', 'CA'),
 (15, 'California Data Marketing', 'CA'),
 (16, 'City Of Fresno', 'CA'),
 (17, 'Coffee Break Service', 'CA'),
 (18, 'Computerworld', 'CA'),
 (19, 'Costco', 'CA'),
 (20, 'Crown Printing', 'CA'),
 (21, 'Dataforms/West', 'CA'),
 (22, 'Digital Dreamworks', 'CA'),
 (23, 'Diversified Printing & Pub', 'CA'),
 (24, 'DMV Renewal', 'CA'),
 (25, 'Dristas Groom & McCormick', 'CA'),
 (26, 'Evans Executone Inc', 'CA'),
 (27, 'Executive Office Products', 'CA'),
 (28, 'Expedata Inc', 'CA'),
 (29, 'Ford Motor Credit Company', 'CA'),
 (30, 'Franchise Tax Board', 'CA'),
 (31, 'Frank E Wilber Co', 'CA'),
 (32, 'Fresno County Tax Collector', 'CA'),
 (33, 'Fresno Credit Bureau', 'CA'),
 (34, 'Fresno Photoengraving Company', 'CA'),
 (35, 'Fresno Rack & Shelving Inc', 'CA'),
 (36, 'Gary McKeighan Insurance', 'CA'),
 (37, 'Golden Eagle Insurance Co', 'CA'),
 (38, 'Gostanian General Building', 'CA'),
 (39, 'Graylift', 'CA'),
 (40, 'IBM', 'CA'),
 (41, 'Internal Revenue Service', 'CA'),
 (42, 'Jobtrak', 'CA'),
 (43, 'Kent H Landsberg Co', 'CA'),
 (44, "Lou Gentile's Flower Basket", 'CA'),
 (45, 'McKesson Water Products', 'CA'),
 (46, 'Net Asset, Llc', 'CA'),
 (47, 'Office Depot', 'CA'),
 (48, 'Opamp Technical Books', 'CA'),
 (49, 'Pacific Bell', 'CA'),
 (50, 'Pacific Gas & Electric', 'CA'),
 (51, 'Ph Photographic Services', 'CA'),
 (52, 'Pollstar', 'CA'),
 (53, 'Postmaster', 'CA'),
 (54, 'Publishers Marketing Assoc', 'CA'),
 (55, 'Retirement Plan Consultants', 'CA'),
 (56, 'Roadway Package System, Inc', 'CA'),
 (57, 'Robbins Mobile Lock And Key', 'CA'),
 (58, 'Shields Design', 'CA'),
 (59, 'State Board Of Equalization', 'CA'),
 (60, 'State of California', 'CA'),
 (61, 'Suburban Propane', 'CA'),
 (62, 'Texaco', 'CA'),
 (63, 'The Fresno Bee', 'CA'),
 (64, 'The Presort Center', 'CA'),
 (65, 'The Windows Deck', 'CA'),
 (66, "Towne Advertiser's Mailing Svcs", 'CA'),
 (67, 'Unocal', 'CA'),
 (68, 'Valprint', 'CA'),
 (69, 'Vision Envelope & Printing', 'CA'),
 (70, 'Wakefield Co', 'CA'),
 (71, 'Wang Laboratories, Inc.', 'CA'),
 (72, 'Yale Industrial Trucks-Fresno', 'CA'),
 (73, 'Yesmed, Inc', 'CA'),
 (74, 'Zip Print & Copy Center', 'CA'),
 (75, 'Zylka Design', 'CA'),
 (1, 'Ascom Hasler Mailing Systems', 'CT'),
 (1, 'National Information Data Ctr', 'DC'),
 (2, 'Register of Copyrights', 'DC'),
 (3, "Reiter's Scientific & Pro Books", 'DC'),
 (1, 'Naylor Publications Inc', 'FL'),
 (1, 'Open Horizons Publishing', 'IA'),
 (2, 'Zee Medical Service Co', 'IA'),
 (1, 'Mcgraw Hill Companies', 'IL'),
 (2, 'Quality Education Data', 'IL'),
 (3, 'The Drawing Board', 'IL'),
 (1, 'Leslie Company', 'KS'),
 (1, 'Cmg Information Services', 'MA'),
 (2, 'Courier Companies, Inc', 'MA'),
 (3, 'Dean Witter Reynolds', 'MA'),
 (1, 'Data Reproductions Corp', 'MI'),
 (2, 'Malloy Lithographing Inc', 'MI'),
 (3, 'Small Press', 'MI'),
 (1, 'Capital Resource Credit', 'MN'),
 (1, 'Custom Printing Company', 'MO'),
 (2, 'The Library Ltd', 'MO'),
 (1, 'Baker & Taylor Books', 'NC'),
 (1, 'Newbrige Book Clubs', 'NJ'),
 (2, 'Rich Advertising', 'NJ'),
 (3, 'RR Bowker', 'NJ'),
 (4, 'Simon Direct Inc', 'NJ'),
 (1, 'Cahners Publishing Company', 'NV'),
 (2, 'United Parcel Service', 'NV'),
 (1, 'American Booksellers Assoc', 'NY'),
 (2, 'The Mailers Guide Co', 'NY'),
 (3, "Venture Communications Int'l", 'NY'),
 (1, 'Champion Printing Company', 'OH'),
 (2, 'Compuserve', 'OH'),
 (3, 'Edward Data Services', 'OH'),
 (4, 'Micro Center', 'OH'),
 (5, 'Nat Assoc of College Stores', 'OH'),
 (6, 'Nielson', 'OH'),
 (7, 'Publishers Weekly', 'OH'),
 (1, 'Boucher Communications Inc', 'PA'),
 (2, 'Cardinal Business Media, Inc.', 'PA'),
 (3, 'Springhouse Corp', 'PA'),
 (1, 'Federal Express Corporation', 'TN'),
 (1, 'Ingram', 'TX'),
 (1, 'Enterprise Communications Inc', 'VA'),
 (1, 'US Postal Service', 'WI')]

In [50]:
%%sql #

SELECT RANK() OVER(ORDER BY invoice_total) AS 'rank',
  DENSE_RANK() OVER(ORDER BY invoice_total) AS 'dense_rank',
  invoice_total, invoice_number
FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(1, 1, Decimal('6.00'), '25022117'),
 (1, 1, Decimal('6.00'), '24863706'),
 (1, 1, Decimal('6.00'), '24780512'),
 (4, 2, Decimal('9.95'), '21-4748363'),
 (4, 2, Decimal('9.95'), '21-4923721'),
 (6, 3, Decimal('10.00'), '4-321-2596'),
 (6, 3, Decimal('10.00'), '4-342-8069'),
 (6, 3, Decimal('10.00'), '43966316'),
 (9, 4, Decimal('13.75'), '4-314-3057'),
 (10, 5, Decimal('15.50'), '963253251'),
 (11, 6, Decimal('16.33'), '111-92R-10096'),
 (11, 6, Decimal('16.33'), '111-92R-10097'),
 (13, 7, Decimal('16.62'), '111897'),
 (14, 8, Decimal('17.50'), '203339-13'),
 (15, 9, Decimal('19.67'), '111-92R-10094'),
 (16, 10, Decimal('22.57'), '263253257'),
 (17, 11, Decimal('23.50'), '963253267'),
 (18, 12, Decimal('25.67'), '24946731'),
 (19, 13, Decimal('26.25'), '263253265'),
 (20, 14, Decimal('26.75'), '963253269'),
 (21, 15, Decimal('27.00'), '7548906-20'),
 (22, 16, Decimal('30.75'), '263253273'),
 (23, 17, Decimal('31.95'), '263253253'),
 (24, 18, Decimal('32.70'), '111-92R-10095'),
 (25, 19, Decimal('33.00'), '1-202-2978'),
 (26, 20, Decimal('36.00'), '963253260'),
 (27, 21, Decimal('38.75'), '963253252'),
 (28, 22, Decimal('39.77'), '111-92R-10093'),
 (29, 23, Decimal('40.20'), '263253241'),
 (30, 24, Decimal('40.75'), '963253245'),
 (31, 25, Decimal('41.80'), '109596'),
 (32, 26, Decimal('42.50'), '963253262'),
 (33, 27, Decimal('42.67'), '263253250'),
 (34, 28, Decimal('42.75'), '963253261'),
 (35, 29, Decimal('44.44'), '263253243'),
 (36, 30, Decimal('46.21'), '111-92R-10092'),
 (37, 31, Decimal('52.25'), '963253264'),
 (38, 32, Decimal('53.25'), '963253256'),
 (39, 33, Decimal('53.75'), '963253255'),
 (40, 34, Decimal('59.97'), '263253268'),
 (41, 35, Decimal('60.00'), '963253244'),
 (42, 36, Decimal('61.50'), '963253272'),
 (43, 37, Decimal('63.40'), '1-200-5164'),
 (44, 38, Decimal('67.00'), '963253240'),
 (45, 39, Decimal('67.92'), '263253270'),
 (46, 40, Decimal('85.31'), '39104'),
 (47, 41, Decimal('90.36'), '134116'),
 (48, 42, Decimal('95.00'), '125520-1'),
 (49, 43, Decimal('104.00'), '963253242'),
 (50, 44, Decimal('108.25'), '963253235'),
 (51, 45, Decimal('108.50'), '963253254'),
 (52, 46, Decimal('109.50'), '963253263'),
 (53, 47, Decimal('111.00'), '963253258'),
 (54, 48, Decimal('116.00'), '547479217'),
 (55, 49, Decimal('116.54'), 'QP58872'),
 (56, 50, Decimal('127.75'), '963253232'),
 (56, 50, Decimal('127.75'), '963253249'),
 (58, 51, Decimal('129.00'), '963253246'),
 (59, 52, Decimal('138.75'), '963253234'),
 (60, 53, Decimal('144.70'), '2-000-2993'),
 (61, 54, Decimal('147.25'), '963253239'),
 (62, 55, Decimal('158.00'), '963253271'),
 (63, 56, Decimal('162.75'), '4-327-7357'),
 (64, 57, Decimal('172.50'), '963253237'),
 (65, 58, Decimal('175.00'), '133560'),
 (66, 59, Decimal('207.78'), '972110'),
 (67, 60, Decimal('220.00'), '94007005'),
 (68, 61, Decimal('224.00'), '547481328'),
 (68, 61, Decimal('224.00'), '547480102'),
 (70, 62, Decimal('241.00'), '963253248'),
 (71, 63, Decimal('270.50'), '456701'),
 (72, 64, Decimal('290.00'), 'CBM9920-M-T77109'),
 (73, 65, Decimal('313.55'), '97/553B'),
 (74, 66, Decimal('356.48'), '97-1024A'),
 (75, 67, Decimal('400.00'), '94007069'),
 (76, 68, Decimal('450.00'), '121897'),
 (77, 69, Decimal('503.20'), '9982771'),
 (78, 70, Decimal('565.15'), '97/465'),
 (79, 71, Decimal('565.60'), '456792'),
 (80, 72, Decimal('579.42'), '31361833'),
 (81, 73, Decimal('600.00'), 'C73-24'),
 (82, 74, Decimal('601.95'), '97/488'),
 (83, 75, Decimal('639.77'), '97/503'),
 (84, 76, Decimal('662.00'), 'I77271-O01'),
 (85, 77, Decimal('739.20'), '963253230'),
 (86, 78, Decimal('856.92'), 'P02-88D77S7'),
 (87, 79, Decimal('904.14'), '97/553'),
 (88, 80, Decimal('936.93'), 'MABO1489'),
 (89, 81, Decimal('953.10'), '97/486'),
 (90, 82, Decimal('1000.46'), '97/222'),
 (91, 83, Decimal('1083.58'), 'Q545443'),
 (92, 84, Decimal('1367.50'), '75C-90227'),
 (93, 85, Decimal('1575.00'), '31359783'),
 (94, 86, Decimal('1600.00'), 'RTR-72-3662-X'),
 (95, 87, Decimal('1750.00'), '77290'),
 (96, 88, Decimal('1927.54'), '989319-487'),
 (97, 89, Decimal('1962.13'), '97/522'),
 (98, 90, Decimal('2051.59'), '989319-417'),
 (99, 91, Decimal('2115.81'), '989319-427'),
 (100, 92, Decimal('2184.11'), '989319-477'),
 (101, 93, Decimal('2184.50'), '587056'),
 (102, 94, Decimal('2312.20'), '989319-497'),
 (103, 95, Decimal('2318.03'), '989319-467'),
 (104, 96, Decimal('2433.00'), '367447'),
 (105, 97, Decimal('2765.36'), '989319-437'),
 (106, 98, Decimal('3689.99'), '989319-447'),
 (107, 99, Decimal('3813.33'), '989319-457'),
 (108, 100, Decimal('4390.00'), '456791'),
 (109, 101, Decimal('4901.26'), '10843'),
 (110, 102, Decimal('6940.25'), '509786'),
 (111, 103, Decimal('7125.34'), 'P02-3772'),
 (112, 104, Decimal('8344.50'), '456789'),
 (112, 104, Decimal('8344.50'), '456789'),
 (114, 105, Decimal('10976.06'), '0-2436'),
 (115, 106, Decimal('20551.18'), 'P-0608'),
 (116, 107, Decimal('21842.00'), '40318'),
 (117, 108, Decimal('23517.58'), '0-2060'),
 (118, 109, Decimal('26881.40'), 'P-0259'),
 (119, 110, Decimal('37966.19'), '0-2058')]

In [53]:
%%sql #

SELECT terms_description, terms_id,
  NTILE(2) OVER(ORDER BY terms_id) AS tile2,
  NTILE(3) OVER(ORDER BY terms_id) AS tile3,
  NTILE(4) OVER(ORDER BY terms_id) AS tile4
FROM Terms;

 * mysql+pymysql://w-alkao:***@localhost
5 rows affected.

[('Net due 10 days', 1, 1, 1, 1),
 ('Net due 20 days', 2, 1, 1, 1),
 ('Net due 30 days', 3, 1, 2, 2),
 ('Net due 60 days', 4, 2, 2, 3),
 ('Net due 90 days', 5, 2, 3, 4)]

#### Analytic functions

In [12]:
%sql SELECT * FROM Sales_reps;

 * mysql+pymysql://w-alkao:***@localhost
5 rows affected.

[(1, 'Jonathon', 'Thomas'),
 (2, 'Sonja', 'Martinez'),
 (3, 'Andrew', 'Markasian'),
 (4, 'Phillip', 'Winters'),
 (5, 'Lydia', 'Kramer')]

In [13]:
%sql SELECT * FROM Sales_totals;

 * mysql+pymysql://w-alkao:***@localhost
12 rows affected.

[(1, '2016', Decimal('1274856.38')),
 (1, '2017', Decimal('923746.85')),
 (1, '2018', Decimal('998337.46')),
 (2, '2016', Decimal('978465.99')),
 (2, '2017', Decimal('974853.81')),
 (2, '2018', Decimal('887695.75')),
 (3, '2016', Decimal('1032875.48')),
 (3, '2017', Decimal('1132744.56')),
 (4, '2017', Decimal('655786.92')),
 (4, '2018', Decimal('72443.37')),
 (5, '2017', Decimal('422847.86')),
 (5, '2018', Decimal('45182.44'))]

In [16]:
%%sql # how to use FIRST, NTH AND LAST VALUES

SELECT sales_year, CONCAT(rep_first_name, ' ', rep_last_name) AS rep_name,
  sales_total,
  FIRST_VALUE(CONCAT(rep_first_name, ' ', rep_last_name)) OVER
    (PARTITION BY sales_year ORDER BY sales_total DESC) AS highest_sales,
  NTH_VALUE(CONCAT(rep_first_name, ' ', rep_last_name), 3) OVER
    (PARTITION BY sales_year ORDER BY sales_total DESC RANGE BETWEEN
    UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS third_highest_sales,
  LAST_VALUE(CONCAT(rep_first_name, ' ', rep_last_name)) OVER
    (PARTITION BY sales_year ORDER BY sales_total DESC RANGE BETWEEN
    UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS lowest_sales
FROM Sales_totals st
  JOIN Sales_reps sr ON st.rep_id = sr.rep_id;

 * mysql+pymysql://w-alkao:***@localhost
12 rows affected.

[('2016', 'Jonathon Thomas', Decimal('1274856.38'), 'Jonathon Thomas', 'Sonja Martinez', 'Sonja Martinez'),
 ('2016', 'Andrew Markasian', Decimal('1032875.48'), 'Jonathon Thomas', 'Sonja Martinez', 'Sonja Martinez'),
 ('2016', 'Sonja Martinez', Decimal('978465.99'), 'Jonathon Thomas', 'Sonja Martinez', 'Sonja Martinez'),
 ('2017', 'Andrew Markasian', Decimal('1132744.56'), 'Andrew Markasian', 'Jonathon Thomas', 'Lydia Kramer'),
 ('2017', 'Sonja Martinez', Decimal('974853.81'), 'Andrew Markasian', 'Jonathon Thomas', 'Lydia Kramer'),
 ('2017', 'Jonathon Thomas', Decimal('923746.85'), 'Andrew Markasian', 'Jonathon Thomas', 'Lydia Kramer'),
 ('2017', 'Phillip Winters', Decimal('655786.92'), 'Andrew Markasian', 'Jonathon Thomas', 'Lydia Kramer'),
 ('2017', 'Lydia Kramer', Decimal('422847.86'), 'Andrew Markasian', 'Jonathon Thomas', 'Lydia Kramer'),
 ('2018', 'Jonathon Thomas', Decimal('998337.46'), 'Jonathon Thomas', 'Phillip Winters', 'Lydia Kramer'),
 ('2018', 'Sonja Martinez', Decimal('887695.75'), 'Jonathon Thomas', 'Phillip Winters', 'Lydia Kramer'),
 ('2018', 'Phillip Winters', Decimal('72443.37'), 'Jonathon Thomas', 'Phillip Winters', 'Lydia Kramer'),
 ('2018', 'Lydia Kramer', Decimal('45182.44'), 'Jonathon Thomas', 'Phillip Winters', 'Lydia Kramer')]

In [21]:
%sql SELECT * FROM Sales_totals;

 * mysql+pymysql://w-alkao:***@localhost
12 rows affected.

[(1, '2016', Decimal('1274856.38')),
 (1, '2017', Decimal('923746.85')),
 (1, '2018', Decimal('998337.46')),
 (2, '2016', Decimal('978465.99')),
 (2, '2017', Decimal('974853.81')),
 (2, '2018', Decimal('887695.75')),
 (3, '2016', Decimal('1032875.48')),
 (3, '2017', Decimal('1132744.56')),
 (4, '2017', Decimal('655786.92')),
 (4, '2018', Decimal('72443.37')),
 (5, '2017', Decimal('422847.86')),
 (5, '2018', Decimal('45182.44'))]

In [23]:
%%sql # Lag FUNCTION

SELECT rep_id, sales_year, sales_total AS current_sales,
  LAG(sales_total, 1, 0) OVER (PARTITION BY rep_id ORDER BY sales_year) AS last_sales,
  sales_total - LAG(sales_total, 1, 0) OVER (PARTITION BY rep_id ORDER BY sales_year) AS 'change'
FROM Sales_totals;

 * mysql+pymysql://w-alkao:***@localhost
12 rows affected.

[(1, '2016', Decimal('1274856.38'), Decimal('0.00'), Decimal('1274856.38')),
 (1, '2017', Decimal('923746.85'), Decimal('1274856.38'), Decimal('-351109.53')),
 (1, '2018', Decimal('998337.46'), Decimal('923746.85'), Decimal('74590.61')),
 (2, '2016', Decimal('978465.99'), Decimal('0.00'), Decimal('978465.99')),
 (2, '2017', Decimal('974853.81'), Decimal('978465.99'), Decimal('-3612.18')),
 (2, '2018', Decimal('887695.75'), Decimal('974853.81'), Decimal('-87158.06')),
 (3, '2016', Decimal('1032875.48'), Decimal('0.00'), Decimal('1032875.48')),
 (3, '2017', Decimal('1132744.56'), Decimal('1032875.48'), Decimal('99869.08')),
 (4, '2017', Decimal('655786.92'), Decimal('0.00'), Decimal('655786.92')),
 (4, '2018', Decimal('72443.37'), Decimal('655786.92'), Decimal('-583343.55')),
 (5, '2017', Decimal('422847.86'), Decimal('0.00'), Decimal('422847.86')),
 (5, '2018', Decimal('45182.44'), Decimal('422847.86'), Decimal('-377665.42'))]

In [24]:
%%sql # how to use PERCENT_RANK and CUME_DIST functions

SELECT sales_year, rep_id, sales_total,
  PERCENT_RANK() OVER (PARTITION BY sales_year ORDER BY sales_total) AS pct_rank,
  CUME_DIST() OVER (PARTITION BY sales_year ORDER BY sales_total) AS 'cume_dist'
FROM Sales_totals;

 * mysql+pymysql://w-alkao:***@localhost
12 rows affected.

[('2016', 2, Decimal('978465.99'), 0.0, 0.3333333333333333),
 ('2016', 3, Decimal('1032875.48'), 0.5, 0.6666666666666666),
 ('2016', 1, Decimal('1274856.38'), 1.0, 1.0),
 ('2017', 5, Decimal('422847.86'), 0.0, 0.2),
 ('2017', 4, Decimal('655786.92'), 0.25, 0.4),
 ('2017', 1, Decimal('923746.85'), 0.5, 0.6),
 ('2017', 2, Decimal('974853.81'), 0.75, 0.8),
 ('2017', 3, Decimal('1132744.56'), 1.0, 1.0),
 ('2018', 5, Decimal('45182.44'), 0.0, 0.25),
 ('2018', 4, Decimal('72443.37'), 0.3333333333333333, 0.5),
 ('2018', 2, Decimal('887695.75'), 0.6666666666666666, 0.75),
 ('2018', 1, Decimal('998337.46'), 1.0, 1.0)]

###  Extras

In [28]:
%%sql #1 ROUND and TRUNCATE functions

SELECT invoice_total,
  ROUND(invoice_total, 1) AS one_dec_digit,
  ROUND(invoice_total, 0) AS no_dec_digit,
  TRUNCATE(invoice_total, 0) AS no_dec_digit
FROM Invoices

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(Decimal('3813.33'), Decimal('3813.3'), Decimal('3813'), Decimal('3813')),
 (Decimal('40.20'), Decimal('40.2'), Decimal('40'), Decimal('40')),
 (Decimal('138.75'), Decimal('138.8'), Decimal('139'), Decimal('138')),
 (Decimal('144.70'), Decimal('144.7'), Decimal('145'), Decimal('144')),
 (Decimal('15.50'), Decimal('15.5'), Decimal('16'), Decimal('15')),
 (Decimal('42.75'), Decimal('42.8'), Decimal('43'), Decimal('42')),
 (Decimal('172.50'), Decimal('172.5'), Decimal('173'), Decimal('172')),
 (Decimal('95.00'), Decimal('95.0'), Decimal('95'), Decimal('95')),
 (Decimal('601.95'), Decimal('602.0'), Decimal('602'), Decimal('601')),
 (Decimal('42.67'), Decimal('42.7'), Decimal('43'), Decimal('42')),
 (Decimal('42.50'), Decimal('42.5'), Decimal('43'), Decimal('42')),
 (Decimal('662.00'), Decimal('662.0'), Decimal('662'), Decimal('662')),
 (Decimal('16.33'), Decimal('16.3'), Decimal('16'), Decimal('16')),
 (Decimal('6.00'), Decimal('6.0'), Decimal('6'), Decimal('6')),
 (Decimal('856.92'), Decimal('856.9'), Decimal('857'), Decimal('856')),
 (Decimal('9.95'), Decimal('10.0'), Decimal('10'), Decimal('9')),
 (Decimal('10.00'), Decimal('10.0'), Decimal('10'), Decimal('10')),
 (Decimal('104.00'), Decimal('104.0'), Decimal('104'), Decimal('104')),
 (Decimal('116.54'), Decimal('116.5'), Decimal('117'), Decimal('116')),
 (Decimal('6.00'), Decimal('6.0'), Decimal('6'), Decimal('6')),
 (Decimal('4901.26'), Decimal('4901.3'), Decimal('4901'), Decimal('4901')),
 (Decimal('108.25'), Decimal('108.3'), Decimal('108'), Decimal('108')),
 (Decimal('9.95'), Decimal('10.0'), Decimal('10'), Decimal('9')),
 (Decimal('1750.00'), Decimal('1750.0'), Decimal('1750'), Decimal('1750')),
 (Decimal('129.00'), Decimal('129.0'), Decimal('129'), Decimal('129')),
 (Decimal('10.00'), Decimal('10.0'), Decimal('10'), Decimal('10')),
 (Decimal('207.78'), Decimal('207.8'), Decimal('208'), Decimal('207')),
 (Decimal('109.50'), Decimal('109.5'), Decimal('110'), Decimal('109')),
 (Decimal('450.00'), Decimal('450.0'), Decimal('450'), Decimal('450')),
 (Decimal('63.40'), Decimal('63.4'), Decimal('63'), Decimal('63')),
 (Decimal('7125.34'), Decimal('7125.3'), Decimal('7125'), Decimal('7125')),
 (Decimal('953.10'), Decimal('953.1'), Decimal('953'), Decimal('953')),
 (Decimal('220.00'), Decimal('220.0'), Decimal('220'), Decimal('220')),
 (Decimal('127.75'), Decimal('127.8'), Decimal('128'), Decimal('127')),
 (Decimal('1600.00'), Decimal('1600.0'), Decimal('1600'), Decimal('1600')),
 (Decimal('565.15'), Decimal('565.2'), Decimal('565'), Decimal('565')),
 (Decimal('36.00'), Decimal('36.0'), Decimal('36'), Decimal('36')),
 (Decimal('61.50'), Decimal('61.5'), Decimal('62'), Decimal('61')),
 (Decimal('37966.19'), Decimal('37966.2'), Decimal('37966'), Decimal('37966')),
 (Decimal('639.77'), Decimal('639.8'), Decimal('640'), Decimal('639')),
 (Decimal('53.75'), Decimal('53.8'), Decimal('54'), Decimal('53')),
 (Decimal('400.00'), Decimal('400.0'), Decimal('400'), Decimal('400')),
 (Decimal('21842.00'), Decimal('21842.0'), Decimal('21842'), Decimal('21842')),
 (Decimal('19.67'), Decimal('19.7'), Decimal('20'), Decimal('19')),
 (Decimal('2765.36'), Decimal('2765.4'), Decimal('2765'), Decimal('2765')),
 (Decimal('224.00'), Decimal('224.0'), Decimal('224'), Decimal('224')),
 (Decimal('1575.00'), Decimal('1575.0'), Decimal('1575'), Decimal('1575')),
 (Decimal('33.00'), Decimal('33.0'), Decimal('33'), Decimal('33')),
 (Decimal('16.33'), Decimal('16.3'), Decimal('16'), Decimal('16')),
 (Decimal('116.00'), Decimal('116.0'), Decimal('116'), Decimal('116')),
 (Decimal('2184.11'), Decimal('2184.1'), Decimal('2184'), Decimal('2184')),
 (Decimal('1083.58'), Decimal('1083.6'), Decimal('1084'), Decimal('1083')),
 (Decimal('46.21'), Decimal('46.2'), Decimal('46'), Decimal('46')),
 (Decimal('313.55'), Decimal('313.6'), Decimal('314'), Decimal('313')),
 (Decimal('40.75'), Decimal('40.8'), Decimal('41'), Decimal('40')),
 (Decimal('2433.00'), Decimal('2433.0'), Decimal('2433'), Decimal('2433')),
 (Decimal('1367.50'), Decimal('1367.5'), Decimal('1368'), Decimal('1367')),
 (Decimal('53.25'), Decimal('53.3'), Decimal('53'), Decimal('53')),
 (Decimal('13.75'), Decimal('13.8'), Decimal('14'), Decimal('13')),
 (Decimal('2312.20'), Decimal('2312.2'), Decimal('2312'), Decimal('2312')),
 (Decimal('25.67'), Decimal('25.7'), Decimal('26'), Decimal('25')),
 (Decimal('26.75'), Decimal('26.8'), Decimal('27'), Decimal('26')),
 (Decimal('2115.81'), Decimal('2115.8'), Decimal('2116'), Decimal('2115')),
 (Decimal('23.50'), Decimal('23.5'), Decimal('24'), Decimal('23')),
 (Decimal('6940.25'), Decimal('6940.3'), Decimal('6940'), Decimal('6940')),
 (Decimal('31.95'), Decimal('32.0'), Decimal('32'), Decimal('31')),
 (Decimal('1927.54'), Decimal('1927.5'), Decimal('1928'), Decimal('1927')),
 (Decimal('936.93'), Decimal('936.9'), Decimal('937'), Decimal('936')),
 (Decimal('175.00'), Decimal('175.0'), Decimal('175'), Decimal('175')),
 (Decimal('6.00'), Decimal('6.0'), Decimal('6'), Decimal('6')),
 (Decimal('108.50'), Decimal('108.5'), Decimal('109'), Decimal('108')),
 (Decimal('10.00'), Decimal('10.0'), Decimal('10'), Decimal('10')),
 (Decimal('290.00'), Decimal('290.0'), Decimal('290'), Decimal('290')),
 (Decimal('41.80'), Decimal('41.8'), Decimal('42'), Decimal('41')),
 (Decimal('27.00'), Decimal('27.0'), Decimal('27'), Decimal('27')),
 (Decimal('241.00'), Decimal('241.0'), Decimal('241'), Decimal('241')),
 (Decimal('904.14'), Decimal('904.1'), Decimal('904'), Decimal('904')),
 (Decimal('1962.13'), Decimal('1962.1'), Decimal('1962'), Decimal('1962')),
 (Decimal('2184.50'), Decimal('2184.5'), Decimal('2185'), Decimal('2184')),
 (Decimal('2318.03'), Decimal('2318.0'), Decimal('2318'), Decimal('2318')),
 (Decimal('26.25'), Decimal('26.3'), Decimal('26'), Decimal('26')),
 (Decimal('17.50'), Decimal('17.5'), Decimal('18'), Decimal('17')),
 (Decimal('39.77'), Decimal('39.8'), Decimal('40'), Decimal('39')),
 (Decimal('111.00'), Decimal('111.0'), Decimal('111'), Decimal('111')),
 (Decimal('158.00'), Decimal('158.0'), Decimal('158'), Decimal('158')),
 (Decimal('739.20'), Decimal('739.2'), Decimal('739'), Decimal('739')),
 (Decimal('60.00'), Decimal('60.0'), Decimal('60'), Decimal('60')),
 (Decimal('147.25'), Decimal('147.3'), Decimal('147'), Decimal('147')),
 (Decimal('85.31'), Decimal('85.3'), Decimal('85'), Decimal('85')),
 (Decimal('38.75'), Decimal('38.8'), Decimal('39'), Decimal('38')),
 (Decimal('32.70'), Decimal('32.7'), Decimal('33'), Decimal('32')),
 (Decimal('16.62'), Decimal('16.6'), Decimal('17'), Decimal('16')),
 (Decimal('162.75'), Decimal('162.8'), Decimal('163'), Decimal('162')),
 (Decimal('52.25'), Decimal('52.3'), Decimal('52'), Decimal('52')),
 (Decimal('600.00'), Decimal('600.0'), Decimal('600'), Decimal('600')),
 (Decimal('26881.40'), Decimal('26881.4'), Decimal('26881'), Decimal('26881')),
 (Decimal('356.48'), Decimal('356.5'), Decimal('356'), Decimal('356')),
 (Decimal('579.42'), Decimal('579.4'), Decimal('579'), Decimal('579')),
 (Decimal('59.97'), Decimal('60.0'), Decimal('60'), Decimal('59')),
 (Decimal('67.92'), Decimal('67.9'), Decimal('68'), Decimal('67')),
 (Decimal('30.75'), Decimal('30.8'), Decimal('31'), Decimal('30')),
 (Decimal('20551.18'), Decimal('20551.2'), Decimal('20551'), Decimal('20551')),
 (Decimal('2051.59'), Decimal('2051.6'), Decimal('2052'), Decimal('2051')),
 (Decimal('44.44'), Decimal('44.4'), Decimal('44'), Decimal('44')),
 (Decimal('503.20'), Decimal('503.2'), Decimal('503'), Decimal('503')),
 (Decimal('23517.58'), Decimal('23517.6'), Decimal('23518'), Decimal('23517')),
 (Decimal('3689.99'), Decimal('3690.0'), Decimal('3690'), Decimal('3689')),
 (Decimal('67.00'), Decimal('67.0'), Decimal('67'), Decimal('67')),
 (Decimal('1000.46'), Decimal('1000.5'), Decimal('1000'), Decimal('1000')),
 (Decimal('90.36'), Decimal('90.4'), Decimal('90'), Decimal('90')),
 (Decimal('22.57'), Decimal('22.6'), Decimal('23'), Decimal('22')),
 (Decimal('10976.06'), Decimal('10976.1'), Decimal('10976'), Decimal('10976')),
 (Decimal('224.00'), Decimal('224.0'), Decimal('224'), Decimal('224')),
 (Decimal('127.75'), Decimal('127.8'), Decimal('128'), Decimal('127')),
 (Decimal('8344.50'), Decimal('8344.5'), Decimal('8345'), Decimal('8344')),
 (Decimal('8344.50'), Decimal('8344.5'), Decimal('8345'), Decimal('8344')),
 (Decimal('270.50'), Decimal('270.5'), Decimal('271'), Decimal('270')),
 (Decimal('4390.00'), Decimal('4390.0'), Decimal('4390'), Decimal('4390')),
 (Decimal('565.60'), Decimal('565.6'), Decimal('566'), Decimal('565'))]

In [31]:
%sql SELECT * FROM Date_sample;

 * mysql+pymysql://w-alkao:***@localhost
6 rows affected.

[(1, datetime.datetime(1986, 3, 1, 0, 0)),
 (2, datetime.datetime(2006, 2, 28, 0, 0)),
 (3, datetime.datetime(2010, 10, 31, 0, 0)),
 (4, datetime.datetime(2018, 2, 28, 10, 0)),
 (5, datetime.datetime(2019, 2, 28, 13, 58, 32)),
 (6, datetime.datetime(2019, 3, 1, 9, 2, 25))]

In [33]:
%%sql #2 DATEFORMAT function

SELECT start_date,
  DATE_FORMAT(start_date, '%b/%d/%y') AS date1,
  DATE_FORMAT(start_date, '%c/%e/%y') AS date2,
  DATE_FORMAT(start_date, '%l:%i %p') AS date3,
  DATE_FORMAT(start_date, '%c/%e/%y %l:%i %p') AS date4
FROM Date_sample;

 * mysql+pymysql://w-alkao:***@localhost
6 rows affected.

[(datetime.datetime(1986, 3, 1, 0, 0), 'Mar/01/86', '3/1/86', '12:00 AM', '3/1/86 12:00 AM'),
 (datetime.datetime(2006, 2, 28, 0, 0), 'Feb/28/06', '2/28/06', '12:00 AM', '2/28/06 12:00 AM'),
 (datetime.datetime(2010, 10, 31, 0, 0), 'Oct/31/10', '10/31/10', '12:00 AM', '10/31/10 12:00 AM'),
 (datetime.datetime(2018, 2, 28, 10, 0), 'Feb/28/18', '2/28/18', '10:00 AM', '2/28/18 10:00 AM'),
 (datetime.datetime(2019, 2, 28, 13, 58, 32), 'Feb/28/19', '2/28/19', '1:58 PM', '2/28/19 1:58 PM'),
 (datetime.datetime(2019, 3, 1, 9, 2, 25), 'Mar/01/19', '3/1/19', '9:02 AM', '3/1/19 9:02 AM')]

In [51]:
%%sql #3

SELECT vendor_name, UPPER(vendor_name) AS capitalized, vendor_phone,
  RIGHT(vendor_phone, 4) AS last_4_digits,
  REPLACE(REPLACE(RIGHT(vendor_phone, 13), ') ', '.'), '-', '.') AS phone
FROM Vendors;

 * mysql+pymysql://w-alkao:***@localhost
122 rows affected.

[('US Postal Service', 'US POSTAL SERVICE', '(800) 555-1205', '1205', '800.555.1205'),
 ('National Information Data Ctr', 'NATIONAL INFORMATION DATA CTR', '(301) 555-8950', '8950', '301.555.8950'),
 ('Register of Copyrights', 'REGISTER OF COPYRIGHTS', None, None, None),
 ('Jobtrak', 'JOBTRAK', '(800) 555-8725', '8725', '800.555.8725'),
 ('Newbrige Book Clubs', 'NEWBRIGE BOOK CLUBS', '(800) 555-9980', '9980', '800.555.9980'),
 ('California Chamber Of Commerce', 'CALIFORNIA CHAMBER OF COMMERCE', '(916) 555-6670', '6670', '916.555.6670'),
 ("Towne Advertiser's Mailing Svcs", "TOWNE ADVERTISER'S MAILING SVCS", None, None, None),
 ('BFI Industries', 'BFI INDUSTRIES', '(559) 555-1551', '1551', '559.555.1551'),
 ('Pacific Gas & Electric', 'PACIFIC GAS & ELECTRIC', '(800) 555-6081', '6081', '800.555.6081'),
 ('Robbins Mobile Lock And Key', 'ROBBINS MOBILE LOCK AND KEY', '(559) 555-9375', '9375', '559.555.9375'),
 ('Bill Marvin Electric Inc', 'BILL MARVIN ELECTRIC INC', '(559) 555-5106', '5106', '559.555.5106'),
 ('City Of Fresno', 'CITY OF FRESNO', '(559) 555-9999', '9999', '559.555.9999'),
 ('Golden Eagle Insurance Co', 'GOLDEN EAGLE INSURANCE CO', None, None, None),
 ('Expedata Inc', 'EXPEDATA INC', '(559) 555-9586', '9586', '559.555.9586'),
 ('ASC Signs', 'ASC SIGNS', None, None, None),
 ('Internal Revenue Service', 'INTERNAL REVENUE SERVICE', None, None, None),
 ('Blanchard & Johnson Associates', 'BLANCHARD & JOHNSON ASSOCIATES', '(214) 555-3647', '3647', '214.555.3647'),
 ('Fresno Photoengraving Company', 'FRESNO PHOTOENGRAVING COMPANY', '(559) 555-3005', '3005', '559.555.3005'),
 ('Crown Printing', 'CROWN PRINTING', '(559) 555-7473', '7473', '559.555.7473'),
 ('Diversified Printing & Pub', 'DIVERSIFIED PRINTING & PUB', '(714) 555-4541', '4541', '714.555.4541'),
 ('The Library Ltd', 'THE LIBRARY LTD', '(314) 555-8834', '8834', '314.555.8834'),
 ('Micro Center', 'MICRO CENTER', '(614) 555-4435', '4435', '614.555.4435'),
 ('Yale Industrial Trucks-Fresno', 'YALE INDUSTRIAL TRUCKS-FRESNO', '(559) 555-2993', '2993', '559.555.2993'),
 ('Zee Medical Service Co', 'ZEE MEDICAL SERVICE CO', None, None, None),
 ('California Data Marketing', 'CALIFORNIA DATA MARKETING', '(559) 555-3801', '3801', '559.555.3801'),
 ('Small Press', 'SMALL PRESS', None, None, None),
 ('Rich Advertising', 'RICH ADVERTISING', '(201) 555-9742', '9742', '201.555.9742'),
 ('Vision Envelope & Printing', 'VISION ENVELOPE & PRINTING', '(310) 555-7062', '7062', '310.555.7062'),
 ('Costco', 'COSTCO', None, None, None),
 ('Enterprise Communications Inc', 'ENTERPRISE COMMUNICATIONS INC', '(770) 555-9558', '9558', '770.555.9558'),
 ('RR Bowker', 'RR BOWKER', '(800) 555-8110', '8110', '800.555.8110'),
 ('Nielson', 'NIELSON', None, None, None),
 ('IBM', 'IBM', '(800) 555-4426', '4426', '800.555.4426'),
 ('Cal State Termite', 'CAL STATE TERMITE', '(559) 555-1534', '1534', '559.555.1534'),
 ('Graylift', 'GRAYLIFT', '(559) 555-6621', '6621', '559.555.6621'),
 ('Blue Cross', 'BLUE CROSS', '(800) 555-0912', '0912', '800.555.0912'),
 ("Venture Communications Int'l", "VENTURE COMMUNICATIONS INT'L", '(212) 555-4800', '4800', '212.555.4800'),
 ('Custom Printing Company', 'CUSTOM PRINTING COMPANY', '(301) 555-1494', '1494', '301.555.1494'),
 ('Nat Assoc of College Stores', 'NAT ASSOC OF COLLEGE STORES', None, None, None),
 ('Shields Design', 'SHIELDS DESIGN', '(559) 555-8060', '8060', '559.555.8060'),
 ('Opamp Technical Books', 'OPAMP TECHNICAL BOOKS', '(213) 555-4322', '4322', '213.555.4322'),
 ('Capital Resource Credit', 'CAPITAL RESOURCE CREDIT', '(612) 555-0057', '0057', '612.555.0057'),
 ('Courier Companies, Inc', 'COURIER COMPANIES, INC', '(508) 555-6351', '6351', '508.555.6351'),
 ('Naylor Publications Inc', 'NAYLOR PUBLICATIONS INC', '(800) 555-6041', '6041', '800.555.6041'),
 ('Open Horizons Publishing', 'OPEN HORIZONS PUBLISHING', '(515) 555-6130', '6130', '515.555.6130'),
 ('Baker & Taylor Books', 'BAKER & TAYLOR BOOKS', '(704) 555-3500', '3500', '704.555.3500'),
 ('Fresno County Tax Collector', 'FRESNO COUNTY TAX COLLECTOR', '(559) 555-3482', '3482', '559.555.3482'),
 ('Mcgraw Hill Companies', 'MCGRAW HILL COMPANIES', '(614) 555-3663', '3663', '614.555.3663'),
 ('Publishers Weekly', 'PUBLISHERS WEEKLY', '(800) 555-1669', '1669', '800.555.1669'),
 ('Blue Shield of California', 'BLUE SHIELD OF CALIFORNIA', '(415) 555-5103', '5103', '415.555.5103'),
 ('Aztek Label', 'AZTEK LABEL', '(714) 555-9000', '9000', '714.555.9000'),
 ('Gary McKeighan Insurance', 'GARY MCKEIGHAN INSURANCE', '(559) 555-2420', '2420', '559.555.2420'),
 ('Ph Photographic Services', 'PH PHOTOGRAPHIC SERVICES', '(559) 555-0765', '0765', '559.555.0765'),
 ('Quality Education Data', 'QUALITY EDUCATION DATA', '(800) 555-5811', '5811', '800.555.5811'),
 ('Springhouse Corp', 'SPRINGHOUSE CORP', '(215) 555-8700', '8700', '215.555.8700'),
 ('The Windows Deck', 'THE WINDOWS DECK', '(800) 555-3353', '3353', '800.555.3353'),
 ('Fresno Rack & Shelving Inc', 'FRESNO RACK & SHELVING INC', None, None, None),
 ('Publishers Marketing Assoc', 'PUBLISHERS MARKETING ASSOC', '(310) 555-2732', '2732', '310.555.2732'),
 ('The Mailers Guide Co', 'THE MAILERS GUIDE CO', None, None, None),
 ('American Booksellers Assoc', 'AMERICAN BOOKSELLERS ASSOC', '(800) 555-0037', '0037', '800.555.0037'),
 ('Cmg Information Services', 'CMG INFORMATION SERVICES', '(508) 555-7000', '7000', '508.555.7000'),
 ("Lou Gentile's Flower Basket", "LOU GENTILE'S FLOWER BASKET", '(559) 555-6643', '6643', '559.555.6643'),
 ('Texaco', 'TEXACO', None, None, None),
 ('The Drawing Board', 'THE DRAWING BOARD', None, None, None),
 ('Ascom Hasler Mailing Systems', 'ASCOM HASLER MAILING SYSTEMS', None, None, None),
 ('Bill Jones', 'BILL JONES', None, None, None),
 ('Computer Library', 'COMPUTER LIBRARY', '(602) 547-0331', '0331', '602.547.0331'),
 ('Frank E Wilber Co', 'FRANK E WILBER CO', '(559) 555-1881', '1881', '559.555.1881'),
 ('Fresno Credit Bureau', 'FRESNO CREDIT BUREAU', '(559) 555-7900', '7900', '559.555.7900'),
 ('The Fresno Bee', 'THE FRESNO BEE', '(559) 555-4442', '4442', '559.555.4442'),
 ('Data Reproductions Corp', 'DATA REPRODUCTIONS CORP', '(810) 555-3700', '3700', '810.555.3700'),
 ('Executive Office Products', 'EXECUTIVE OFFICE PRODUCTS', '(559) 555-1704', '1704', '559.555.1704'),
 ('Leslie Company', 'LESLIE COMPANY', '(800) 255-6210', '6210', '800.255.6210'),
 ('Retirement Plan Consultants', 'RETIREMENT PLAN CONSULTANTS', '(559) 555-7070', '7070', '559.555.7070'),
 ('Simon Direct Inc', 'SIMON DIRECT INC', '(908) 555-7222', '7222', '908.555.7222'),
 ('State Board Of Equalization', 'STATE BOARD OF EQUALIZATION', '(916) 555-4911', '4911', '916.555.4911'),
 ('The Presort Center', 'THE PRESORT CENTER', '(559) 555-6151', '6151', '559.555.6151'),
 ('Valprint', 'VALPRINT', '(559) 555-3112', '3112', '559.555.3112'),
 ('Cardinal Business Media, Inc.', 'CARDINAL BUSINESS MEDIA, INC.', '(215) 555-1500', '1500', '215.555.1500'),
 ('Wang Laboratories, Inc.', 'WANG LABORATORIES, INC.', '(800) 555-0344', '0344', '800.555.0344'),
 ("Reiter's Scientific & Pro Books", "REITER'S SCIENTIFIC & PRO BOOKS", '(202) 555-5561', '5561', '202.555.5561'),
 ('Ingram', 'INGRAM', None, None, None),
 ('Boucher Communications Inc', 'BOUCHER COMMUNICATIONS INC', '(215) 555-8000', '8000', '215.555.8000'),
 ('Champion Printing Company', 'CHAMPION PRINTING COMPANY', '(800) 555-1957', '1957', '800.555.1957'),
 ('Computerworld', 'COMPUTERWORLD', '(617) 555-0700', '0700', '617.555.0700'),
 ('DMV Renewal', 'DMV RENEWAL', None, None, None),
 ('Edward Data Services', 'EDWARD DATA SERVICES', '(513) 555-3043', '3043', '513.555.3043'),
 ('Evans Executone Inc', 'EVANS EXECUTONE INC', None, None, None),
 ('Wakefield Co', 'WAKEFIELD CO', '(559) 555-4744', '4744', '559.555.4744'),
 ('McKesson Water Products', 'MCKESSON WATER PRODUCTS', '(800) 555-7009', '7009', '800.555.7009'),
 ('Zip Print & Copy Center', 'ZIP PRINT & COPY CENTER', '(233) 555-6400', '6400', '233.555.6400'),
 ('AT&T', 'AT&T', None, None, None),
 ('Abbey Office Furnishings', 'ABBEY OFFICE FURNISHINGS', '(559) 555-8300', '8300', '559.555.8300'),
 ('Pacific Bell', 'PACIFIC BELL', '(209) 555-7500', '7500', '209.555.7500'),
 ('Wells Fargo Bank', 'WELLS FARGO BANK', '(947) 555-3900', '3900', '947.555.3900'),
 ('Compuserve', 'COMPUSERVE', '(614) 555-8600', '8600', '614.555.8600'),
 ('American Express', 'AMERICAN EXPRESS', '(800) 555-3344', '3344', '800.555.3344'),
 ('Bertelsmann Industry Svcs. Inc', 'BERTELSMANN INDUSTRY SVCS. INC', '(805) 555-0584', '0584', '805.555.0584'),
 ('Cahners Publishing Company', 'CAHNERS PUBLISHING COMPANY', '(301) 555-2162', '2162', '301.555.2162'),
 ('California Business Machines', 'CALIFORNIA BUSINESS MACHINES', '(559) 555-5570', '5570', '559.555.5570'),
 ('Coffee Break Service', 'COFFEE BREAK SERVICE', '(559) 555-8700', '8700', '559.555.8700'),
 ('Dean Witter Reynolds', 'DEAN WITTER REYNOLDS', '(508) 555-8737', '8737', '508.555.8737'),
 ('Digital Dreamworks', 'DIGITAL DREAMWORKS', None, None, None),
 ('Dristas Groom & McCormick', 'DRISTAS GROOM & MCCORMICK', '(559) 555-8484', '8484', '559.555.8484'),
 ('Ford Motor Credit Company', 'FORD MOTOR CREDIT COMPANY', '(800) 555-7000', '7000', '800.555.7000'),
 ('Franchise Tax Board', 'FRANCHISE TAX BOARD', None, None, None),
 ('Gostanian General Building', 'GOSTANIAN GENERAL BUILDING', '(559) 555-5100', '5100', '559.555.5100'),
 ('Kent H Landsberg Co', 'KENT H LANDSBERG CO', '(916) 555-8100', '8100', '916.555.8100'),
 ('Malloy Lithographing Inc', 'MALLOY LITHOGRAPHING INC', '(313) 555-6113', '6113', '313.555.6113'),
 ('Net Asset, Llc', 'NET ASSET, LLC', None, None, None),
 ('Office Depot', 'OFFICE DEPOT', '(800) 555-1711', '1711', '800.555.1711'),
 ('Pollstar', 'POLLSTAR', '(559) 555-2631', '2631', '559.555.2631'),
 ('Postmaster', 'POSTMASTER', '(559) 555-7785', '7785', '559.555.7785'),
 ('Roadway Package System, Inc', 'ROADWAY PACKAGE SYSTEM, INC', None, None, None),
 ('State of California', 'STATE OF CALIFORNIA', '(209) 555-5132', '5132', '209.555.5132'),
 ('Suburban Propane', 'SUBURBAN PROPANE', '(559) 555-2770', '2770', '559.555.2770'),
 ('Unocal', 'UNOCAL', '(415) 555-7600', '7600', '415.555.7600'),
 ('Yesmed, Inc', 'YESMED, INC', '(559) 555-0600', '0600', '559.555.0600'),
 ('Dataforms/West', 'DATAFORMS/WEST', None, None, None),
 ('Zylka Design', 'ZYLKA DESIGN', '(559) 555-8625', '8625', '559.555.8625'),
 ('United Parcel Service', 'UNITED PARCEL SERVICE', '(800) 555-0855', '0855', '800.555.0855'),
 ('Federal Express Corporation', 'FEDERAL EXPRESS CORPORATION', '(800) 555-4091', '4091', '800.555.4091')]

In [67]:
%%sql

SELECT vendor_name, 
  IF(LOCATE(' ', vendor_name), SUBSTRING_INDEX(SUBSTRING_INDEX(vendor_name, ' ', -2), ' ', 1), ' ') AS tk
FROM Vendors;

 * mysql+pymysql://w-alkao:***@localhost
122 rows affected.

[('Abbey Office Furnishings', 'Office'),
 ('American Booksellers Assoc', 'Booksellers'),
 ('American Express', 'American'),
 ('ASC Signs', 'ASC'),
 ('Ascom Hasler Mailing Systems', 'Mailing'),
 ('AT&T', ' '),
 ('Aztek Label', 'Aztek'),
 ('Baker & Taylor Books', 'Taylor'),
 ('Bertelsmann Industry Svcs. Inc', 'Svcs.'),
 ('BFI Industries', 'BFI'),
 ('Bill Jones', 'Bill'),
 ('Bill Marvin Electric Inc', 'Electric'),
 ('Blanchard & Johnson Associates', 'Johnson'),
 ('Blue Cross', 'Blue'),
 ('Blue Shield of California', 'of'),
 ('Boucher Communications Inc', 'Communications'),
 ('Cahners Publishing Company', 'Publishing'),
 ('Cal State Termite', 'State'),
 ('California Business Machines', 'Business'),
 ('California Chamber Of Commerce', 'Of'),
 ('California Data Marketing', 'Data'),
 ('Capital Resource Credit', 'Resource'),
 ('Cardinal Business Media, Inc.', 'Media,'),
 ('Champion Printing Company', 'Printing'),
 ('City Of Fresno', 'Of'),
 ('Cmg Information Services', 'Information'),
 ('Coffee Break Service', 'Break'),
 ('Compuserve', ' '),
 ('Computer Library', 'Computer'),
 ('Computerworld', ' '),
 ('Costco', ' '),
 ('Courier Companies, Inc', 'Companies,'),
 ('Crown Printing', 'Crown'),
 ('Custom Printing Company', 'Printing'),
 ('Data Reproductions Corp', 'Reproductions'),
 ('Dataforms/West', ' '),
 ('Dean Witter Reynolds', 'Witter'),
 ('Digital Dreamworks', 'Digital'),
 ('Diversified Printing & Pub', '&'),
 ('DMV Renewal', 'DMV'),
 ('Dristas Groom & McCormick', '&'),
 ('Edward Data Services', 'Data'),
 ('Enterprise Communications Inc', 'Communications'),
 ('Evans Executone Inc', 'Executone'),
 ('Executive Office Products', 'Office'),
 ('Expedata Inc', 'Expedata'),
 ('Federal Express Corporation', 'Express'),
 ('Ford Motor Credit Company', 'Credit'),
 ('Franchise Tax Board', 'Tax'),
 ('Frank E Wilber Co', 'Wilber'),
 ('Fresno County Tax Collector', 'Tax'),
 ('Fresno Credit Bureau', 'Credit'),
 ('Fresno Photoengraving Company', 'Photoengraving'),
 ('Fresno Rack & Shelving Inc', 'Shelving'),
 ('Gary McKeighan Insurance', 'McKeighan'),
 ('Golden Eagle Insurance Co', 'Insurance'),
 ('Gostanian General Building', 'General'),
 ('Graylift', ' '),
 ('IBM', ' '),
 ('Ingram', ' '),
 ('Internal Revenue Service', 'Revenue'),
 ('Jobtrak', ' '),
 ('Kent H Landsberg Co', 'Landsberg'),
 ('Leslie Company', 'Leslie'),
 ("Lou Gentile's Flower Basket", 'Flower'),
 ('Malloy Lithographing Inc', 'Lithographing'),
 ('Mcgraw Hill Companies', 'Hill'),
 ('McKesson Water Products', 'Water'),
 ('Micro Center', 'Micro'),
 ('Nat Assoc of College Stores', 'College'),
 ('National Information Data Ctr', 'Data'),
 ('Naylor Publications Inc', 'Publications'),
 ('Net Asset, Llc', 'Asset,'),
 ('Newbrige Book Clubs', 'Book'),
 ('Nielson', ' '),
 ('Office Depot', 'Office'),
 ('Opamp Technical Books', 'Technical'),
 ('Open Horizons Publishing', 'Horizons'),
 ('Pacific Bell', 'Pacific'),
 ('Pacific Gas & Electric', '&'),
 ('Ph Photographic Services', 'Photographic'),
 ('Pollstar', ' '),
 ('Postmaster', ' '),
 ('Publishers Marketing Assoc', 'Marketing'),
 ('Publishers Weekly', 'Publishers'),
 ('Quality Education Data', 'Education'),
 ('Register of Copyrights', 'of'),
 ("Reiter's Scientific & Pro Books", 'Pro'),
 ('Retirement Plan Consultants', 'Plan'),
 ('Rich Advertising', 'Rich'),
 ('Roadway Package System, Inc', 'System,'),
 ('Robbins Mobile Lock And Key', 'And'),
 ('RR Bowker', 'RR'),
 ('Shields Design', 'Shields'),
 ('Simon Direct Inc', 'Direct'),
 ('Small Press', 'Small'),
 ('Springhouse Corp', 'Springhouse'),
 ('State Board Of Equalization', 'Of'),
 ('State of California', 'of'),
 ('Suburban Propane', 'Suburban'),
 ('Texaco', ' '),
 ('The Drawing Board', 'Drawing'),
 ('The Fresno Bee', 'Fresno'),
 ('The Library Ltd', 'Library'),
 ('The Mailers Guide Co', 'Guide'),
 ('The Presort Center', 'Presort'),
 ('The Windows Deck', 'Windows'),
 ("Towne Advertiser's Mailing Svcs", 'Mailing'),
 ('United Parcel Service', 'Parcel'),
 ('Unocal', ' '),
 ('US Postal Service', 'Postal'),
 ('Valprint', ' '),
 ("Venture Communications Int'l", 'Communications'),
 ('Vision Envelope & Printing', '&'),
 ('Wakefield Co', 'Wakefield'),
 ('Wang Laboratories, Inc.', 'Laboratories,'),
 ('Wells Fargo Bank', 'Fargo'),
 ('Yale Industrial Trucks-Fresno', 'Industrial'),
 ('Yesmed, Inc', 'Yesmed,'),
 ('Zee Medical Service Co', 'Service'),
 ('Zip Print & Copy Center', 'Copy'),
 ('Zylka Design', 'Zylka')]