In [1]:
%load_ext sql

In [2]:
%%sql
mysql+pymysql://w-alkao:mypassword@localhost

In [3]:
%sql SHOW DATABASES;

 * mysql+pymysql://w-alkao:***@localhost
8 rows affected.

[('ap',),
 ('ex',),
 ('information_schema',),
 ('livestock',),
 ('mysql',),
 ('om',),
 ('performance_schema',),
 ('sys',)]

In [6]:
%sql USE ap;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

## Insert, Update, and Delete Data

......

### create test tables (copy of a table)

In [12]:
%%sql #create a complete copy of the invoices tables

CREATE TABLE Invoices_copy AS
SELECT * FROM Invoices

 * mysql+pymysql://w-alkao:***@localhost
114 rows affected.

[]

In [13]:
%sql DESCRIBE Invoices_copy

 * mysql+pymysql://w-alkao:***@localhost
10 rows affected.

[('invoice_id', 'int', 'NO', '', '0', ''),
 ('vendor_id', 'int', 'NO', '', None, ''),
 ('invoice_number', 'varchar(50)', 'NO', '', None, ''),
 ('invoice_date', 'date', 'NO', '', None, ''),
 ('invoice_total', 'decimal(9,2)', 'NO', '', None, ''),
 ('payment_total', 'decimal(9,2)', 'NO', '', '0.00', ''),
 ('credit_total', 'decimal(9,2)', 'NO', '', '0.00', ''),
 ('terms_id', 'int', 'NO', '', None, ''),
 ('invoice_due_date', 'date', 'NO', '', None, ''),
 ('payment_date', 'date', 'YES', '', None, '')]

In [14]:
%sql SELECT * FROM Invoices_copy

 * mysql+pymysql://w-alkao:***@localhost
114 rows affected.

[(1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 3, datetime.date(2018, 5, 8), datetime.date(2018, 5, 7)),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), datetime.date(2018, 5, 14)),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), datetime.date(2018, 5, 9)),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 12)),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 11)),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 21)),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), datetime.date(2018, 5, 22)),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), datetime.date(2018, 5, 1)),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 21)),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 22)),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), datetime.date(2018, 5, 20)),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 2, datetime.date(2018, 5, 16), datetime.date(2018, 5, 13)),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 5, 20), datetime.date(2018, 5, 23)),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 10), datetime.date(2018, 6, 10)),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 3, datetime.date(2018, 6, 2), datetime.date(2018, 5, 30)),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), datetime.date(2018, 5, 22)),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), datetime.date(2018, 6, 5)),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), datetime.date(2018, 6, 5)),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), datetime.date(2018, 5, 19)),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 19), datetime.date(2018, 6, 15)),
 (21, 119, '10843', datetime.date(2018, 5, 11), Decimal('4901.26'), Decimal('4901.26'), Decimal('0.00'), 2, datetime.date(2018, 5, 31), datetime.date(2018, 5, 29)),
 (22, 123, '963253235', datetime.date(2018, 5, 11), Decimal('108.25'), Decimal('108.25'), Decimal('0.00'), 3, datetime.date(2018, 6, 10), datetime.date(2018, 6, 9)),
 (23, 97, '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 6, 2), datetime.date(2018, 5, 28)),
 (24, 113, '77290', datetime.date(2018, 5, 13), Decimal('1750.00'), Decimal('1750.00'), Decimal('0.00'), 5, datetime.date(2018, 7, 2), datetime.date(2018, 7, 5)),
 (25, 123, '963253246', datetime.date(2018, 5, 13), Decimal('129.00'), Decimal('129.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 12), datetime.date(2018, 6, 9)),
 (26, 123, '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 13), datetime.date(2018, 6, 13)),
 (27, 88, '972110', datetime.date(2018, 5, 15), Decimal('207.78'), Decimal('207.78'), Decimal('0.00'), 1, datetime.date(2018, 5, 25), datetime.date(2018, 5, 27)),
 (28, 123, '963253263', datetime.date(2018, 5, 16), Decimal('109.50'), Decimal('109.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 15), datetime.date(2018, 6, 10)),
 (29, 108, '121897', datetime.date(2018, 5, 19), Decimal('450.00'), Decimal('450.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 28), datetime.date(2018, 7, 3)),
 (30, 123, '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40'), Decimal('63.40'), Decimal('0.00'), 3, datetime.date(2018, 6, 19), datetime.date(2018, 6, 24)),
 (31, 104, 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34'), Decimal('7125.34'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 24)),
 (32, 121, '97/486', datetime.date(2018, 5, 21), Decimal('953.10'), Decimal('953.10'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 22)),
 (33, 105, '94007005', datetime.date(2018, 5, 23), Decimal('220.00'), Decimal('220.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 26)),
 (34, 123, '963253232', datetime.date(2018, 5, 23), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 18)),
 (35, 107, 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00'), Decimal('1600.00'), Decimal('0.00'), 4, datetime.date(2018, 7, 4), datetime.date(2018, 7, 9)),
 (36, 121, '97/465', datetime.date(2018, 5, 25), Decimal('565.15'), Decimal('565.15'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 24)),
 (37, 123, '963253260', datetime.date(2018, 5, 25), Decimal('36.00'), Decimal('36.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (38, 123, '963253272', datetime.date(2018, 5, 26), Decimal('61.50'), Decimal('61.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 25), datetime.date(2018, 6, 30)),
 (39, 110, '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19'), Decimal('37966.19'), Decimal('0.00'), 3, datetime.date(2018, 6, 27), datetime.date(2018, 6, 30)),
 (40, 121, '97/503', datetime.date(2018, 5, 30), Decimal('639.77'), Decimal('639.77'), Decimal('0.00'), 3, datetime.date(2018, 6, 29), datetime.date(2018, 6, 25)),
 (41, 123, '963253255', datetime.date(2018, 5, 31), Decimal('53.75'), Decimal('53.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 6, 27)),
 (42, 123, '94007069', datetime.date(2018, 5, 31), Decimal('400.00'), Decimal('400.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 7, 1)),
 (43, 72, '40318', datetime.date(2018, 6, 1), Decimal('21842.00'), Decimal('21842.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 29)),
 (44, 95, '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67'), Decimal('19.67'), Decimal('0.00'), 2, datetime.date(2018, 6, 21), datetime.date(2018, 6, 24)),
 (45, 122, '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36'), Decimal('2765.36'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 28)),
 (46, 37, '547481328', datetime.date(2018, 6, 3), Decimal('224.00'), Decimal('224.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 4)),
 (47, 83, '31359783', datetime.date(2018, 6, 3), Decimal('1575.00'), Decimal('1575.00'), Decimal('0.00'), 2, datetime.date(2018, 6, 23), datetime.date(2018, 6, 21)),
 (48, 123, '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00'), Decimal('33.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 5)),
 (49, 95, '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (50, 37, '547479217', datetime.date(2018, 6, 7), Decimal('116.00'), Decimal('116.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 7), datetime.date(2018, 7, 7)),
 (51, 122, '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11'), Decimal('2184.11'), Decimal('0.00'), 3, datetime.date(2018, 7, 8), datetime.date(2018, 7, 8)),
 (52, 34, 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58'), Decimal('1083.58'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 23)),
 (53, 95, '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21'), Decimal('46.21'), Decimal('0.00'), 2, datetime.date(2018, 6, 29), datetime.date(2018, 7, 2)),
 (54, 121, '97/553B', datetime.date(2018, 6, 10), Decimal('313.55'), Decimal('313.55'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 9)),
 (55, 123, '963253245', datetime.date(2018, 6, 10), Decimal('40.75'), Decimal('40.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 12)),
 (56, 86, '367447', datetime.date(2018, 6, 11), Decimal('2433.00'), Decimal('2433.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 17)),
 (57, 103, '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50'), Decimal('1367.50'), Decimal('0.00'), 5, datetime.date(2018, 7, 31), datetime.date(2018, 7, 31)),
 (58, 123, '963253256', datetime.date(2018, 6, 11), Decimal('53.25'), Decimal('53.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 7)),
 (59, 123, '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75'), Decimal('13.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 15)),
 (60, 122, '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20'), Decimal('2312.20'), Decimal('0.00'), 3, datetime.date(2018, 7, 12), datetime.date(2018, 7, 9)),
 (61, 115, '24946731', datetime.date(2018, 6, 15), Decimal('25.67'), Decimal('25.67'), Decimal('0.00'), 4, datetime.date(2018, 7, 25), datetime.date(2018, 7, 26)),
 (62, 123, '963253269', datetime.date(2018, 6, 15), Decimal('26.75'), Decimal('26.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 15), datetime.date(2018, 7, 11)),
 (63, 122, '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81'), Decimal('2115.81'), Decimal('0.00'), 3, datetime.date(2018, 7, 16), datetime.date(2018, 7, 19)),
 (64, 123, '963253267', datetime.date(2018, 6, 17), Decimal('23.50'), Decimal('23.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 17), datetime.date(2018, 7, 19)),
 (65, 99, '509786', datetime.date(2018, 6, 18), Decimal('6940.25'), Decimal('6940.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 15)),
 (66, 123, '263253253', datetime.date(2018, 6, 18), Decimal('31.95'), Decimal('31.95'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 21)),
 (67, 122, '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54'), Decimal('1927.54'), Decimal('0.00'), 3, datetime.date(2018, 7, 20), datetime.date(2018, 7, 18)),
 (68, 81, 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93'), Decimal('936.93'), Decimal('0.00'), 2, datetime.date(2018, 7, 11), datetime.date(2018, 7, 10)),
 (69, 80, '133560', datetime.date(2018, 6, 22), Decimal('175.00'), Decimal('175.00'), Decimal('0.00'), 2, datetime.date(2018, 7, 12), datetime.date(2018, 7, 16)),
 (70, 115, '24780512', datetime.date(2018, 6, 22), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 8, 1), datetime.date(2018, 7, 29)),
 (71, 123, '963253254', datetime.date(2018, 6, 22), Decimal('108.50'), Decimal('108.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 20)),
 (72, 123, '43966316', datetime.date(2018, 6, 22), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 17)),
 (73, 114, 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00'), Decimal('290.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 6, 29)),
 (74, 102, '109596', datetime.date(2018, 6, 24), Decimal('41.80'), Decimal('41.80'), Decimal('0.00'), 4, datetime.date(2018, 8, 3), datetime.date(2018, 8, 4)),
 (75, 123, '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00'), Decimal('27.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 24)),
 (76, 123, '963253248', datetime.date(2018, 6, 24), Decimal('241.00'), Decimal('241.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 25)),
 (77, 121, '97/553', datetime.date(2018, 6, 25), Decimal('904.14'), Decimal('904.14'), Decimal('0.00'), 3, datetime.date(2018, 7, 25), datetime.date(2018, 7, 25)),
 (78, 121, '97/522', datetime.date(2018, 6, 28), Decimal('1962.13'), Decimal('1762.13'), Decimal('200.00'), 3, datetime.date(2018, 7, 28), datetime.date(2018, 7, 30)),
 (79, 100, '587056', datetime.date(2018, 6, 30), Decimal('2184.50'), Decimal('2184.50'), Decimal('0.00'), 4, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (80, 122, '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03'), Decimal('2318.03'), Decimal('0.00'), 3, datetime.date(2018, 7, 31), datetime.date(2018, 7, 29)),
 (81, 123, '263253265', datetime.date(2018, 7, 2), Decimal('26.25'), Decimal('26.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 1), datetime.date(2018, 7, 28)),
 (82, 94, '203339-13', datetime.date(2018, 7, 5), Decimal('17.50'), Decimal('17.50'), Decimal('0.00'), 2, datetime.date(2018, 7, 25), datetime.date(2018, 7, 27)),
 (83, 95, '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77'), Decimal('39.77'), Decimal('0.00'), 2, datetime.date(2018, 7, 26), datetime.date(2018, 7, 22)),
 (84, 123, '963253258', datetime.date(2018, 7, 6), Decimal('111.00'), Decimal('111.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 5), datetime.date(2018, 8, 5)),
 (85, 123, '963253271', datetime.date(2018, 7, 7), Decimal('158.00'), Decimal('158.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 11)),
 (86, 123, '963253230', datetime.date(2018, 7, 7), Decimal('739.20'), Decimal('739.20'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 6)),
 (87, 123, '963253244', datetime.date(2018, 7, 8), Decimal('60.00'), Decimal('60.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 9)),
 (88, 123, '963253239', datetime.date(2018, 7, 8), Decimal('147.25'), Decimal('147.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 11)),
 (89, 72, '39104', datetime.date(2018, 7, 10), Decimal('85.31'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 9), None),
 (90, 123, '963253252', datetime.date(2018, 7, 12), Decimal('38.75'), Decimal('38.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 11), datetime.date(2018, 8, 11)),
 (91, 95, '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70'), Decimal('32.70'), Decimal('0.00'), 2, datetime.date(2018, 8, 4), datetime.date(2018, 8, 6)),
 (92, 117, '111897', datetime.date(2018, 7, 15), Decimal('16.62'), Decimal('16.62'), Decimal('0.00'), 3, datetime.date(2018, 8, 14), datetime.date(2018, 8, 14)),
 (93, 123, '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75'), Decimal('162.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 15), datetime.date(2018, 8, 11)),
 (94, 123, '963253264', datetime.date(2018, 7, 18), Decimal('52.25'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 17), None),
 (95, 82, 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00'), Decimal('600.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 8), datetime.date(2018, 8, 13)),
 (96, 110, 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40'), Decimal('26881.40'), Decimal('0.00'), 3, datetime.date(2018, 8, 18), datetime.date(2018, 8, 20)),
 (97, 90, '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48'), Decimal('356.48'), Decimal('0.00'), 2, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (98, 83, '31361833', datetime.date(2018, 7, 21), Decimal('579.42'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 10), None),
 (99, 123, '263253268', datetime.date(2018, 7, 21), Decimal('59.97'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 20), None),
 (100, 123, '263253270', datetime.date(2018, 7, 22), Decimal('67.92'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (101, 123, '263253273', datetime.date(2018, 7, 22), Decimal('30.75'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (102, 110, 'P-0608', datetime.date(2018, 7, 23), Decimal('20551.18'), Decimal('0.00'), Decimal('1200.00'), 3, datetime.date(2018, 8, 22), None),
 (103, 122, '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59'), Decimal('2051.59'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (104, 123, '263253243', datetime.date(2018, 7, 23), Decimal('44.44'), Decimal('44.44'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (105, 106, '9982771', datetime.date(2018, 7, 24), Decimal('503.20'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), None),
 (106, 110, '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58'), Decimal('21221.63'), Decimal('2295.95'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 27)),
 (107, 122, '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99'), Decimal('3689.99'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 19)),
 (108, 123, '963253240', datetime.date(2018, 7, 24), Decimal('67.00'), Decimal('67.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 23)),
 (109, 121, '97/222', datetime.date(2018, 7, 25), Decimal('1000.46'), Decimal('1000.46'), Decimal('0.00'), 3, datetime.date(2018, 8, 24), datetime.date(2018, 8, 22)),
 (110, 80, '134116', datetime.date(2018, 7, 28), Decimal('90.36'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 17), None),
 (111, 123, '263253257', datetime.date(2018, 7, 30), Decimal('22.57'), Decimal('22.57'), Decimal('0.00'), 3, datetime.date(2018, 8, 29), datetime.date(2018, 9, 3)),
 (112, 110, '0-2436', datetime.date(2018, 7, 31), Decimal('10976.06'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 30), None),
 (113, 37, '547480102', datetime.date(2018, 8, 1), Decimal('224.00'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 31), None),
 (114, 123, '963253249', datetime.date(2018, 8, 2), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 9, 1), datetime.date(2018, 9, 4))]

In [15]:
%%sql # Create a partial copy of the Invoices table a table with no balance due

CREATE TABLE old_invoices AS
SELECT * FROM Invoices
WHERE invoice_total - payment_total - credit_total = 0

 * mysql+pymysql://w-alkao:***@localhost
103 rows affected.

[]

In [16]:
%sql SELECT * FROM old_invoices;

 * mysql+pymysql://w-alkao:***@localhost
103 rows affected.

[(1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 3, datetime.date(2018, 5, 8), datetime.date(2018, 5, 7)),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), datetime.date(2018, 5, 14)),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), datetime.date(2018, 5, 9)),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 12)),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 11)),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 21)),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), datetime.date(2018, 5, 22)),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), datetime.date(2018, 5, 1)),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 21)),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 22)),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), datetime.date(2018, 5, 20)),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 2, datetime.date(2018, 5, 16), datetime.date(2018, 5, 13)),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 5, 20), datetime.date(2018, 5, 23)),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 10), datetime.date(2018, 6, 10)),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 3, datetime.date(2018, 6, 2), datetime.date(2018, 5, 30)),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), datetime.date(2018, 5, 22)),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), datetime.date(2018, 6, 5)),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), datetime.date(2018, 6, 5)),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), datetime.date(2018, 5, 19)),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 19), datetime.date(2018, 6, 15)),
 (21, 119, '10843', datetime.date(2018, 5, 11), Decimal('4901.26'), Decimal('4901.26'), Decimal('0.00'), 2, datetime.date(2018, 5, 31), datetime.date(2018, 5, 29)),
 (22, 123, '963253235', datetime.date(2018, 5, 11), Decimal('108.25'), Decimal('108.25'), Decimal('0.00'), 3, datetime.date(2018, 6, 10), datetime.date(2018, 6, 9)),
 (23, 97, '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 6, 2), datetime.date(2018, 5, 28)),
 (24, 113, '77290', datetime.date(2018, 5, 13), Decimal('1750.00'), Decimal('1750.00'), Decimal('0.00'), 5, datetime.date(2018, 7, 2), datetime.date(2018, 7, 5)),
 (25, 123, '963253246', datetime.date(2018, 5, 13), Decimal('129.00'), Decimal('129.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 12), datetime.date(2018, 6, 9)),
 (26, 123, '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 13), datetime.date(2018, 6, 13)),
 (27, 88, '972110', datetime.date(2018, 5, 15), Decimal('207.78'), Decimal('207.78'), Decimal('0.00'), 1, datetime.date(2018, 5, 25), datetime.date(2018, 5, 27)),
 (28, 123, '963253263', datetime.date(2018, 5, 16), Decimal('109.50'), Decimal('109.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 15), datetime.date(2018, 6, 10)),
 (29, 108, '121897', datetime.date(2018, 5, 19), Decimal('450.00'), Decimal('450.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 28), datetime.date(2018, 7, 3)),
 (30, 123, '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40'), Decimal('63.40'), Decimal('0.00'), 3, datetime.date(2018, 6, 19), datetime.date(2018, 6, 24)),
 (31, 104, 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34'), Decimal('7125.34'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 24)),
 (32, 121, '97/486', datetime.date(2018, 5, 21), Decimal('953.10'), Decimal('953.10'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 22)),
 (33, 105, '94007005', datetime.date(2018, 5, 23), Decimal('220.00'), Decimal('220.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 26)),
 (34, 123, '963253232', datetime.date(2018, 5, 23), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 18)),
 (35, 107, 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00'), Decimal('1600.00'), Decimal('0.00'), 4, datetime.date(2018, 7, 4), datetime.date(2018, 7, 9)),
 (36, 121, '97/465', datetime.date(2018, 5, 25), Decimal('565.15'), Decimal('565.15'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 24)),
 (37, 123, '963253260', datetime.date(2018, 5, 25), Decimal('36.00'), Decimal('36.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (38, 123, '963253272', datetime.date(2018, 5, 26), Decimal('61.50'), Decimal('61.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 25), datetime.date(2018, 6, 30)),
 (39, 110, '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19'), Decimal('37966.19'), Decimal('0.00'), 3, datetime.date(2018, 6, 27), datetime.date(2018, 6, 30)),
 (40, 121, '97/503', datetime.date(2018, 5, 30), Decimal('639.77'), Decimal('639.77'), Decimal('0.00'), 3, datetime.date(2018, 6, 29), datetime.date(2018, 6, 25)),
 (41, 123, '963253255', datetime.date(2018, 5, 31), Decimal('53.75'), Decimal('53.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 6, 27)),
 (42, 123, '94007069', datetime.date(2018, 5, 31), Decimal('400.00'), Decimal('400.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 7, 1)),
 (43, 72, '40318', datetime.date(2018, 6, 1), Decimal('21842.00'), Decimal('21842.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 29)),
 (44, 95, '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67'), Decimal('19.67'), Decimal('0.00'), 2, datetime.date(2018, 6, 21), datetime.date(2018, 6, 24)),
 (45, 122, '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36'), Decimal('2765.36'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 28)),
 (46, 37, '547481328', datetime.date(2018, 6, 3), Decimal('224.00'), Decimal('224.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 4)),
 (47, 83, '31359783', datetime.date(2018, 6, 3), Decimal('1575.00'), Decimal('1575.00'), Decimal('0.00'), 2, datetime.date(2018, 6, 23), datetime.date(2018, 6, 21)),
 (48, 123, '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00'), Decimal('33.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 5)),
 (49, 95, '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (50, 37, '547479217', datetime.date(2018, 6, 7), Decimal('116.00'), Decimal('116.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 7), datetime.date(2018, 7, 7)),
 (51, 122, '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11'), Decimal('2184.11'), Decimal('0.00'), 3, datetime.date(2018, 7, 8), datetime.date(2018, 7, 8)),
 (52, 34, 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58'), Decimal('1083.58'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 23)),
 (53, 95, '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21'), Decimal('46.21'), Decimal('0.00'), 2, datetime.date(2018, 6, 29), datetime.date(2018, 7, 2)),
 (54, 121, '97/553B', datetime.date(2018, 6, 10), Decimal('313.55'), Decimal('313.55'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 9)),
 (55, 123, '963253245', datetime.date(2018, 6, 10), Decimal('40.75'), Decimal('40.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 12)),
 (56, 86, '367447', datetime.date(2018, 6, 11), Decimal('2433.00'), Decimal('2433.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 17)),
 (57, 103, '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50'), Decimal('1367.50'), Decimal('0.00'), 5, datetime.date(2018, 7, 31), datetime.date(2018, 7, 31)),
 (58, 123, '963253256', datetime.date(2018, 6, 11), Decimal('53.25'), Decimal('53.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 7)),
 (59, 123, '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75'), Decimal('13.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 15)),
 (60, 122, '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20'), Decimal('2312.20'), Decimal('0.00'), 3, datetime.date(2018, 7, 12), datetime.date(2018, 7, 9)),
 (61, 115, '24946731', datetime.date(2018, 6, 15), Decimal('25.67'), Decimal('25.67'), Decimal('0.00'), 4, datetime.date(2018, 7, 25), datetime.date(2018, 7, 26)),
 (62, 123, '963253269', datetime.date(2018, 6, 15), Decimal('26.75'), Decimal('26.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 15), datetime.date(2018, 7, 11)),
 (63, 122, '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81'), Decimal('2115.81'), Decimal('0.00'), 3, datetime.date(2018, 7, 16), datetime.date(2018, 7, 19)),
 (64, 123, '963253267', datetime.date(2018, 6, 17), Decimal('23.50'), Decimal('23.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 17), datetime.date(2018, 7, 19)),
 (65, 99, '509786', datetime.date(2018, 6, 18), Decimal('6940.25'), Decimal('6940.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 15)),
 (66, 123, '263253253', datetime.date(2018, 6, 18), Decimal('31.95'), Decimal('31.95'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 21)),
 (67, 122, '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54'), Decimal('1927.54'), Decimal('0.00'), 3, datetime.date(2018, 7, 20), datetime.date(2018, 7, 18)),
 (68, 81, 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93'), Decimal('936.93'), Decimal('0.00'), 2, datetime.date(2018, 7, 11), datetime.date(2018, 7, 10)),
 (69, 80, '133560', datetime.date(2018, 6, 22), Decimal('175.00'), Decimal('175.00'), Decimal('0.00'), 2, datetime.date(2018, 7, 12), datetime.date(2018, 7, 16)),
 (70, 115, '24780512', datetime.date(2018, 6, 22), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 8, 1), datetime.date(2018, 7, 29)),
 (71, 123, '963253254', datetime.date(2018, 6, 22), Decimal('108.50'), Decimal('108.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 20)),
 (72, 123, '43966316', datetime.date(2018, 6, 22), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 17)),
 (73, 114, 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00'), Decimal('290.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 6, 29)),
 (74, 102, '109596', datetime.date(2018, 6, 24), Decimal('41.80'), Decimal('41.80'), Decimal('0.00'), 4, datetime.date(2018, 8, 3), datetime.date(2018, 8, 4)),
 (75, 123, '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00'), Decimal('27.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 24)),
 (76, 123, '963253248', datetime.date(2018, 6, 24), Decimal('241.00'), Decimal('241.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 25)),
 (77, 121, '97/553', datetime.date(2018, 6, 25), Decimal('904.14'), Decimal('904.14'), Decimal('0.00'), 3, datetime.date(2018, 7, 25), datetime.date(2018, 7, 25)),
 (78, 121, '97/522', datetime.date(2018, 6, 28), Decimal('1962.13'), Decimal('1762.13'), Decimal('200.00'), 3, datetime.date(2018, 7, 28), datetime.date(2018, 7, 30)),
 (79, 100, '587056', datetime.date(2018, 6, 30), Decimal('2184.50'), Decimal('2184.50'), Decimal('0.00'), 4, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (80, 122, '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03'), Decimal('2318.03'), Decimal('0.00'), 3, datetime.date(2018, 7, 31), datetime.date(2018, 7, 29)),
 (81, 123, '263253265', datetime.date(2018, 7, 2), Decimal('26.25'), Decimal('26.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 1), datetime.date(2018, 7, 28)),
 (82, 94, '203339-13', datetime.date(2018, 7, 5), Decimal('17.50'), Decimal('17.50'), Decimal('0.00'), 2, datetime.date(2018, 7, 25), datetime.date(2018, 7, 27)),
 (83, 95, '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77'), Decimal('39.77'), Decimal('0.00'), 2, datetime.date(2018, 7, 26), datetime.date(2018, 7, 22)),
 (84, 123, '963253258', datetime.date(2018, 7, 6), Decimal('111.00'), Decimal('111.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 5), datetime.date(2018, 8, 5)),
 (85, 123, '963253271', datetime.date(2018, 7, 7), Decimal('158.00'), Decimal('158.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 11)),
 (86, 123, '963253230', datetime.date(2018, 7, 7), Decimal('739.20'), Decimal('739.20'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 6)),
 (87, 123, '963253244', datetime.date(2018, 7, 8), Decimal('60.00'), Decimal('60.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 9)),
 (88, 123, '963253239', datetime.date(2018, 7, 8), Decimal('147.25'), Decimal('147.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 11)),
 (90, 123, '963253252', datetime.date(2018, 7, 12), Decimal('38.75'), Decimal('38.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 11), datetime.date(2018, 8, 11)),
 (91, 95, '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70'), Decimal('32.70'), Decimal('0.00'), 2, datetime.date(2018, 8, 4), datetime.date(2018, 8, 6)),
 (92, 117, '111897', datetime.date(2018, 7, 15), Decimal('16.62'), Decimal('16.62'), Decimal('0.00'), 3, datetime.date(2018, 8, 14), datetime.date(2018, 8, 14)),
 (93, 123, '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75'), Decimal('162.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 15), datetime.date(2018, 8, 11)),
 (95, 82, 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00'), Decimal('600.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 8), datetime.date(2018, 8, 13)),
 (96, 110, 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40'), Decimal('26881.40'), Decimal('0.00'), 3, datetime.date(2018, 8, 18), datetime.date(2018, 8, 20)),
 (97, 90, '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48'), Decimal('356.48'), Decimal('0.00'), 2, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (103, 122, '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59'), Decimal('2051.59'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (104, 123, '263253243', datetime.date(2018, 7, 23), Decimal('44.44'), Decimal('44.44'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (106, 110, '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58'), Decimal('21221.63'), Decimal('2295.95'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 27)),
 (107, 122, '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99'), Decimal('3689.99'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 19)),
 (108, 123, '963253240', datetime.date(2018, 7, 24), Decimal('67.00'), Decimal('67.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 23)),
 (109, 121, '97/222', datetime.date(2018, 7, 25), Decimal('1000.46'), Decimal('1000.46'), Decimal('0.00'), 3, datetime.date(2018, 8, 24), datetime.date(2018, 8, 22)),
 (111, 123, '263253257', datetime.date(2018, 7, 30), Decimal('22.57'), Decimal('22.57'), Decimal('0.00'), 3, datetime.date(2018, 8, 29), datetime.date(2018, 9, 3)),
 (114, 123, '963253249', datetime.date(2018, 8, 2), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 9, 1), datetime.date(2018, 9, 4))]

In [17]:
%%sql #Create a table with summary rows from the Invoices table

CREATE TABLE Vendor_balances AS
SELECT vendor_id, SUM(invoice_total) AS sum_of_invoices
FROM Invoices
WHERE (invoice_total - payment_total - credit_total) <> 0
GROUP BY vendor_id;

 * mysql+pymysql://w-alkao:***@localhost
7 rows affected.

[]

In [19]:
%sql SELECT * FROM Vendor_balances;

 * mysql+pymysql://w-alkao:***@localhost
7 rows affected.

[(37, Decimal('224.00')),
 (72, Decimal('85.31')),
 (80, Decimal('90.36')),
 (83, Decimal('579.42')),
 (106, Decimal('503.20')),
 (110, Decimal('31527.24')),
 (123, Decimal('210.89'))]

In [20]:
%sql SHOW TABLES;

 * mysql+pymysql://w-alkao:***@localhost
10 rows affected.

[('General_ledger_accounts',),
 ('Invoice_archive',),
 ('Invoice_line_items',),
 ('Invoices',),
 ('Invoices_copy',),
 ('Terms',),
 ('Vendor_balances',),
 ('Vendor_contacts',),
 ('Vendors',),
 ('old_invoices',)]

In [21]:
%%sql #Delete a copy table

DROP TABLE old_invoices;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

## Insertion of new rows

In [23]:
%sql SELECT * FROM Invoices

 * mysql+pymysql://w-alkao:***@localhost
114 rows affected.

[(1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 3, datetime.date(2018, 5, 8), datetime.date(2018, 5, 7)),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), datetime.date(2018, 5, 14)),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), datetime.date(2018, 5, 9)),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 12)),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 11)),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 21)),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), datetime.date(2018, 5, 22)),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), datetime.date(2018, 5, 1)),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 21)),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 22)),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), datetime.date(2018, 5, 20)),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 2, datetime.date(2018, 5, 16), datetime.date(2018, 5, 13)),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 5, 20), datetime.date(2018, 5, 23)),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 10), datetime.date(2018, 6, 10)),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 3, datetime.date(2018, 6, 2), datetime.date(2018, 5, 30)),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), datetime.date(2018, 5, 22)),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), datetime.date(2018, 6, 5)),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), datetime.date(2018, 6, 5)),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), datetime.date(2018, 5, 19)),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 19), datetime.date(2018, 6, 15)),
 (21, 119, '10843', datetime.date(2018, 5, 11), Decimal('4901.26'), Decimal('4901.26'), Decimal('0.00'), 2, datetime.date(2018, 5, 31), datetime.date(2018, 5, 29)),
 (22, 123, '963253235', datetime.date(2018, 5, 11), Decimal('108.25'), Decimal('108.25'), Decimal('0.00'), 3, datetime.date(2018, 6, 10), datetime.date(2018, 6, 9)),
 (23, 97, '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 6, 2), datetime.date(2018, 5, 28)),
 (24, 113, '77290', datetime.date(2018, 5, 13), Decimal('1750.00'), Decimal('1750.00'), Decimal('0.00'), 5, datetime.date(2018, 7, 2), datetime.date(2018, 7, 5)),
 (25, 123, '963253246', datetime.date(2018, 5, 13), Decimal('129.00'), Decimal('129.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 12), datetime.date(2018, 6, 9)),
 (26, 123, '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 13), datetime.date(2018, 6, 13)),
 (27, 88, '972110', datetime.date(2018, 5, 15), Decimal('207.78'), Decimal('207.78'), Decimal('0.00'), 1, datetime.date(2018, 5, 25), datetime.date(2018, 5, 27)),
 (28, 123, '963253263', datetime.date(2018, 5, 16), Decimal('109.50'), Decimal('109.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 15), datetime.date(2018, 6, 10)),
 (29, 108, '121897', datetime.date(2018, 5, 19), Decimal('450.00'), Decimal('450.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 28), datetime.date(2018, 7, 3)),
 (30, 123, '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40'), Decimal('63.40'), Decimal('0.00'), 3, datetime.date(2018, 6, 19), datetime.date(2018, 6, 24)),
 (31, 104, 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34'), Decimal('7125.34'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 24)),
 (32, 121, '97/486', datetime.date(2018, 5, 21), Decimal('953.10'), Decimal('953.10'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 22)),
 (33, 105, '94007005', datetime.date(2018, 5, 23), Decimal('220.00'), Decimal('220.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 26)),
 (34, 123, '963253232', datetime.date(2018, 5, 23), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 18)),
 (35, 107, 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00'), Decimal('1600.00'), Decimal('0.00'), 4, datetime.date(2018, 7, 4), datetime.date(2018, 7, 9)),
 (36, 121, '97/465', datetime.date(2018, 5, 25), Decimal('565.15'), Decimal('565.15'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 24)),
 (37, 123, '963253260', datetime.date(2018, 5, 25), Decimal('36.00'), Decimal('36.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (38, 123, '963253272', datetime.date(2018, 5, 26), Decimal('61.50'), Decimal('61.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 25), datetime.date(2018, 6, 30)),
 (39, 110, '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19'), Decimal('37966.19'), Decimal('0.00'), 3, datetime.date(2018, 6, 27), datetime.date(2018, 6, 30)),
 (40, 121, '97/503', datetime.date(2018, 5, 30), Decimal('639.77'), Decimal('639.77'), Decimal('0.00'), 3, datetime.date(2018, 6, 29), datetime.date(2018, 6, 25)),
 (41, 123, '963253255', datetime.date(2018, 5, 31), Decimal('53.75'), Decimal('53.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 6, 27)),
 (42, 123, '94007069', datetime.date(2018, 5, 31), Decimal('400.00'), Decimal('400.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 7, 1)),
 (43, 72, '40318', datetime.date(2018, 6, 1), Decimal('21842.00'), Decimal('21842.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 29)),
 (44, 95, '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67'), Decimal('19.67'), Decimal('0.00'), 2, datetime.date(2018, 6, 21), datetime.date(2018, 6, 24)),
 (45, 122, '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36'), Decimal('2765.36'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 28)),
 (46, 37, '547481328', datetime.date(2018, 6, 3), Decimal('224.00'), Decimal('224.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 4)),
 (47, 83, '31359783', datetime.date(2018, 6, 3), Decimal('1575.00'), Decimal('1575.00'), Decimal('0.00'), 2, datetime.date(2018, 6, 23), datetime.date(2018, 6, 21)),
 (48, 123, '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00'), Decimal('33.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 5)),
 (49, 95, '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (50, 37, '547479217', datetime.date(2018, 6, 7), Decimal('116.00'), Decimal('116.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 7), datetime.date(2018, 7, 7)),
 (51, 122, '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11'), Decimal('2184.11'), Decimal('0.00'), 3, datetime.date(2018, 7, 8), datetime.date(2018, 7, 8)),
 (52, 34, 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58'), Decimal('1083.58'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 23)),
 (53, 95, '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21'), Decimal('46.21'), Decimal('0.00'), 2, datetime.date(2018, 6, 29), datetime.date(2018, 7, 2)),
 (54, 121, '97/553B', datetime.date(2018, 6, 10), Decimal('313.55'), Decimal('313.55'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 9)),
 (55, 123, '963253245', datetime.date(2018, 6, 10), Decimal('40.75'), Decimal('40.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 12)),
 (56, 86, '367447', datetime.date(2018, 6, 11), Decimal('2433.00'), Decimal('2433.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 17)),
 (57, 103, '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50'), Decimal('1367.50'), Decimal('0.00'), 5, datetime.date(2018, 7, 31), datetime.date(2018, 7, 31)),
 (58, 123, '963253256', datetime.date(2018, 6, 11), Decimal('53.25'), Decimal('53.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 7)),
 (59, 123, '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75'), Decimal('13.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 15)),
 (60, 122, '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20'), Decimal('2312.20'), Decimal('0.00'), 3, datetime.date(2018, 7, 12), datetime.date(2018, 7, 9)),
 (61, 115, '24946731', datetime.date(2018, 6, 15), Decimal('25.67'), Decimal('25.67'), Decimal('0.00'), 4, datetime.date(2018, 7, 25), datetime.date(2018, 7, 26)),
 (62, 123, '963253269', datetime.date(2018, 6, 15), Decimal('26.75'), Decimal('26.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 15), datetime.date(2018, 7, 11)),
 (63, 122, '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81'), Decimal('2115.81'), Decimal('0.00'), 3, datetime.date(2018, 7, 16), datetime.date(2018, 7, 19)),
 (64, 123, '963253267', datetime.date(2018, 6, 17), Decimal('23.50'), Decimal('23.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 17), datetime.date(2018, 7, 19)),
 (65, 99, '509786', datetime.date(2018, 6, 18), Decimal('6940.25'), Decimal('6940.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 15)),
 (66, 123, '263253253', datetime.date(2018, 6, 18), Decimal('31.95'), Decimal('31.95'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 21)),
 (67, 122, '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54'), Decimal('1927.54'), Decimal('0.00'), 3, datetime.date(2018, 7, 20), datetime.date(2018, 7, 18)),
 (68, 81, 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93'), Decimal('936.93'), Decimal('0.00'), 2, datetime.date(2018, 7, 11), datetime.date(2018, 7, 10)),
 (69, 80, '133560', datetime.date(2018, 6, 22), Decimal('175.00'), Decimal('175.00'), Decimal('0.00'), 2, datetime.date(2018, 7, 12), datetime.date(2018, 7, 16)),
 (70, 115, '24780512', datetime.date(2018, 6, 22), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 8, 1), datetime.date(2018, 7, 29)),
 (71, 123, '963253254', datetime.date(2018, 6, 22), Decimal('108.50'), Decimal('108.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 20)),
 (72, 123, '43966316', datetime.date(2018, 6, 22), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 17)),
 (73, 114, 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00'), Decimal('290.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 6, 29)),
 (74, 102, '109596', datetime.date(2018, 6, 24), Decimal('41.80'), Decimal('41.80'), Decimal('0.00'), 4, datetime.date(2018, 8, 3), datetime.date(2018, 8, 4)),
 (75, 123, '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00'), Decimal('27.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 24)),
 (76, 123, '963253248', datetime.date(2018, 6, 24), Decimal('241.00'), Decimal('241.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 25)),
 (77, 121, '97/553', datetime.date(2018, 6, 25), Decimal('904.14'), Decimal('904.14'), Decimal('0.00'), 3, datetime.date(2018, 7, 25), datetime.date(2018, 7, 25)),
 (78, 121, '97/522', datetime.date(2018, 6, 28), Decimal('1962.13'), Decimal('1762.13'), Decimal('200.00'), 3, datetime.date(2018, 7, 28), datetime.date(2018, 7, 30)),
 (79, 100, '587056', datetime.date(2018, 6, 30), Decimal('2184.50'), Decimal('2184.50'), Decimal('0.00'), 4, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (80, 122, '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03'), Decimal('2318.03'), Decimal('0.00'), 3, datetime.date(2018, 7, 31), datetime.date(2018, 7, 29)),
 (81, 123, '263253265', datetime.date(2018, 7, 2), Decimal('26.25'), Decimal('26.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 1), datetime.date(2018, 7, 28)),
 (82, 94, '203339-13', datetime.date(2018, 7, 5), Decimal('17.50'), Decimal('17.50'), Decimal('0.00'), 2, datetime.date(2018, 7, 25), datetime.date(2018, 7, 27)),
 (83, 95, '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77'), Decimal('39.77'), Decimal('0.00'), 2, datetime.date(2018, 7, 26), datetime.date(2018, 7, 22)),
 (84, 123, '963253258', datetime.date(2018, 7, 6), Decimal('111.00'), Decimal('111.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 5), datetime.date(2018, 8, 5)),
 (85, 123, '963253271', datetime.date(2018, 7, 7), Decimal('158.00'), Decimal('158.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 11)),
 (86, 123, '963253230', datetime.date(2018, 7, 7), Decimal('739.20'), Decimal('739.20'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 6)),
 (87, 123, '963253244', datetime.date(2018, 7, 8), Decimal('60.00'), Decimal('60.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 9)),
 (88, 123, '963253239', datetime.date(2018, 7, 8), Decimal('147.25'), Decimal('147.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 11)),
 (89, 72, '39104', datetime.date(2018, 7, 10), Decimal('85.31'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 9), None),
 (90, 123, '963253252', datetime.date(2018, 7, 12), Decimal('38.75'), Decimal('38.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 11), datetime.date(2018, 8, 11)),
 (91, 95, '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70'), Decimal('32.70'), Decimal('0.00'), 2, datetime.date(2018, 8, 4), datetime.date(2018, 8, 6)),
 (92, 117, '111897', datetime.date(2018, 7, 15), Decimal('16.62'), Decimal('16.62'), Decimal('0.00'), 3, datetime.date(2018, 8, 14), datetime.date(2018, 8, 14)),
 (93, 123, '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75'), Decimal('162.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 15), datetime.date(2018, 8, 11)),
 (94, 123, '963253264', datetime.date(2018, 7, 18), Decimal('52.25'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 17), None),
 (95, 82, 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00'), Decimal('600.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 8), datetime.date(2018, 8, 13)),
 (96, 110, 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40'), Decimal('26881.40'), Decimal('0.00'), 3, datetime.date(2018, 8, 18), datetime.date(2018, 8, 20)),
 (97, 90, '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48'), Decimal('356.48'), Decimal('0.00'), 2, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (98, 83, '31361833', datetime.date(2018, 7, 21), Decimal('579.42'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 10), None),
 (99, 123, '263253268', datetime.date(2018, 7, 21), Decimal('59.97'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 20), None),
 (100, 123, '263253270', datetime.date(2018, 7, 22), Decimal('67.92'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (101, 123, '263253273', datetime.date(2018, 7, 22), Decimal('30.75'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (102, 110, 'P-0608', datetime.date(2018, 7, 23), Decimal('20551.18'), Decimal('0.00'), Decimal('1200.00'), 3, datetime.date(2018, 8, 22), None),
 (103, 122, '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59'), Decimal('2051.59'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (104, 123, '263253243', datetime.date(2018, 7, 23), Decimal('44.44'), Decimal('44.44'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (105, 106, '9982771', datetime.date(2018, 7, 24), Decimal('503.20'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), None),
 (106, 110, '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58'), Decimal('21221.63'), Decimal('2295.95'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 27)),
 (107, 122, '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99'), Decimal('3689.99'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 19)),
 (108, 123, '963253240', datetime.date(2018, 7, 24), Decimal('67.00'), Decimal('67.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 23)),
 (109, 121, '97/222', datetime.date(2018, 7, 25), Decimal('1000.46'), Decimal('1000.46'), Decimal('0.00'), 3, datetime.date(2018, 8, 24), datetime.date(2018, 8, 22)),
 (110, 80, '134116', datetime.date(2018, 7, 28), Decimal('90.36'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 17), None),
 (111, 123, '263253257', datetime.date(2018, 7, 30), Decimal('22.57'), Decimal('22.57'), Decimal('0.00'), 3, datetime.date(2018, 8, 29), datetime.date(2018, 9, 3)),
 (112, 110, '0-2436', datetime.date(2018, 7, 31), Decimal('10976.06'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 30), None),
 (113, 37, '547480102', datetime.date(2018, 8, 1), Decimal('224.00'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 31), None),
 (114, 123, '963253249', datetime.date(2018, 8, 2), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 9, 1), datetime.date(2018, 9, 4))]

In [24]:
%%sql #Insert a sigle row without using a column list

INSERT INTO Invoices VALUES
(115, 97, '456789', '2018-08-01', 8344.50, 0, 0, 1, '2018-08-31', NULL)

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[]

In [26]:
%%sql #Insert a single row using a column list

INSERT INTO Invoices
(vendor_id, invoice_number, invoice_total, terms_id, invoice_date, invoice_due_date)
VALUES
(97, '456789', 8344.50, 1, '2018-08-01', '2018-08-31')

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[]

In [28]:
%%sql # Insert multiple rows

INSERT INTO Invoices VALUES
(117, 97, '456701', '2018-08-02', 270.50, 0, 0, 1, '2018-09-01', NULL),
(118, 97, '456791', '2018-08-03', 4390.00, 0, 0, 1, '2018-09-02', NULL),
(119, 97, '456792', '2018-08-03', 565.60, 0, 0, 1, '2018-09-02', NULL);

 * mysql+pymysql://w-alkao:***@localhost
3 rows affected.

[]

In [29]:
%sql SELECT * FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 3, datetime.date(2018, 5, 8), datetime.date(2018, 5, 7)),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), datetime.date(2018, 5, 14)),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), datetime.date(2018, 5, 9)),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 12)),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 11)),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 21)),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), datetime.date(2018, 5, 22)),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), datetime.date(2018, 5, 1)),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 21)),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 22)),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), datetime.date(2018, 5, 20)),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 2, datetime.date(2018, 5, 16), datetime.date(2018, 5, 13)),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 5, 20), datetime.date(2018, 5, 23)),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 10), datetime.date(2018, 6, 10)),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 3, datetime.date(2018, 6, 2), datetime.date(2018, 5, 30)),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), datetime.date(2018, 5, 22)),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), datetime.date(2018, 6, 5)),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), datetime.date(2018, 6, 5)),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), datetime.date(2018, 5, 19)),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 19), datetime.date(2018, 6, 15)),
 (21, 119, '10843', datetime.date(2018, 5, 11), Decimal('4901.26'), Decimal('4901.26'), Decimal('0.00'), 2, datetime.date(2018, 5, 31), datetime.date(2018, 5, 29)),
 (22, 123, '963253235', datetime.date(2018, 5, 11), Decimal('108.25'), Decimal('108.25'), Decimal('0.00'), 3, datetime.date(2018, 6, 10), datetime.date(2018, 6, 9)),
 (23, 97, '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 6, 2), datetime.date(2018, 5, 28)),
 (24, 113, '77290', datetime.date(2018, 5, 13), Decimal('1750.00'), Decimal('1750.00'), Decimal('0.00'), 5, datetime.date(2018, 7, 2), datetime.date(2018, 7, 5)),
 (25, 123, '963253246', datetime.date(2018, 5, 13), Decimal('129.00'), Decimal('129.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 12), datetime.date(2018, 6, 9)),
 (26, 123, '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 13), datetime.date(2018, 6, 13)),
 (27, 88, '972110', datetime.date(2018, 5, 15), Decimal('207.78'), Decimal('207.78'), Decimal('0.00'), 1, datetime.date(2018, 5, 25), datetime.date(2018, 5, 27)),
 (28, 123, '963253263', datetime.date(2018, 5, 16), Decimal('109.50'), Decimal('109.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 15), datetime.date(2018, 6, 10)),
 (29, 108, '121897', datetime.date(2018, 5, 19), Decimal('450.00'), Decimal('450.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 28), datetime.date(2018, 7, 3)),
 (30, 123, '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40'), Decimal('63.40'), Decimal('0.00'), 3, datetime.date(2018, 6, 19), datetime.date(2018, 6, 24)),
 (31, 104, 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34'), Decimal('7125.34'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 24)),
 (32, 121, '97/486', datetime.date(2018, 5, 21), Decimal('953.10'), Decimal('953.10'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 22)),
 (33, 105, '94007005', datetime.date(2018, 5, 23), Decimal('220.00'), Decimal('220.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 26)),
 (34, 123, '963253232', datetime.date(2018, 5, 23), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 18)),
 (35, 107, 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00'), Decimal('1600.00'), Decimal('0.00'), 4, datetime.date(2018, 7, 4), datetime.date(2018, 7, 9)),
 (36, 121, '97/465', datetime.date(2018, 5, 25), Decimal('565.15'), Decimal('565.15'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 24)),
 (37, 123, '963253260', datetime.date(2018, 5, 25), Decimal('36.00'), Decimal('36.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (38, 123, '963253272', datetime.date(2018, 5, 26), Decimal('61.50'), Decimal('61.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 25), datetime.date(2018, 6, 30)),
 (39, 110, '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19'), Decimal('37966.19'), Decimal('0.00'), 3, datetime.date(2018, 6, 27), datetime.date(2018, 6, 30)),
 (40, 121, '97/503', datetime.date(2018, 5, 30), Decimal('639.77'), Decimal('639.77'), Decimal('0.00'), 3, datetime.date(2018, 6, 29), datetime.date(2018, 6, 25)),
 (41, 123, '963253255', datetime.date(2018, 5, 31), Decimal('53.75'), Decimal('53.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 6, 27)),
 (42, 123, '94007069', datetime.date(2018, 5, 31), Decimal('400.00'), Decimal('400.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 7, 1)),
 (43, 72, '40318', datetime.date(2018, 6, 1), Decimal('21842.00'), Decimal('21842.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 29)),
 (44, 95, '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67'), Decimal('19.67'), Decimal('0.00'), 2, datetime.date(2018, 6, 21), datetime.date(2018, 6, 24)),
 (45, 122, '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36'), Decimal('2765.36'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 28)),
 (46, 37, '547481328', datetime.date(2018, 6, 3), Decimal('224.00'), Decimal('224.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 4)),
 (47, 83, '31359783', datetime.date(2018, 6, 3), Decimal('1575.00'), Decimal('1575.00'), Decimal('0.00'), 2, datetime.date(2018, 6, 23), datetime.date(2018, 6, 21)),
 (48, 123, '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00'), Decimal('33.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 5)),
 (49, 95, '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (50, 37, '547479217', datetime.date(2018, 6, 7), Decimal('116.00'), Decimal('116.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 7), datetime.date(2018, 7, 7)),
 (51, 122, '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11'), Decimal('2184.11'), Decimal('0.00'), 3, datetime.date(2018, 7, 8), datetime.date(2018, 7, 8)),
 (52, 34, 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58'), Decimal('1083.58'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 23)),
 (53, 95, '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21'), Decimal('46.21'), Decimal('0.00'), 2, datetime.date(2018, 6, 29), datetime.date(2018, 7, 2)),
 (54, 121, '97/553B', datetime.date(2018, 6, 10), Decimal('313.55'), Decimal('313.55'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 9)),
 (55, 123, '963253245', datetime.date(2018, 6, 10), Decimal('40.75'), Decimal('40.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 12)),
 (56, 86, '367447', datetime.date(2018, 6, 11), Decimal('2433.00'), Decimal('2433.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 17)),
 (57, 103, '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50'), Decimal('1367.50'), Decimal('0.00'), 5, datetime.date(2018, 7, 31), datetime.date(2018, 7, 31)),
 (58, 123, '963253256', datetime.date(2018, 6, 11), Decimal('53.25'), Decimal('53.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 7)),
 (59, 123, '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75'), Decimal('13.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 15)),
 (60, 122, '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20'), Decimal('2312.20'), Decimal('0.00'), 3, datetime.date(2018, 7, 12), datetime.date(2018, 7, 9)),
 (61, 115, '24946731', datetime.date(2018, 6, 15), Decimal('25.67'), Decimal('25.67'), Decimal('0.00'), 4, datetime.date(2018, 7, 25), datetime.date(2018, 7, 26)),
 (62, 123, '963253269', datetime.date(2018, 6, 15), Decimal('26.75'), Decimal('26.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 15), datetime.date(2018, 7, 11)),
 (63, 122, '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81'), Decimal('2115.81'), Decimal('0.00'), 3, datetime.date(2018, 7, 16), datetime.date(2018, 7, 19)),
 (64, 123, '963253267', datetime.date(2018, 6, 17), Decimal('23.50'), Decimal('23.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 17), datetime.date(2018, 7, 19)),
 (65, 99, '509786', datetime.date(2018, 6, 18), Decimal('6940.25'), Decimal('6940.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 15)),
 (66, 123, '263253253', datetime.date(2018, 6, 18), Decimal('31.95'), Decimal('31.95'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 21)),
 (67, 122, '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54'), Decimal('1927.54'), Decimal('0.00'), 3, datetime.date(2018, 7, 20), datetime.date(2018, 7, 18)),
 (68, 81, 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93'), Decimal('936.93'), Decimal('0.00'), 2, datetime.date(2018, 7, 11), datetime.date(2018, 7, 10)),
 (69, 80, '133560', datetime.date(2018, 6, 22), Decimal('175.00'), Decimal('175.00'), Decimal('0.00'), 2, datetime.date(2018, 7, 12), datetime.date(2018, 7, 16)),
 (70, 115, '24780512', datetime.date(2018, 6, 22), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 8, 1), datetime.date(2018, 7, 29)),
 (71, 123, '963253254', datetime.date(2018, 6, 22), Decimal('108.50'), Decimal('108.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 20)),
 (72, 123, '43966316', datetime.date(2018, 6, 22), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 17)),
 (73, 114, 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00'), Decimal('290.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 6, 29)),
 (74, 102, '109596', datetime.date(2018, 6, 24), Decimal('41.80'), Decimal('41.80'), Decimal('0.00'), 4, datetime.date(2018, 8, 3), datetime.date(2018, 8, 4)),
 (75, 123, '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00'), Decimal('27.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 24)),
 (76, 123, '963253248', datetime.date(2018, 6, 24), Decimal('241.00'), Decimal('241.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 25)),
 (77, 121, '97/553', datetime.date(2018, 6, 25), Decimal('904.14'), Decimal('904.14'), Decimal('0.00'), 3, datetime.date(2018, 7, 25), datetime.date(2018, 7, 25)),
 (78, 121, '97/522', datetime.date(2018, 6, 28), Decimal('1962.13'), Decimal('1762.13'), Decimal('200.00'), 3, datetime.date(2018, 7, 28), datetime.date(2018, 7, 30)),
 (79, 100, '587056', datetime.date(2018, 6, 30), Decimal('2184.50'), Decimal('2184.50'), Decimal('0.00'), 4, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (80, 122, '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03'), Decimal('2318.03'), Decimal('0.00'), 3, datetime.date(2018, 7, 31), datetime.date(2018, 7, 29)),
 (81, 123, '263253265', datetime.date(2018, 7, 2), Decimal('26.25'), Decimal('26.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 1), datetime.date(2018, 7, 28)),
 (82, 94, '203339-13', datetime.date(2018, 7, 5), Decimal('17.50'), Decimal('17.50'), Decimal('0.00'), 2, datetime.date(2018, 7, 25), datetime.date(2018, 7, 27)),
 (83, 95, '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77'), Decimal('39.77'), Decimal('0.00'), 2, datetime.date(2018, 7, 26), datetime.date(2018, 7, 22)),
 (84, 123, '963253258', datetime.date(2018, 7, 6), Decimal('111.00'), Decimal('111.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 5), datetime.date(2018, 8, 5)),
 (85, 123, '963253271', datetime.date(2018, 7, 7), Decimal('158.00'), Decimal('158.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 11)),
 (86, 123, '963253230', datetime.date(2018, 7, 7), Decimal('739.20'), Decimal('739.20'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 6)),
 (87, 123, '963253244', datetime.date(2018, 7, 8), Decimal('60.00'), Decimal('60.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 9)),
 (88, 123, '963253239', datetime.date(2018, 7, 8), Decimal('147.25'), Decimal('147.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 11)),
 (89, 72, '39104', datetime.date(2018, 7, 10), Decimal('85.31'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 9), None),
 (90, 123, '963253252', datetime.date(2018, 7, 12), Decimal('38.75'), Decimal('38.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 11), datetime.date(2018, 8, 11)),
 (91, 95, '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70'), Decimal('32.70'), Decimal('0.00'), 2, datetime.date(2018, 8, 4), datetime.date(2018, 8, 6)),
 (92, 117, '111897', datetime.date(2018, 7, 15), Decimal('16.62'), Decimal('16.62'), Decimal('0.00'), 3, datetime.date(2018, 8, 14), datetime.date(2018, 8, 14)),
 (93, 123, '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75'), Decimal('162.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 15), datetime.date(2018, 8, 11)),
 (94, 123, '963253264', datetime.date(2018, 7, 18), Decimal('52.25'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 17), None),
 (95, 82, 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00'), Decimal('600.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 8), datetime.date(2018, 8, 13)),
 (96, 110, 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40'), Decimal('26881.40'), Decimal('0.00'), 3, datetime.date(2018, 8, 18), datetime.date(2018, 8, 20)),
 (97, 90, '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48'), Decimal('356.48'), Decimal('0.00'), 2, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (98, 83, '31361833', datetime.date(2018, 7, 21), Decimal('579.42'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 10), None),
 (99, 123, '263253268', datetime.date(2018, 7, 21), Decimal('59.97'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 20), None),
 (100, 123, '263253270', datetime.date(2018, 7, 22), Decimal('67.92'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (101, 123, '263253273', datetime.date(2018, 7, 22), Decimal('30.75'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (102, 110, 'P-0608', datetime.date(2018, 7, 23), Decimal('20551.18'), Decimal('0.00'), Decimal('1200.00'), 3, datetime.date(2018, 8, 22), None),
 (103, 122, '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59'), Decimal('2051.59'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (104, 123, '263253243', datetime.date(2018, 7, 23), Decimal('44.44'), Decimal('44.44'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (105, 106, '9982771', datetime.date(2018, 7, 24), Decimal('503.20'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), None),
 (106, 110, '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58'), Decimal('21221.63'), Decimal('2295.95'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 27)),
 (107, 122, '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99'), Decimal('3689.99'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 19)),
 (108, 123, '963253240', datetime.date(2018, 7, 24), Decimal('67.00'), Decimal('67.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 23)),
 (109, 121, '97/222', datetime.date(2018, 7, 25), Decimal('1000.46'), Decimal('1000.46'), Decimal('0.00'), 3, datetime.date(2018, 8, 24), datetime.date(2018, 8, 22)),
 (110, 80, '134116', datetime.date(2018, 7, 28), Decimal('90.36'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 17), None),
 (111, 123, '263253257', datetime.date(2018, 7, 30), Decimal('22.57'), Decimal('22.57'), Decimal('0.00'), 3, datetime.date(2018, 8, 29), datetime.date(2018, 9, 3)),
 (112, 110, '0-2436', datetime.date(2018, 7, 31), Decimal('10976.06'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 30), None),
 (113, 37, '547480102', datetime.date(2018, 8, 1), Decimal('224.00'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 31), None),
 (114, 123, '963253249', datetime.date(2018, 8, 2), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 9, 1), datetime.date(2018, 9, 4)),
 (115, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (116, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (117, 97, '456701', datetime.date(2018, 8, 2), Decimal('270.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 1), None),
 (118, 97, '456791', datetime.date(2018, 8, 3), Decimal('4390.00'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 2), None),
 (119, 97, '456792', datetime.date(2018, 8, 3), Decimal('565.60'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 2), None)]

##### Insert default values and null values

In [7]:
%sql SHOW DATABASES

 * mysql+pymysql://w-alkao:***@localhost
8 rows affected.

[('ap',),
 ('ex',),
 ('information_schema',),
 ('livestock',),
 ('mysql',),
 ('om',),
 ('performance_schema',),
 ('sys',)]

In [8]:
%sql USE ex;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [9]:
%sql SHOW TABLES;

 * mysql+pymysql://w-alkao:***@localhost
14 rows affected.

[('Active_invoices',),
 ('Color_sample',),
 ('Customers',),
 ('Date_sample',),
 ('Departments',),
 ('Employees',),
 ('Engine_sample',),
 ('Float_sample',),
 ('Null_sample',),
 ('Paid_invoices',),
 ('Projects',),
 ('Sales_reps',),
 ('Sales_totals',),
 ('String_sample',)]

In [10]:
%sql SELECT * FROM Color_sample;

 * mysql+pymysql://w-alkao:***@localhost
5 rows affected.

[(1, 606, None),
 (2, 0, 'Yellow'),
 (3, 0, 'Orange'),
 (4, 808, None),
 (5, 0, None)]

In [11]:
%sql DESCRIBE Color_sample;

 * mysql+pymysql://w-alkao:***@localhost
3 rows affected.

[('color_id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('color_number', 'int', 'NO', '', '0', ''),
 ('color_name', 'varchar(50)', 'YES', '', None, '')]

In [12]:
%%sql

INSERT INTO Color_sample (color_number) VALUES (606);
INSERT INTO Color_sample (color_name) VALUES ("Yellow");
INSERT INTO Color_sample VALUES (DEFAULT, DEFAULT, 'Orange');
INSERT INTO Color_sample VALUES (DEFAULT, 808, NULL);
INSERT INTO Color_sample VALUES (DEFAULT, DEFAULT, NULL);

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [13]:
%sql SELECT * FROM Color_sample;

 * mysql+pymysql://w-alkao:***@localhost
10 rows affected.

[(1, 606, None),
 (2, 0, 'Yellow'),
 (3, 0, 'Orange'),
 (4, 808, None),
 (5, 0, None),
 (6, 606, None),
 (7, 0, 'Yellow'),
 (8, 0, 'Orange'),
 (9, 808, None),
 (10, 0, None)]

In [14]:
%sql USE ap;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

#### Subquery in insertion

In [17]:
%sql SELECT * FROM Invoice_archive;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

In [18]:
%%sql #Insert paid invoices into the Invoice_archive table

INSERT INTO Invoice_archive
SELECT * FROM Invoices
WHERE invoice_total - payment_total - credit_total = 0;

 * mysql+pymysql://w-alkao:***@localhost
103 rows affected.

[]

In [19]:
%sql SELECT * FROM Invoice_archive;

 * mysql+pymysql://w-alkao:***@localhost
103 rows affected.

[(1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 3, datetime.date(2018, 5, 8), datetime.date(2018, 5, 7)),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), datetime.date(2018, 5, 14)),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), datetime.date(2018, 5, 9)),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 12)),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 11)),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 21)),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), datetime.date(2018, 5, 22)),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), datetime.date(2018, 5, 1)),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 21)),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 22)),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), datetime.date(2018, 5, 20)),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 2, datetime.date(2018, 5, 16), datetime.date(2018, 5, 13)),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 5, 20), datetime.date(2018, 5, 23)),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 10), datetime.date(2018, 6, 10)),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 3, datetime.date(2018, 6, 2), datetime.date(2018, 5, 30)),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), datetime.date(2018, 5, 22)),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), datetime.date(2018, 6, 5)),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), datetime.date(2018, 6, 5)),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), datetime.date(2018, 5, 19)),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 19), datetime.date(2018, 6, 15)),
 (21, 119, '10843', datetime.date(2018, 5, 11), Decimal('4901.26'), Decimal('4901.26'), Decimal('0.00'), 2, datetime.date(2018, 5, 31), datetime.date(2018, 5, 29)),
 (22, 123, '963253235', datetime.date(2018, 5, 11), Decimal('108.25'), Decimal('108.25'), Decimal('0.00'), 3, datetime.date(2018, 6, 10), datetime.date(2018, 6, 9)),
 (23, 97, '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 6, 2), datetime.date(2018, 5, 28)),
 (24, 113, '77290', datetime.date(2018, 5, 13), Decimal('1750.00'), Decimal('1750.00'), Decimal('0.00'), 5, datetime.date(2018, 7, 2), datetime.date(2018, 7, 5)),
 (25, 123, '963253246', datetime.date(2018, 5, 13), Decimal('129.00'), Decimal('129.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 12), datetime.date(2018, 6, 9)),
 (26, 123, '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 13), datetime.date(2018, 6, 13)),
 (27, 88, '972110', datetime.date(2018, 5, 15), Decimal('207.78'), Decimal('207.78'), Decimal('0.00'), 1, datetime.date(2018, 5, 25), datetime.date(2018, 5, 27)),
 (28, 123, '963253263', datetime.date(2018, 5, 16), Decimal('109.50'), Decimal('109.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 15), datetime.date(2018, 6, 10)),
 (29, 108, '121897', datetime.date(2018, 5, 19), Decimal('450.00'), Decimal('450.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 28), datetime.date(2018, 7, 3)),
 (30, 123, '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40'), Decimal('63.40'), Decimal('0.00'), 3, datetime.date(2018, 6, 19), datetime.date(2018, 6, 24)),
 (31, 104, 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34'), Decimal('7125.34'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 24)),
 (32, 121, '97/486', datetime.date(2018, 5, 21), Decimal('953.10'), Decimal('953.10'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 22)),
 (33, 105, '94007005', datetime.date(2018, 5, 23), Decimal('220.00'), Decimal('220.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 26)),
 (34, 123, '963253232', datetime.date(2018, 5, 23), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 18)),
 (35, 107, 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00'), Decimal('1600.00'), Decimal('0.00'), 4, datetime.date(2018, 7, 4), datetime.date(2018, 7, 9)),
 (36, 121, '97/465', datetime.date(2018, 5, 25), Decimal('565.15'), Decimal('565.15'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 24)),
 (37, 123, '963253260', datetime.date(2018, 5, 25), Decimal('36.00'), Decimal('36.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (38, 123, '963253272', datetime.date(2018, 5, 26), Decimal('61.50'), Decimal('61.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 25), datetime.date(2018, 6, 30)),
 (39, 110, '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19'), Decimal('37966.19'), Decimal('0.00'), 3, datetime.date(2018, 6, 27), datetime.date(2018, 6, 30)),
 (40, 121, '97/503', datetime.date(2018, 5, 30), Decimal('639.77'), Decimal('639.77'), Decimal('0.00'), 3, datetime.date(2018, 6, 29), datetime.date(2018, 6, 25)),
 (41, 123, '963253255', datetime.date(2018, 5, 31), Decimal('53.75'), Decimal('53.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 6, 27)),
 (42, 123, '94007069', datetime.date(2018, 5, 31), Decimal('400.00'), Decimal('400.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 7, 1)),
 (43, 72, '40318', datetime.date(2018, 6, 1), Decimal('21842.00'), Decimal('21842.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 29)),
 (44, 95, '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67'), Decimal('19.67'), Decimal('0.00'), 2, datetime.date(2018, 6, 21), datetime.date(2018, 6, 24)),
 (45, 122, '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36'), Decimal('2765.36'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 28)),
 (46, 37, '547481328', datetime.date(2018, 6, 3), Decimal('224.00'), Decimal('224.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 4)),
 (47, 83, '31359783', datetime.date(2018, 6, 3), Decimal('1575.00'), Decimal('1575.00'), Decimal('0.00'), 2, datetime.date(2018, 6, 23), datetime.date(2018, 6, 21)),
 (48, 123, '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00'), Decimal('33.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 5)),
 (49, 95, '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (50, 37, '547479217', datetime.date(2018, 6, 7), Decimal('116.00'), Decimal('116.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 7), datetime.date(2018, 7, 7)),
 (51, 122, '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11'), Decimal('2184.11'), Decimal('0.00'), 3, datetime.date(2018, 7, 8), datetime.date(2018, 7, 8)),
 (52, 34, 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58'), Decimal('1083.58'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 23)),
 (53, 95, '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21'), Decimal('46.21'), Decimal('0.00'), 2, datetime.date(2018, 6, 29), datetime.date(2018, 7, 2)),
 (54, 121, '97/553B', datetime.date(2018, 6, 10), Decimal('313.55'), Decimal('313.55'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 9)),
 (55, 123, '963253245', datetime.date(2018, 6, 10), Decimal('40.75'), Decimal('40.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 12)),
 (56, 86, '367447', datetime.date(2018, 6, 11), Decimal('2433.00'), Decimal('2433.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 17)),
 (57, 103, '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50'), Decimal('1367.50'), Decimal('0.00'), 5, datetime.date(2018, 7, 31), datetime.date(2018, 7, 31)),
 (58, 123, '963253256', datetime.date(2018, 6, 11), Decimal('53.25'), Decimal('53.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 7)),
 (59, 123, '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75'), Decimal('13.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 15)),
 (60, 122, '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20'), Decimal('2312.20'), Decimal('0.00'), 3, datetime.date(2018, 7, 12), datetime.date(2018, 7, 9)),
 (61, 115, '24946731', datetime.date(2018, 6, 15), Decimal('25.67'), Decimal('25.67'), Decimal('0.00'), 4, datetime.date(2018, 7, 25), datetime.date(2018, 7, 26)),
 (62, 123, '963253269', datetime.date(2018, 6, 15), Decimal('26.75'), Decimal('26.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 15), datetime.date(2018, 7, 11)),
 (63, 122, '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81'), Decimal('2115.81'), Decimal('0.00'), 3, datetime.date(2018, 7, 16), datetime.date(2018, 7, 19)),
 (64, 123, '963253267', datetime.date(2018, 6, 17), Decimal('23.50'), Decimal('23.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 17), datetime.date(2018, 7, 19)),
 (65, 99, '509786', datetime.date(2018, 6, 18), Decimal('6940.25'), Decimal('6940.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 15)),
 (66, 123, '263253253', datetime.date(2018, 6, 18), Decimal('31.95'), Decimal('31.95'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 21)),
 (67, 122, '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54'), Decimal('1927.54'), Decimal('0.00'), 3, datetime.date(2018, 7, 20), datetime.date(2018, 7, 18)),
 (68, 81, 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93'), Decimal('936.93'), Decimal('0.00'), 2, datetime.date(2018, 7, 11), datetime.date(2018, 7, 10)),
 (69, 80, '133560', datetime.date(2018, 6, 22), Decimal('175.00'), Decimal('175.00'), Decimal('0.00'), 2, datetime.date(2018, 7, 12), datetime.date(2018, 7, 16)),
 (70, 115, '24780512', datetime.date(2018, 6, 22), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 8, 1), datetime.date(2018, 7, 29)),
 (71, 123, '963253254', datetime.date(2018, 6, 22), Decimal('108.50'), Decimal('108.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 20)),
 (72, 123, '43966316', datetime.date(2018, 6, 22), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 17)),
 (73, 114, 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00'), Decimal('290.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 6, 29)),
 (74, 102, '109596', datetime.date(2018, 6, 24), Decimal('41.80'), Decimal('41.80'), Decimal('0.00'), 4, datetime.date(2018, 8, 3), datetime.date(2018, 8, 4)),
 (75, 123, '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00'), Decimal('27.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 24)),
 (76, 123, '963253248', datetime.date(2018, 6, 24), Decimal('241.00'), Decimal('241.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 25)),
 (77, 121, '97/553', datetime.date(2018, 6, 25), Decimal('904.14'), Decimal('904.14'), Decimal('0.00'), 3, datetime.date(2018, 7, 25), datetime.date(2018, 7, 25)),
 (78, 121, '97/522', datetime.date(2018, 6, 28), Decimal('1962.13'), Decimal('1762.13'), Decimal('200.00'), 3, datetime.date(2018, 7, 28), datetime.date(2018, 7, 30)),
 (79, 100, '587056', datetime.date(2018, 6, 30), Decimal('2184.50'), Decimal('2184.50'), Decimal('0.00'), 4, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (80, 122, '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03'), Decimal('2318.03'), Decimal('0.00'), 3, datetime.date(2018, 7, 31), datetime.date(2018, 7, 29)),
 (81, 123, '263253265', datetime.date(2018, 7, 2), Decimal('26.25'), Decimal('26.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 1), datetime.date(2018, 7, 28)),
 (82, 94, '203339-13', datetime.date(2018, 7, 5), Decimal('17.50'), Decimal('17.50'), Decimal('0.00'), 2, datetime.date(2018, 7, 25), datetime.date(2018, 7, 27)),
 (83, 95, '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77'), Decimal('39.77'), Decimal('0.00'), 2, datetime.date(2018, 7, 26), datetime.date(2018, 7, 22)),
 (84, 123, '963253258', datetime.date(2018, 7, 6), Decimal('111.00'), Decimal('111.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 5), datetime.date(2018, 8, 5)),
 (85, 123, '963253271', datetime.date(2018, 7, 7), Decimal('158.00'), Decimal('158.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 11)),
 (86, 123, '963253230', datetime.date(2018, 7, 7), Decimal('739.20'), Decimal('739.20'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 6)),
 (87, 123, '963253244', datetime.date(2018, 7, 8), Decimal('60.00'), Decimal('60.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 9)),
 (88, 123, '963253239', datetime.date(2018, 7, 8), Decimal('147.25'), Decimal('147.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 11)),
 (90, 123, '963253252', datetime.date(2018, 7, 12), Decimal('38.75'), Decimal('38.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 11), datetime.date(2018, 8, 11)),
 (91, 95, '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70'), Decimal('32.70'), Decimal('0.00'), 2, datetime.date(2018, 8, 4), datetime.date(2018, 8, 6)),
 (92, 117, '111897', datetime.date(2018, 7, 15), Decimal('16.62'), Decimal('16.62'), Decimal('0.00'), 3, datetime.date(2018, 8, 14), datetime.date(2018, 8, 14)),
 (93, 123, '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75'), Decimal('162.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 15), datetime.date(2018, 8, 11)),
 (95, 82, 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00'), Decimal('600.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 8), datetime.date(2018, 8, 13)),
 (96, 110, 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40'), Decimal('26881.40'), Decimal('0.00'), 3, datetime.date(2018, 8, 18), datetime.date(2018, 8, 20)),
 (97, 90, '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48'), Decimal('356.48'), Decimal('0.00'), 2, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (103, 122, '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59'), Decimal('2051.59'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (104, 123, '263253243', datetime.date(2018, 7, 23), Decimal('44.44'), Decimal('44.44'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (106, 110, '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58'), Decimal('21221.63'), Decimal('2295.95'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 27)),
 (107, 122, '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99'), Decimal('3689.99'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 19)),
 (108, 123, '963253240', datetime.date(2018, 7, 24), Decimal('67.00'), Decimal('67.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 23)),
 (109, 121, '97/222', datetime.date(2018, 7, 25), Decimal('1000.46'), Decimal('1000.46'), Decimal('0.00'), 3, datetime.date(2018, 8, 24), datetime.date(2018, 8, 22)),
 (111, 123, '263253257', datetime.date(2018, 7, 30), Decimal('22.57'), Decimal('22.57'), Decimal('0.00'), 3, datetime.date(2018, 8, 29), datetime.date(2018, 9, 3)),
 (114, 123, '963253249', datetime.date(2018, 8, 2), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 9, 1), datetime.date(2018, 9, 4))]

In [21]:
%%sql #Same query with a column list

INSERT INTO Invoice_archive
    (invoice_id, vendor_id, invoice_number, invoice_total, credit_total,
     payment_total, terms_id, invoice_date, invoice_due_date)
SELECT
    invoice_id, vendor_id, invoice_number, invoice_total, credit_total,
    payment_total, terms_id, invoice_date, invoice_due_date
FROM Invoices
WHERE invoice_total - payment_total - credit_total = 0;

 * mysql+pymysql://w-alkao:***@localhost
103 rows affected.

[]

In [22]:
%sql SELECT * FROM Invoice_archive;

 * mysql+pymysql://w-alkao:***@localhost
206 rows affected.

[(1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 3, datetime.date(2018, 5, 8), datetime.date(2018, 5, 7)),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), datetime.date(2018, 5, 14)),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), datetime.date(2018, 5, 9)),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 12)),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 11)),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 21)),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), datetime.date(2018, 5, 22)),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), datetime.date(2018, 5, 1)),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 21)),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 22)),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), datetime.date(2018, 5, 20)),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 2, datetime.date(2018, 5, 16), datetime.date(2018, 5, 13)),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 5, 20), datetime.date(2018, 5, 23)),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 10), datetime.date(2018, 6, 10)),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 3, datetime.date(2018, 6, 2), datetime.date(2018, 5, 30)),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), datetime.date(2018, 5, 22)),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), datetime.date(2018, 6, 5)),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), datetime.date(2018, 6, 5)),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), datetime.date(2018, 5, 19)),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 19), datetime.date(2018, 6, 15)),
 (21, 119, '10843', datetime.date(2018, 5, 11), Decimal('4901.26'), Decimal('4901.26'), Decimal('0.00'), 2, datetime.date(2018, 5, 31), datetime.date(2018, 5, 29)),
 (22, 123, '963253235', datetime.date(2018, 5, 11), Decimal('108.25'), Decimal('108.25'), Decimal('0.00'), 3, datetime.date(2018, 6, 10), datetime.date(2018, 6, 9)),
 (23, 97, '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 6, 2), datetime.date(2018, 5, 28)),
 (24, 113, '77290', datetime.date(2018, 5, 13), Decimal('1750.00'), Decimal('1750.00'), Decimal('0.00'), 5, datetime.date(2018, 7, 2), datetime.date(2018, 7, 5)),
 (25, 123, '963253246', datetime.date(2018, 5, 13), Decimal('129.00'), Decimal('129.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 12), datetime.date(2018, 6, 9)),
 (26, 123, '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 13), datetime.date(2018, 6, 13)),
 (27, 88, '972110', datetime.date(2018, 5, 15), Decimal('207.78'), Decimal('207.78'), Decimal('0.00'), 1, datetime.date(2018, 5, 25), datetime.date(2018, 5, 27)),
 (28, 123, '963253263', datetime.date(2018, 5, 16), Decimal('109.50'), Decimal('109.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 15), datetime.date(2018, 6, 10)),
 (29, 108, '121897', datetime.date(2018, 5, 19), Decimal('450.00'), Decimal('450.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 28), datetime.date(2018, 7, 3)),
 (30, 123, '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40'), Decimal('63.40'), Decimal('0.00'), 3, datetime.date(2018, 6, 19), datetime.date(2018, 6, 24)),
 (31, 104, 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34'), Decimal('7125.34'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 24)),
 (32, 121, '97/486', datetime.date(2018, 5, 21), Decimal('953.10'), Decimal('953.10'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 22)),
 (33, 105, '94007005', datetime.date(2018, 5, 23), Decimal('220.00'), Decimal('220.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 26)),
 (34, 123, '963253232', datetime.date(2018, 5, 23), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 18)),
 (35, 107, 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00'), Decimal('1600.00'), Decimal('0.00'), 4, datetime.date(2018, 7, 4), datetime.date(2018, 7, 9)),
 (36, 121, '97/465', datetime.date(2018, 5, 25), Decimal('565.15'), Decimal('565.15'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 24)),
 (37, 123, '963253260', datetime.date(2018, 5, 25), Decimal('36.00'), Decimal('36.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (38, 123, '963253272', datetime.date(2018, 5, 26), Decimal('61.50'), Decimal('61.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 25), datetime.date(2018, 6, 30)),
 (39, 110, '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19'), Decimal('37966.19'), Decimal('0.00'), 3, datetime.date(2018, 6, 27), datetime.date(2018, 6, 30)),
 (40, 121, '97/503', datetime.date(2018, 5, 30), Decimal('639.77'), Decimal('639.77'), Decimal('0.00'), 3, datetime.date(2018, 6, 29), datetime.date(2018, 6, 25)),
 (41, 123, '963253255', datetime.date(2018, 5, 31), Decimal('53.75'), Decimal('53.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 6, 27)),
 (42, 123, '94007069', datetime.date(2018, 5, 31), Decimal('400.00'), Decimal('400.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 7, 1)),
 (43, 72, '40318', datetime.date(2018, 6, 1), Decimal('21842.00'), Decimal('21842.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 29)),
 (44, 95, '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67'), Decimal('19.67'), Decimal('0.00'), 2, datetime.date(2018, 6, 21), datetime.date(2018, 6, 24)),
 (45, 122, '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36'), Decimal('2765.36'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 28)),
 (46, 37, '547481328', datetime.date(2018, 6, 3), Decimal('224.00'), Decimal('224.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 4)),
 (47, 83, '31359783', datetime.date(2018, 6, 3), Decimal('1575.00'), Decimal('1575.00'), Decimal('0.00'), 2, datetime.date(2018, 6, 23), datetime.date(2018, 6, 21)),
 (48, 123, '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00'), Decimal('33.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 5)),
 (49, 95, '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (50, 37, '547479217', datetime.date(2018, 6, 7), Decimal('116.00'), Decimal('116.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 7), datetime.date(2018, 7, 7)),
 (51, 122, '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11'), Decimal('2184.11'), Decimal('0.00'), 3, datetime.date(2018, 7, 8), datetime.date(2018, 7, 8)),
 (52, 34, 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58'), Decimal('1083.58'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 23)),
 (53, 95, '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21'), Decimal('46.21'), Decimal('0.00'), 2, datetime.date(2018, 6, 29), datetime.date(2018, 7, 2)),
 (54, 121, '97/553B', datetime.date(2018, 6, 10), Decimal('313.55'), Decimal('313.55'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 9)),
 (55, 123, '963253245', datetime.date(2018, 6, 10), Decimal('40.75'), Decimal('40.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 12)),
 (56, 86, '367447', datetime.date(2018, 6, 11), Decimal('2433.00'), Decimal('2433.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 17)),
 (57, 103, '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50'), Decimal('1367.50'), Decimal('0.00'), 5, datetime.date(2018, 7, 31), datetime.date(2018, 7, 31)),
 (58, 123, '963253256', datetime.date(2018, 6, 11), Decimal('53.25'), Decimal('53.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 7)),
 (59, 123, '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75'), Decimal('13.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 15)),
 (60, 122, '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20'), Decimal('2312.20'), Decimal('0.00'), 3, datetime.date(2018, 7, 12), datetime.date(2018, 7, 9)),
 (61, 115, '24946731', datetime.date(2018, 6, 15), Decimal('25.67'), Decimal('25.67'), Decimal('0.00'), 4, datetime.date(2018, 7, 25), datetime.date(2018, 7, 26)),
 (62, 123, '963253269', datetime.date(2018, 6, 15), Decimal('26.75'), Decimal('26.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 15), datetime.date(2018, 7, 11)),
 (63, 122, '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81'), Decimal('2115.81'), Decimal('0.00'), 3, datetime.date(2018, 7, 16), datetime.date(2018, 7, 19)),
 (64, 123, '963253267', datetime.date(2018, 6, 17), Decimal('23.50'), Decimal('23.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 17), datetime.date(2018, 7, 19)),
 (65, 99, '509786', datetime.date(2018, 6, 18), Decimal('6940.25'), Decimal('6940.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 15)),
 (66, 123, '263253253', datetime.date(2018, 6, 18), Decimal('31.95'), Decimal('31.95'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 21)),
 (67, 122, '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54'), Decimal('1927.54'), Decimal('0.00'), 3, datetime.date(2018, 7, 20), datetime.date(2018, 7, 18)),
 (68, 81, 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93'), Decimal('936.93'), Decimal('0.00'), 2, datetime.date(2018, 7, 11), datetime.date(2018, 7, 10)),
 (69, 80, '133560', datetime.date(2018, 6, 22), Decimal('175.00'), Decimal('175.00'), Decimal('0.00'), 2, datetime.date(2018, 7, 12), datetime.date(2018, 7, 16)),
 (70, 115, '24780512', datetime.date(2018, 6, 22), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 8, 1), datetime.date(2018, 7, 29)),
 (71, 123, '963253254', datetime.date(2018, 6, 22), Decimal('108.50'), Decimal('108.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 20)),
 (72, 123, '43966316', datetime.date(2018, 6, 22), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 17)),
 (73, 114, 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00'), Decimal('290.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 6, 29)),
 (74, 102, '109596', datetime.date(2018, 6, 24), Decimal('41.80'), Decimal('41.80'), Decimal('0.00'), 4, datetime.date(2018, 8, 3), datetime.date(2018, 8, 4)),
 (75, 123, '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00'), Decimal('27.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 24)),
 (76, 123, '963253248', datetime.date(2018, 6, 24), Decimal('241.00'), Decimal('241.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 25)),
 (77, 121, '97/553', datetime.date(2018, 6, 25), Decimal('904.14'), Decimal('904.14'), Decimal('0.00'), 3, datetime.date(2018, 7, 25), datetime.date(2018, 7, 25)),
 (78, 121, '97/522', datetime.date(2018, 6, 28), Decimal('1962.13'), Decimal('1762.13'), Decimal('200.00'), 3, datetime.date(2018, 7, 28), datetime.date(2018, 7, 30)),
 (79, 100, '587056', datetime.date(2018, 6, 30), Decimal('2184.50'), Decimal('2184.50'), Decimal('0.00'), 4, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (80, 122, '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03'), Decimal('2318.03'), Decimal('0.00'), 3, datetime.date(2018, 7, 31), datetime.date(2018, 7, 29)),
 (81, 123, '263253265', datetime.date(2018, 7, 2), Decimal('26.25'), Decimal('26.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 1), datetime.date(2018, 7, 28)),
 (82, 94, '203339-13', datetime.date(2018, 7, 5), Decimal('17.50'), Decimal('17.50'), Decimal('0.00'), 2, datetime.date(2018, 7, 25), datetime.date(2018, 7, 27)),
 (83, 95, '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77'), Decimal('39.77'), Decimal('0.00'), 2, datetime.date(2018, 7, 26), datetime.date(2018, 7, 22)),
 (84, 123, '963253258', datetime.date(2018, 7, 6), Decimal('111.00'), Decimal('111.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 5), datetime.date(2018, 8, 5)),
 (85, 123, '963253271', datetime.date(2018, 7, 7), Decimal('158.00'), Decimal('158.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 11)),
 (86, 123, '963253230', datetime.date(2018, 7, 7), Decimal('739.20'), Decimal('739.20'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 6)),
 (87, 123, '963253244', datetime.date(2018, 7, 8), Decimal('60.00'), Decimal('60.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 9)),
 (88, 123, '963253239', datetime.date(2018, 7, 8), Decimal('147.25'), Decimal('147.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 11)),
 (90, 123, '963253252', datetime.date(2018, 7, 12), Decimal('38.75'), Decimal('38.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 11), datetime.date(2018, 8, 11)),
 (91, 95, '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70'), Decimal('32.70'), Decimal('0.00'), 2, datetime.date(2018, 8, 4), datetime.date(2018, 8, 6)),
 (92, 117, '111897', datetime.date(2018, 7, 15), Decimal('16.62'), Decimal('16.62'), Decimal('0.00'), 3, datetime.date(2018, 8, 14), datetime.date(2018, 8, 14)),
 (93, 123, '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75'), Decimal('162.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 15), datetime.date(2018, 8, 11)),
 (95, 82, 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00'), Decimal('600.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 8), datetime.date(2018, 8, 13)),
 (96, 110, 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40'), Decimal('26881.40'), Decimal('0.00'), 3, datetime.date(2018, 8, 18), datetime.date(2018, 8, 20)),
 (97, 90, '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48'), Decimal('356.48'), Decimal('0.00'), 2, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (103, 122, '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59'), Decimal('2051.59'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (104, 123, '263253243', datetime.date(2018, 7, 23), Decimal('44.44'), Decimal('44.44'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (106, 110, '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58'), Decimal('21221.63'), Decimal('2295.95'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 27)),
 (107, 122, '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99'), Decimal('3689.99'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 19)),
 (108, 123, '963253240', datetime.date(2018, 7, 24), Decimal('67.00'), Decimal('67.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 23)),
 (109, 121, '97/222', datetime.date(2018, 7, 25), Decimal('1000.46'), Decimal('1000.46'), Decimal('0.00'), 3, datetime.date(2018, 8, 24), datetime.date(2018, 8, 22)),
 (111, 123, '263253257', datetime.date(2018, 7, 30), Decimal('22.57'), Decimal('22.57'), Decimal('0.00'), 3, datetime.date(2018, 8, 29), datetime.date(2018, 9, 3)),
 (114, 123, '963253249', datetime.date(2018, 8, 2), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 9, 1), datetime.date(2018, 9, 4)),
 (1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 3, datetime.date(2018, 5, 8), None),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), None),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), None),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), None),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), None),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), None),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), None),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), None),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), None),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), None),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), None),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 2, datetime.date(2018, 5, 16), None),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 5, 20), None),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 10), None),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 3, datetime.date(2018, 6, 2), None),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), None),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), None),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), None),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), None),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 19), None),

### Updata existing rows

In [5]:
%sql SELECT * FROM Invoices

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 3, datetime.date(2018, 5, 8), datetime.date(2018, 5, 7)),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), datetime.date(2018, 5, 14)),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), datetime.date(2018, 5, 9)),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 12)),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 11)),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 21)),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), datetime.date(2018, 5, 22)),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), datetime.date(2018, 5, 1)),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 21)),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 22)),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), datetime.date(2018, 5, 20)),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 2, datetime.date(2018, 5, 16), datetime.date(2018, 5, 13)),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 5, 20), datetime.date(2018, 5, 23)),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 10), datetime.date(2018, 6, 10)),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 3, datetime.date(2018, 6, 2), datetime.date(2018, 5, 30)),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), datetime.date(2018, 5, 22)),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), datetime.date(2018, 6, 5)),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), datetime.date(2018, 6, 5)),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), datetime.date(2018, 5, 19)),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 19), datetime.date(2018, 6, 15)),
 (21, 119, '10843', datetime.date(2018, 5, 11), Decimal('4901.26'), Decimal('4901.26'), Decimal('0.00'), 2, datetime.date(2018, 5, 31), datetime.date(2018, 5, 29)),
 (22, 123, '963253235', datetime.date(2018, 5, 11), Decimal('108.25'), Decimal('108.25'), Decimal('0.00'), 3, datetime.date(2018, 6, 10), datetime.date(2018, 6, 9)),
 (23, 97, '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 6, 2), datetime.date(2018, 5, 28)),
 (24, 113, '77290', datetime.date(2018, 5, 13), Decimal('1750.00'), Decimal('1750.00'), Decimal('0.00'), 5, datetime.date(2018, 7, 2), datetime.date(2018, 7, 5)),
 (25, 123, '963253246', datetime.date(2018, 5, 13), Decimal('129.00'), Decimal('129.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 12), datetime.date(2018, 6, 9)),
 (26, 123, '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 13), datetime.date(2018, 6, 13)),
 (27, 88, '972110', datetime.date(2018, 5, 15), Decimal('207.78'), Decimal('207.78'), Decimal('0.00'), 1, datetime.date(2018, 5, 25), datetime.date(2018, 5, 27)),
 (28, 123, '963253263', datetime.date(2018, 5, 16), Decimal('109.50'), Decimal('109.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 15), datetime.date(2018, 6, 10)),
 (29, 108, '121897', datetime.date(2018, 5, 19), Decimal('450.00'), Decimal('450.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 28), datetime.date(2018, 7, 3)),
 (30, 123, '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40'), Decimal('63.40'), Decimal('0.00'), 3, datetime.date(2018, 6, 19), datetime.date(2018, 6, 24)),
 (31, 104, 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34'), Decimal('7125.34'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 24)),
 (32, 121, '97/486', datetime.date(2018, 5, 21), Decimal('953.10'), Decimal('953.10'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 22)),
 (33, 105, '94007005', datetime.date(2018, 5, 23), Decimal('220.00'), Decimal('220.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 26)),
 (34, 123, '963253232', datetime.date(2018, 5, 23), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 18)),
 (35, 107, 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00'), Decimal('1600.00'), Decimal('0.00'), 4, datetime.date(2018, 7, 4), datetime.date(2018, 7, 9)),
 (36, 121, '97/465', datetime.date(2018, 5, 25), Decimal('565.15'), Decimal('565.15'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 24)),
 (37, 123, '963253260', datetime.date(2018, 5, 25), Decimal('36.00'), Decimal('36.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (38, 123, '963253272', datetime.date(2018, 5, 26), Decimal('61.50'), Decimal('61.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 25), datetime.date(2018, 6, 30)),
 (39, 110, '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19'), Decimal('37966.19'), Decimal('0.00'), 3, datetime.date(2018, 6, 27), datetime.date(2018, 6, 30)),
 (40, 121, '97/503', datetime.date(2018, 5, 30), Decimal('639.77'), Decimal('639.77'), Decimal('0.00'), 3, datetime.date(2018, 6, 29), datetime.date(2018, 6, 25)),
 (41, 123, '963253255', datetime.date(2018, 5, 31), Decimal('53.75'), Decimal('53.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 6, 27)),
 (42, 123, '94007069', datetime.date(2018, 5, 31), Decimal('400.00'), Decimal('400.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 7, 1)),
 (43, 72, '40318', datetime.date(2018, 6, 1), Decimal('21842.00'), Decimal('21842.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 29)),
 (44, 95, '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67'), Decimal('19.67'), Decimal('0.00'), 2, datetime.date(2018, 6, 21), datetime.date(2018, 6, 24)),
 (45, 122, '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36'), Decimal('2765.36'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 28)),
 (46, 37, '547481328', datetime.date(2018, 6, 3), Decimal('224.00'), Decimal('224.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 4)),
 (47, 83, '31359783', datetime.date(2018, 6, 3), Decimal('1575.00'), Decimal('1575.00'), Decimal('0.00'), 2, datetime.date(2018, 6, 23), datetime.date(2018, 6, 21)),
 (48, 123, '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00'), Decimal('33.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 5)),
 (49, 95, '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (50, 37, '547479217', datetime.date(2018, 6, 7), Decimal('116.00'), Decimal('116.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 7), datetime.date(2018, 7, 7)),
 (51, 122, '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11'), Decimal('2184.11'), Decimal('0.00'), 3, datetime.date(2018, 7, 8), datetime.date(2018, 7, 8)),
 (52, 34, 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58'), Decimal('1083.58'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 23)),
 (53, 95, '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21'), Decimal('46.21'), Decimal('0.00'), 2, datetime.date(2018, 6, 29), datetime.date(2018, 7, 2)),
 (54, 121, '97/553B', datetime.date(2018, 6, 10), Decimal('313.55'), Decimal('313.55'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 9)),
 (55, 123, '963253245', datetime.date(2018, 6, 10), Decimal('40.75'), Decimal('40.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 12)),
 (56, 86, '367447', datetime.date(2018, 6, 11), Decimal('2433.00'), Decimal('2433.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 17)),
 (57, 103, '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50'), Decimal('1367.50'), Decimal('0.00'), 5, datetime.date(2018, 7, 31), datetime.date(2018, 7, 31)),
 (58, 123, '963253256', datetime.date(2018, 6, 11), Decimal('53.25'), Decimal('53.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 7)),
 (59, 123, '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75'), Decimal('13.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 15)),
 (60, 122, '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20'), Decimal('2312.20'), Decimal('0.00'), 3, datetime.date(2018, 7, 12), datetime.date(2018, 7, 9)),
 (61, 115, '24946731', datetime.date(2018, 6, 15), Decimal('25.67'), Decimal('25.67'), Decimal('0.00'), 4, datetime.date(2018, 7, 25), datetime.date(2018, 7, 26)),
 (62, 123, '963253269', datetime.date(2018, 6, 15), Decimal('26.75'), Decimal('26.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 15), datetime.date(2018, 7, 11)),
 (63, 122, '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81'), Decimal('2115.81'), Decimal('0.00'), 3, datetime.date(2018, 7, 16), datetime.date(2018, 7, 19)),
 (64, 123, '963253267', datetime.date(2018, 6, 17), Decimal('23.50'), Decimal('23.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 17), datetime.date(2018, 7, 19)),
 (65, 99, '509786', datetime.date(2018, 6, 18), Decimal('6940.25'), Decimal('6940.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 15)),
 (66, 123, '263253253', datetime.date(2018, 6, 18), Decimal('31.95'), Decimal('31.95'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 21)),
 (67, 122, '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54'), Decimal('1927.54'), Decimal('0.00'), 3, datetime.date(2018, 7, 20), datetime.date(2018, 7, 18)),
 (68, 81, 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93'), Decimal('936.93'), Decimal('0.00'), 2, datetime.date(2018, 7, 11), datetime.date(2018, 7, 10)),
 (69, 80, '133560', datetime.date(2018, 6, 22), Decimal('175.00'), Decimal('175.00'), Decimal('0.00'), 2, datetime.date(2018, 7, 12), datetime.date(2018, 7, 16)),
 (70, 115, '24780512', datetime.date(2018, 6, 22), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 8, 1), datetime.date(2018, 7, 29)),
 (71, 123, '963253254', datetime.date(2018, 6, 22), Decimal('108.50'), Decimal('108.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 20)),
 (72, 123, '43966316', datetime.date(2018, 6, 22), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 17)),
 (73, 114, 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00'), Decimal('290.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 6, 29)),
 (74, 102, '109596', datetime.date(2018, 6, 24), Decimal('41.80'), Decimal('41.80'), Decimal('0.00'), 4, datetime.date(2018, 8, 3), datetime.date(2018, 8, 4)),
 (75, 123, '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00'), Decimal('27.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 24)),
 (76, 123, '963253248', datetime.date(2018, 6, 24), Decimal('241.00'), Decimal('241.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 25)),
 (77, 121, '97/553', datetime.date(2018, 6, 25), Decimal('904.14'), Decimal('904.14'), Decimal('0.00'), 3, datetime.date(2018, 7, 25), datetime.date(2018, 7, 25)),
 (78, 121, '97/522', datetime.date(2018, 6, 28), Decimal('1962.13'), Decimal('1762.13'), Decimal('200.00'), 3, datetime.date(2018, 7, 28), datetime.date(2018, 7, 30)),
 (79, 100, '587056', datetime.date(2018, 6, 30), Decimal('2184.50'), Decimal('2184.50'), Decimal('0.00'), 4, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (80, 122, '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03'), Decimal('2318.03'), Decimal('0.00'), 3, datetime.date(2018, 7, 31), datetime.date(2018, 7, 29)),
 (81, 123, '263253265', datetime.date(2018, 7, 2), Decimal('26.25'), Decimal('26.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 1), datetime.date(2018, 7, 28)),
 (82, 94, '203339-13', datetime.date(2018, 7, 5), Decimal('17.50'), Decimal('17.50'), Decimal('0.00'), 2, datetime.date(2018, 7, 25), datetime.date(2018, 7, 27)),
 (83, 95, '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77'), Decimal('39.77'), Decimal('0.00'), 2, datetime.date(2018, 7, 26), datetime.date(2018, 7, 22)),
 (84, 123, '963253258', datetime.date(2018, 7, 6), Decimal('111.00'), Decimal('111.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 5), datetime.date(2018, 8, 5)),
 (85, 123, '963253271', datetime.date(2018, 7, 7), Decimal('158.00'), Decimal('158.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 11)),
 (86, 123, '963253230', datetime.date(2018, 7, 7), Decimal('739.20'), Decimal('739.20'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 6)),
 (87, 123, '963253244', datetime.date(2018, 7, 8), Decimal('60.00'), Decimal('60.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 9)),
 (88, 123, '963253239', datetime.date(2018, 7, 8), Decimal('147.25'), Decimal('147.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 11)),
 (89, 72, '39104', datetime.date(2018, 7, 10), Decimal('85.31'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 9), None),
 (90, 123, '963253252', datetime.date(2018, 7, 12), Decimal('38.75'), Decimal('38.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 11), datetime.date(2018, 8, 11)),
 (91, 95, '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70'), Decimal('32.70'), Decimal('0.00'), 2, datetime.date(2018, 8, 4), datetime.date(2018, 8, 6)),
 (92, 117, '111897', datetime.date(2018, 7, 15), Decimal('16.62'), Decimal('16.62'), Decimal('0.00'), 3, datetime.date(2018, 8, 14), datetime.date(2018, 8, 14)),
 (93, 123, '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75'), Decimal('162.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 15), datetime.date(2018, 8, 11)),
 (94, 123, '963253264', datetime.date(2018, 7, 18), Decimal('52.25'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 17), None),
 (95, 82, 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00'), Decimal('600.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 8), datetime.date(2018, 8, 13)),
 (96, 110, 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40'), Decimal('26881.40'), Decimal('0.00'), 3, datetime.date(2018, 8, 18), datetime.date(2018, 8, 20)),
 (97, 90, '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48'), Decimal('356.48'), Decimal('0.00'), 2, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (98, 83, '31361833', datetime.date(2018, 7, 21), Decimal('579.42'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 10), None),
 (99, 123, '263253268', datetime.date(2018, 7, 21), Decimal('59.97'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 20), None),
 (100, 123, '263253270', datetime.date(2018, 7, 22), Decimal('67.92'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (101, 123, '263253273', datetime.date(2018, 7, 22), Decimal('30.75'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (102, 110, 'P-0608', datetime.date(2018, 7, 23), Decimal('20551.18'), Decimal('0.00'), Decimal('1200.00'), 3, datetime.date(2018, 8, 22), None),
 (103, 122, '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59'), Decimal('2051.59'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (104, 123, '263253243', datetime.date(2018, 7, 23), Decimal('44.44'), Decimal('44.44'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (105, 106, '9982771', datetime.date(2018, 7, 24), Decimal('503.20'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), None),
 (106, 110, '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58'), Decimal('21221.63'), Decimal('2295.95'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 27)),
 (107, 122, '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99'), Decimal('3689.99'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 19)),
 (108, 123, '963253240', datetime.date(2018, 7, 24), Decimal('67.00'), Decimal('67.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 23)),
 (109, 121, '97/222', datetime.date(2018, 7, 25), Decimal('1000.46'), Decimal('1000.46'), Decimal('0.00'), 3, datetime.date(2018, 8, 24), datetime.date(2018, 8, 22)),
 (110, 80, '134116', datetime.date(2018, 7, 28), Decimal('90.36'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 17), None),
 (111, 123, '263253257', datetime.date(2018, 7, 30), Decimal('22.57'), Decimal('22.57'), Decimal('0.00'), 3, datetime.date(2018, 8, 29), datetime.date(2018, 9, 3)),
 (112, 110, '0-2436', datetime.date(2018, 7, 31), Decimal('10976.06'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 30), None),
 (113, 37, '547480102', datetime.date(2018, 8, 1), Decimal('224.00'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 31), None),
 (114, 123, '963253249', datetime.date(2018, 8, 2), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 9, 1), datetime.date(2018, 9, 4)),
 (115, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (116, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (117, 97, '456701', datetime.date(2018, 8, 2), Decimal('270.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 1), None),
 (118, 97, '456791', datetime.date(2018, 8, 3), Decimal('4390.00'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 2), None),
 (119, 97, '456792', datetime.date(2018, 8, 3), Decimal('565.60'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 2), None)]

In [6]:
%%sql #Update two columns for a single row

UPDATE Invoices
SET payment_date = "2018-09-21", payment_total = 19351.18
WHERE invoice_number = '97/522'

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[]

In [7]:
%%sql #update one column for multiple rows

UPDATE Invoices
SET terms_id = 1
WHERE vendor_id = 95

 * mysql+pymysql://w-alkao:***@localhost
6 rows affected.

[]

In [8]:
%%sql #update one column for one row

UPDATE Invoices
SET credit_total = credit_total + 100
WHERE invoice_number = '97/522'

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[]

In [12]:
%%sql #update the terms for all invoices for vendors in three states

UPDATE Invoices
SET terms_id = 1
WHERE vendor_id IN
    (SELECT vendor_id
     FROM Vendors
     WHERE vendor_state IN ('CA', 'AZ', 'NV'))

 * mysql+pymysql://w-alkao:***@localhost
51 rows affected.

[]

In [14]:
%%sql #update all invoices for a vendor

UPDATE Invoices
SET terms_id = 1
WHERE vendor_id = (
  SELECT vendor_id
  FROM Vendors
  WHERE vendor_name = 'Pacific Bell')

 * mysql+pymysql://w-alkao:***@localhost
6 rows affected.

[]

### Delete existing rows

In [15]:
%%sql #Delete one row

DELETE FROM General_ledger_accounts
WHERE account_number = 306;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[]

In [16]:
%%sql #delete one row using a compound condition

DELETE FROM Invoice_line_items
WHERE invoice_id = 78 AND invoice_sequence = 2;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[]

In [17]:
%%sql #delete multiple rows

DELETE FROM Invoice_line_items
WHERE invoice_id = 12;

 * mysql+pymysql://w-alkao:***@localhost
4 rows affected.

[]

In [18]:
%%sql #use a subquery in a delete statement

DELETE FROM Invoice_line_items
WHERE invoice_id IN (
  SELECT invoice_id
  FROM Invoices
  WHERE vendor_id = 115);

 * mysql+pymysql://w-alkao:***@localhost
4 rows affected.

[]

### EXERCISE

In [20]:
%sql SELECT * FROM Terms;

 * mysql+pymysql://w-alkao:***@localhost
5 rows affected.

[(1, 'Net due 10 days', 10),
 (2, 'Net due 20 days', 20),
 (3, 'Net due 30 days', 30),
 (4, 'Net due 60 days', 60),
 (5, 'Net due 90 days', 90)]

In [22]:
%%sql #1 statement that adds this row to the terms table (6, Net due 120 days, 120)

INSERT INTO Terms
VALUES (6, "Net due 120 days", 120);

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[]

In [23]:
%sql SELECT * FROM Terms;

 * mysql+pymysql://w-alkao:***@localhost
6 rows affected.

[(1, 'Net due 10 days', 10),
 (2, 'Net due 20 days', 20),
 (3, 'Net due 30 days', 30),
 (4, 'Net due 60 days', 60),
 (5, 'Net due 90 days', 90),
 (6, 'Net due 120 days', 120)]

In [24]:
%%sql #2 statement that modifies the row we just added. This should change description to "Net due 124 days" and due days to 125

UPDATE Terms
SET terms_description = "Net due 125 days", terms_due_days = 125
WHERE terms_id = 6;

SELECT * FROM Terms;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.
6 rows affected.

[(1, 'Net due 10 days', 10),
 (2, 'Net due 20 days', 20),
 (3, 'Net due 30 days', 30),
 (4, 'Net due 60 days', 60),
 (5, 'Net due 90 days', 90),
 (6, 'Net due 125 days', 125)]

In [25]:
%%sql #3 delete statement that deletes row we added

DELETE FROM Terms
WHERE terms_id = 6;

SELECT * FROM Terms;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.
5 rows affected.

[(1, 'Net due 10 days', 10),
 (2, 'Net due 20 days', 20),
 (3, 'Net due 30 days', 30),
 (4, 'Net due 60 days', 60),
 (5, 'Net due 90 days', 90)]

In [27]:
%sql SELECT * FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
119 rows affected.

[(1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 1, datetime.date(2018, 5, 8), datetime.date(2018, 5, 7)),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), datetime.date(2018, 5, 14)),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), datetime.date(2018, 5, 9)),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 12)),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 11)),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 21)),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), datetime.date(2018, 5, 22)),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), datetime.date(2018, 5, 1)),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 1, datetime.date(2018, 5, 24), datetime.date(2018, 5, 21)),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 22)),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), datetime.date(2018, 5, 20)),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 16), datetime.date(2018, 5, 13)),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 1, datetime.date(2018, 5, 20), datetime.date(2018, 5, 23)),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 10), datetime.date(2018, 6, 10)),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 1, datetime.date(2018, 6, 2), datetime.date(2018, 5, 30)),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), datetime.date(2018, 5, 22)),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), datetime.date(2018, 6, 5)),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), datetime.date(2018, 6, 5)),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), datetime.date(2018, 5, 19)),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 15)),
 (21, 119, '10843', datetime.date(2018, 5, 11), Decimal('4901.26'), Decimal('4901.26'), Decimal('0.00'), 1, datetime.date(2018, 5, 31), datetime.date(2018, 5, 29)),
 (22, 123, '963253235', datetime.date(2018, 5, 11), Decimal('108.25'), Decimal('108.25'), Decimal('0.00'), 3, datetime.date(2018, 6, 10), datetime.date(2018, 6, 9)),
 (23, 97, '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 6, 2), datetime.date(2018, 5, 28)),
 (24, 113, '77290', datetime.date(2018, 5, 13), Decimal('1750.00'), Decimal('1750.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 2), datetime.date(2018, 7, 5)),
 (25, 123, '963253246', datetime.date(2018, 5, 13), Decimal('129.00'), Decimal('129.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 12), datetime.date(2018, 6, 9)),
 (26, 123, '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 13), datetime.date(2018, 6, 13)),
 (27, 88, '972110', datetime.date(2018, 5, 15), Decimal('207.78'), Decimal('207.78'), Decimal('0.00'), 1, datetime.date(2018, 5, 25), datetime.date(2018, 5, 27)),
 (28, 123, '963253263', datetime.date(2018, 5, 16), Decimal('109.50'), Decimal('109.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 15), datetime.date(2018, 6, 10)),
 (29, 108, '121897', datetime.date(2018, 5, 19), Decimal('450.00'), Decimal('450.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 28), datetime.date(2018, 7, 3)),
 (30, 123, '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40'), Decimal('63.40'), Decimal('0.00'), 3, datetime.date(2018, 6, 19), datetime.date(2018, 6, 24)),
 (31, 104, 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34'), Decimal('7125.34'), Decimal('0.00'), 1, datetime.date(2018, 6, 20), datetime.date(2018, 6, 24)),
 (32, 121, '97/486', datetime.date(2018, 5, 21), Decimal('953.10'), Decimal('953.10'), Decimal('0.00'), 1, datetime.date(2018, 6, 20), datetime.date(2018, 6, 22)),
 (33, 105, '94007005', datetime.date(2018, 5, 23), Decimal('220.00'), Decimal('220.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 22), datetime.date(2018, 6, 26)),
 (34, 123, '963253232', datetime.date(2018, 5, 23), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 18)),
 (35, 107, 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00'), Decimal('1600.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 4), datetime.date(2018, 7, 9)),
 (36, 121, '97/465', datetime.date(2018, 5, 25), Decimal('565.15'), Decimal('565.15'), Decimal('0.00'), 1, datetime.date(2018, 6, 24), datetime.date(2018, 6, 24)),
 (37, 123, '963253260', datetime.date(2018, 5, 25), Decimal('36.00'), Decimal('36.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (38, 123, '963253272', datetime.date(2018, 5, 26), Decimal('61.50'), Decimal('61.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 25), datetime.date(2018, 6, 30)),
 (39, 110, '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19'), Decimal('37966.19'), Decimal('0.00'), 3, datetime.date(2018, 6, 27), datetime.date(2018, 6, 30)),
 (40, 121, '97/503', datetime.date(2018, 5, 30), Decimal('639.77'), Decimal('639.77'), Decimal('0.00'), 1, datetime.date(2018, 6, 29), datetime.date(2018, 6, 25)),
 (41, 123, '963253255', datetime.date(2018, 5, 31), Decimal('53.75'), Decimal('53.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 6, 27)),
 (42, 123, '94007069', datetime.date(2018, 5, 31), Decimal('400.00'), Decimal('400.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 7, 1)),
 (43, 72, '40318', datetime.date(2018, 6, 1), Decimal('21842.00'), Decimal('21842.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 29)),
 (44, 95, '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67'), Decimal('19.67'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 24)),
 (45, 122, '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36'), Decimal('2765.36'), Decimal('0.00'), 1, datetime.date(2018, 7, 1), datetime.date(2018, 6, 28)),
 (46, 37, '547481328', datetime.date(2018, 6, 3), Decimal('224.00'), Decimal('224.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 7, 4)),
 (47, 83, '31359783', datetime.date(2018, 6, 3), Decimal('1575.00'), Decimal('1575.00'), Decimal('0.00'), 2, datetime.date(2018, 6, 23), datetime.date(2018, 6, 21)),
 (48, 123, '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00'), Decimal('33.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 5)),
 (49, 95, '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 1, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (50, 37, '547479217', datetime.date(2018, 6, 7), Decimal('116.00'), Decimal('116.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 7), datetime.date(2018, 7, 7)),
 (51, 122, '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11'), Decimal('2184.11'), Decimal('0.00'), 1, datetime.date(2018, 7, 8), datetime.date(2018, 7, 8)),
 (52, 34, 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58'), Decimal('1083.58'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 23)),
 (53, 95, '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21'), Decimal('46.21'), Decimal('0.00'), 1, datetime.date(2018, 6, 29), datetime.date(2018, 7, 2)),
 (54, 121, '97/553B', datetime.date(2018, 6, 10), Decimal('313.55'), Decimal('313.55'), Decimal('0.00'), 1, datetime.date(2018, 7, 10), datetime.date(2018, 7, 9)),
 (55, 123, '963253245', datetime.date(2018, 6, 10), Decimal('40.75'), Decimal('40.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 12)),
 (56, 86, '367447', datetime.date(2018, 6, 11), Decimal('2433.00'), Decimal('2433.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 17)),
 (57, 103, '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50'), Decimal('1367.50'), Decimal('0.00'), 5, datetime.date(2018, 7, 31), datetime.date(2018, 7, 31)),
 (58, 123, '963253256', datetime.date(2018, 6, 11), Decimal('53.25'), Decimal('53.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 7)),
 (59, 123, '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75'), Decimal('13.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 15)),
 (60, 122, '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20'), Decimal('2312.20'), Decimal('0.00'), 1, datetime.date(2018, 7, 12), datetime.date(2018, 7, 9)),
 (61, 115, '24946731', datetime.date(2018, 6, 15), Decimal('25.67'), Decimal('25.67'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 26)),
 (62, 123, '963253269', datetime.date(2018, 6, 15), Decimal('26.75'), Decimal('26.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 15), datetime.date(2018, 7, 11)),
 (63, 122, '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81'), Decimal('2115.81'), Decimal('0.00'), 1, datetime.date(2018, 7, 16), datetime.date(2018, 7, 19)),
 (64, 123, '963253267', datetime.date(2018, 6, 17), Decimal('23.50'), Decimal('23.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 17), datetime.date(2018, 7, 19)),
 (65, 99, '509786', datetime.date(2018, 6, 18), Decimal('6940.25'), Decimal('6940.25'), Decimal('0.00'), 1, datetime.date(2018, 7, 18), datetime.date(2018, 7, 15)),
 (66, 123, '263253253', datetime.date(2018, 6, 18), Decimal('31.95'), Decimal('31.95'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 21)),
 (67, 122, '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54'), Decimal('1927.54'), Decimal('0.00'), 1, datetime.date(2018, 7, 20), datetime.date(2018, 7, 18)),
 (68, 81, 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93'), Decimal('936.93'), Decimal('0.00'), 1, datetime.date(2018, 7, 11), datetime.date(2018, 7, 10)),
 (69, 80, '133560', datetime.date(2018, 6, 22), Decimal('175.00'), Decimal('175.00'), Decimal('0.00'), 2, datetime.date(2018, 7, 12), datetime.date(2018, 7, 16)),
 (70, 115, '24780512', datetime.date(2018, 6, 22), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 1), datetime.date(2018, 7, 29)),
 (71, 123, '963253254', datetime.date(2018, 6, 22), Decimal('108.50'), Decimal('108.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 20)),
 (72, 123, '43966316', datetime.date(2018, 6, 22), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 17)),
 (73, 114, 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00'), Decimal('290.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 6, 29)),
 (74, 102, '109596', datetime.date(2018, 6, 24), Decimal('41.80'), Decimal('41.80'), Decimal('0.00'), 1, datetime.date(2018, 8, 3), datetime.date(2018, 8, 4)),
 (75, 123, '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00'), Decimal('27.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 24)),
 (76, 123, '963253248', datetime.date(2018, 6, 24), Decimal('241.00'), Decimal('241.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 25)),
 (77, 121, '97/553', datetime.date(2018, 6, 25), Decimal('904.14'), Decimal('904.14'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 25)),
 (78, 121, '97/522', datetime.date(2018, 6, 28), Decimal('1962.13'), Decimal('19351.18'), Decimal('300.00'), 1, datetime.date(2018, 7, 28), datetime.date(2018, 9, 21)),
 (79, 100, '587056', datetime.date(2018, 6, 30), Decimal('2184.50'), Decimal('2184.50'), Decimal('0.00'), 1, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (80, 122, '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03'), Decimal('2318.03'), Decimal('0.00'), 1, datetime.date(2018, 7, 31), datetime.date(2018, 7, 29)),
 (81, 123, '263253265', datetime.date(2018, 7, 2), Decimal('26.25'), Decimal('26.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 1), datetime.date(2018, 7, 28)),
 (82, 94, '203339-13', datetime.date(2018, 7, 5), Decimal('17.50'), Decimal('17.50'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 27)),
 (83, 95, '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77'), Decimal('39.77'), Decimal('0.00'), 1, datetime.date(2018, 7, 26), datetime.date(2018, 7, 22)),
 (84, 123, '963253258', datetime.date(2018, 7, 6), Decimal('111.00'), Decimal('111.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 5), datetime.date(2018, 8, 5)),
 (85, 123, '963253271', datetime.date(2018, 7, 7), Decimal('158.00'), Decimal('158.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 11)),
 (86, 123, '963253230', datetime.date(2018, 7, 7), Decimal('739.20'), Decimal('739.20'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 6)),
 (87, 123, '963253244', datetime.date(2018, 7, 8), Decimal('60.00'), Decimal('60.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 9)),
 (88, 123, '963253239', datetime.date(2018, 7, 8), Decimal('147.25'), Decimal('147.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 11)),
 (89, 72, '39104', datetime.date(2018, 7, 10), Decimal('85.31'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 9), None),
 (90, 123, '963253252', datetime.date(2018, 7, 12), Decimal('38.75'), Decimal('38.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 11), datetime.date(2018, 8, 11)),
 (91, 95, '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70'), Decimal('32.70'), Decimal('0.00'), 1, datetime.date(2018, 8, 4), datetime.date(2018, 8, 6)),
 (92, 117, '111897', datetime.date(2018, 7, 15), Decimal('16.62'), Decimal('16.62'), Decimal('0.00'), 1, datetime.date(2018, 8, 14), datetime.date(2018, 8, 14)),
 (93, 123, '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75'), Decimal('162.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 15), datetime.date(2018, 8, 11)),
 (94, 123, '963253264', datetime.date(2018, 7, 18), Decimal('52.25'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 17), None),
 (95, 82, 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00'), Decimal('600.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 8), datetime.date(2018, 8, 13)),
 (96, 110, 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40'), Decimal('26881.40'), Decimal('0.00'), 3, datetime.date(2018, 8, 18), datetime.date(2018, 8, 20)),
 (97, 90, '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48'), Decimal('356.48'), Decimal('0.00'), 1, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (98, 83, '31361833', datetime.date(2018, 7, 21), Decimal('579.42'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 10), None),
 (99, 123, '263253268', datetime.date(2018, 7, 21), Decimal('59.97'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 20), None),
 (100, 123, '263253270', datetime.date(2018, 7, 22), Decimal('67.92'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (101, 123, '263253273', datetime.date(2018, 7, 22), Decimal('30.75'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (102, 110, 'P-0608', datetime.date(2018, 7, 23), Decimal('20551.18'), Decimal('0.00'), Decimal('1200.00'), 3, datetime.date(2018, 8, 22), None),
 (103, 122, '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59'), Decimal('2051.59'), Decimal('0.00'), 1, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (104, 123, '263253243', datetime.date(2018, 7, 23), Decimal('44.44'), Decimal('44.44'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (105, 106, '9982771', datetime.date(2018, 7, 24), Decimal('503.20'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 23), None),
 (106, 110, '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58'), Decimal('21221.63'), Decimal('2295.95'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 27)),
 (107, 122, '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99'), Decimal('3689.99'), Decimal('0.00'), 1, datetime.date(2018, 8, 23), datetime.date(2018, 8, 19)),
 (108, 123, '963253240', datetime.date(2018, 7, 24), Decimal('67.00'), Decimal('67.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 23)),
 (109, 121, '97/222', datetime.date(2018, 7, 25), Decimal('1000.46'), Decimal('1000.46'), Decimal('0.00'), 1, datetime.date(2018, 8, 24), datetime.date(2018, 8, 22)),
 (110, 80, '134116', datetime.date(2018, 7, 28), Decimal('90.36'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 17), None),
 (111, 123, '263253257', datetime.date(2018, 7, 30), Decimal('22.57'), Decimal('22.57'), Decimal('0.00'), 3, datetime.date(2018, 8, 29), datetime.date(2018, 9, 3)),
 (112, 110, '0-2436', datetime.date(2018, 7, 31), Decimal('10976.06'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 30), None),
 (113, 37, '547480102', datetime.date(2018, 8, 1), Decimal('224.00'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (114, 123, '963253249', datetime.date(2018, 8, 2), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 9, 1), datetime.date(2018, 9, 4)),
 (115, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (116, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (117, 97, '456701', datetime.date(2018, 8, 2), Decimal('270.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 1), None),
 (118, 97, '456791', datetime.date(2018, 8, 3), Decimal('4390.00'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 2), None),
 (119, 97, '456792', datetime.date(2018, 8, 3), Decimal('565.60'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 2), None)]

In [29]:
%%sql #4 insert statement that adds row to the invoices tables without using a column list

INSERT INTO Invoices
VALUES (DEFAULT, 32, "AX-014-027", "2018-08-01", 434.58, 0.00, 0.00, 2, "2018-8-31", NULL);

SELECT * FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.
120 rows affected.

[(1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 1, datetime.date(2018, 5, 8), datetime.date(2018, 5, 7)),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), datetime.date(2018, 5, 14)),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), datetime.date(2018, 5, 9)),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 12)),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 11)),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 21)),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), datetime.date(2018, 5, 22)),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), datetime.date(2018, 5, 1)),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 1, datetime.date(2018, 5, 24), datetime.date(2018, 5, 21)),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 22)),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), datetime.date(2018, 5, 20)),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 16), datetime.date(2018, 5, 13)),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 1, datetime.date(2018, 5, 20), datetime.date(2018, 5, 23)),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 10), datetime.date(2018, 6, 10)),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 1, datetime.date(2018, 6, 2), datetime.date(2018, 5, 30)),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), datetime.date(2018, 5, 22)),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), datetime.date(2018, 6, 5)),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), datetime.date(2018, 6, 5)),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), datetime.date(2018, 5, 19)),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 15)),
 (21, 119, '10843', datetime.date(2018, 5, 11), Decimal('4901.26'), Decimal('4901.26'), Decimal('0.00'), 1, datetime.date(2018, 5, 31), datetime.date(2018, 5, 29)),
 (22, 123, '963253235', datetime.date(2018, 5, 11), Decimal('108.25'), Decimal('108.25'), Decimal('0.00'), 3, datetime.date(2018, 6, 10), datetime.date(2018, 6, 9)),
 (23, 97, '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 6, 2), datetime.date(2018, 5, 28)),
 (24, 113, '77290', datetime.date(2018, 5, 13), Decimal('1750.00'), Decimal('1750.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 2), datetime.date(2018, 7, 5)),
 (25, 123, '963253246', datetime.date(2018, 5, 13), Decimal('129.00'), Decimal('129.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 12), datetime.date(2018, 6, 9)),
 (26, 123, '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 13), datetime.date(2018, 6, 13)),
 (27, 88, '972110', datetime.date(2018, 5, 15), Decimal('207.78'), Decimal('207.78'), Decimal('0.00'), 1, datetime.date(2018, 5, 25), datetime.date(2018, 5, 27)),
 (28, 123, '963253263', datetime.date(2018, 5, 16), Decimal('109.50'), Decimal('109.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 15), datetime.date(2018, 6, 10)),
 (29, 108, '121897', datetime.date(2018, 5, 19), Decimal('450.00'), Decimal('450.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 28), datetime.date(2018, 7, 3)),
 (30, 123, '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40'), Decimal('63.40'), Decimal('0.00'), 3, datetime.date(2018, 6, 19), datetime.date(2018, 6, 24)),
 (31, 104, 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34'), Decimal('7125.34'), Decimal('0.00'), 1, datetime.date(2018, 6, 20), datetime.date(2018, 6, 24)),
 (32, 121, '97/486', datetime.date(2018, 5, 21), Decimal('953.10'), Decimal('953.10'), Decimal('0.00'), 1, datetime.date(2018, 6, 20), datetime.date(2018, 6, 22)),
 (33, 105, '94007005', datetime.date(2018, 5, 23), Decimal('220.00'), Decimal('220.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 22), datetime.date(2018, 6, 26)),
 (34, 123, '963253232', datetime.date(2018, 5, 23), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 18)),
 (35, 107, 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00'), Decimal('1600.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 4), datetime.date(2018, 7, 9)),
 (36, 121, '97/465', datetime.date(2018, 5, 25), Decimal('565.15'), Decimal('565.15'), Decimal('0.00'), 1, datetime.date(2018, 6, 24), datetime.date(2018, 6, 24)),
 (37, 123, '963253260', datetime.date(2018, 5, 25), Decimal('36.00'), Decimal('36.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (38, 123, '963253272', datetime.date(2018, 5, 26), Decimal('61.50'), Decimal('61.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 25), datetime.date(2018, 6, 30)),
 (39, 110, '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19'), Decimal('37966.19'), Decimal('0.00'), 3, datetime.date(2018, 6, 27), datetime.date(2018, 6, 30)),
 (40, 121, '97/503', datetime.date(2018, 5, 30), Decimal('639.77'), Decimal('639.77'), Decimal('0.00'), 1, datetime.date(2018, 6, 29), datetime.date(2018, 6, 25)),
 (41, 123, '963253255', datetime.date(2018, 5, 31), Decimal('53.75'), Decimal('53.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 6, 27)),
 (42, 123, '94007069', datetime.date(2018, 5, 31), Decimal('400.00'), Decimal('400.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 7, 1)),
 (43, 72, '40318', datetime.date(2018, 6, 1), Decimal('21842.00'), Decimal('21842.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 29)),
 (44, 95, '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67'), Decimal('19.67'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 24)),
 (45, 122, '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36'), Decimal('2765.36'), Decimal('0.00'), 1, datetime.date(2018, 7, 1), datetime.date(2018, 6, 28)),
 (46, 37, '547481328', datetime.date(2018, 6, 3), Decimal('224.00'), Decimal('224.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 7, 4)),
 (47, 83, '31359783', datetime.date(2018, 6, 3), Decimal('1575.00'), Decimal('1575.00'), Decimal('0.00'), 2, datetime.date(2018, 6, 23), datetime.date(2018, 6, 21)),
 (48, 123, '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00'), Decimal('33.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 5)),
 (49, 95, '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 1, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (50, 37, '547479217', datetime.date(2018, 6, 7), Decimal('116.00'), Decimal('116.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 7), datetime.date(2018, 7, 7)),
 (51, 122, '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11'), Decimal('2184.11'), Decimal('0.00'), 1, datetime.date(2018, 7, 8), datetime.date(2018, 7, 8)),
 (52, 34, 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58'), Decimal('1083.58'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 23)),
 (53, 95, '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21'), Decimal('46.21'), Decimal('0.00'), 1, datetime.date(2018, 6, 29), datetime.date(2018, 7, 2)),
 (54, 121, '97/553B', datetime.date(2018, 6, 10), Decimal('313.55'), Decimal('313.55'), Decimal('0.00'), 1, datetime.date(2018, 7, 10), datetime.date(2018, 7, 9)),
 (55, 123, '963253245', datetime.date(2018, 6, 10), Decimal('40.75'), Decimal('40.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 12)),
 (56, 86, '367447', datetime.date(2018, 6, 11), Decimal('2433.00'), Decimal('2433.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 17)),
 (57, 103, '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50'), Decimal('1367.50'), Decimal('0.00'), 5, datetime.date(2018, 7, 31), datetime.date(2018, 7, 31)),
 (58, 123, '963253256', datetime.date(2018, 6, 11), Decimal('53.25'), Decimal('53.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 7)),
 (59, 123, '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75'), Decimal('13.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 15)),
 (60, 122, '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20'), Decimal('2312.20'), Decimal('0.00'), 1, datetime.date(2018, 7, 12), datetime.date(2018, 7, 9)),
 (61, 115, '24946731', datetime.date(2018, 6, 15), Decimal('25.67'), Decimal('25.67'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 26)),
 (62, 123, '963253269', datetime.date(2018, 6, 15), Decimal('26.75'), Decimal('26.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 15), datetime.date(2018, 7, 11)),
 (63, 122, '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81'), Decimal('2115.81'), Decimal('0.00'), 1, datetime.date(2018, 7, 16), datetime.date(2018, 7, 19)),
 (64, 123, '963253267', datetime.date(2018, 6, 17), Decimal('23.50'), Decimal('23.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 17), datetime.date(2018, 7, 19)),
 (65, 99, '509786', datetime.date(2018, 6, 18), Decimal('6940.25'), Decimal('6940.25'), Decimal('0.00'), 1, datetime.date(2018, 7, 18), datetime.date(2018, 7, 15)),
 (66, 123, '263253253', datetime.date(2018, 6, 18), Decimal('31.95'), Decimal('31.95'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 21)),
 (67, 122, '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54'), Decimal('1927.54'), Decimal('0.00'), 1, datetime.date(2018, 7, 20), datetime.date(2018, 7, 18)),
 (68, 81, 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93'), Decimal('936.93'), Decimal('0.00'), 1, datetime.date(2018, 7, 11), datetime.date(2018, 7, 10)),
 (69, 80, '133560', datetime.date(2018, 6, 22), Decimal('175.00'), Decimal('175.00'), Decimal('0.00'), 2, datetime.date(2018, 7, 12), datetime.date(2018, 7, 16)),
 (70, 115, '24780512', datetime.date(2018, 6, 22), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 1), datetime.date(2018, 7, 29)),
 (71, 123, '963253254', datetime.date(2018, 6, 22), Decimal('108.50'), Decimal('108.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 20)),
 (72, 123, '43966316', datetime.date(2018, 6, 22), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 17)),
 (73, 114, 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00'), Decimal('290.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 6, 29)),
 (74, 102, '109596', datetime.date(2018, 6, 24), Decimal('41.80'), Decimal('41.80'), Decimal('0.00'), 1, datetime.date(2018, 8, 3), datetime.date(2018, 8, 4)),
 (75, 123, '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00'), Decimal('27.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 24)),
 (76, 123, '963253248', datetime.date(2018, 6, 24), Decimal('241.00'), Decimal('241.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 25)),
 (77, 121, '97/553', datetime.date(2018, 6, 25), Decimal('904.14'), Decimal('904.14'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 25)),
 (78, 121, '97/522', datetime.date(2018, 6, 28), Decimal('1962.13'), Decimal('19351.18'), Decimal('300.00'), 1, datetime.date(2018, 7, 28), datetime.date(2018, 9, 21)),
 (79, 100, '587056', datetime.date(2018, 6, 30), Decimal('2184.50'), Decimal('2184.50'), Decimal('0.00'), 1, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (80, 122, '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03'), Decimal('2318.03'), Decimal('0.00'), 1, datetime.date(2018, 7, 31), datetime.date(2018, 7, 29)),
 (81, 123, '263253265', datetime.date(2018, 7, 2), Decimal('26.25'), Decimal('26.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 1), datetime.date(2018, 7, 28)),
 (82, 94, '203339-13', datetime.date(2018, 7, 5), Decimal('17.50'), Decimal('17.50'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 27)),
 (83, 95, '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77'), Decimal('39.77'), Decimal('0.00'), 1, datetime.date(2018, 7, 26), datetime.date(2018, 7, 22)),
 (84, 123, '963253258', datetime.date(2018, 7, 6), Decimal('111.00'), Decimal('111.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 5), datetime.date(2018, 8, 5)),
 (85, 123, '963253271', datetime.date(2018, 7, 7), Decimal('158.00'), Decimal('158.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 11)),
 (86, 123, '963253230', datetime.date(2018, 7, 7), Decimal('739.20'), Decimal('739.20'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 6)),
 (87, 123, '963253244', datetime.date(2018, 7, 8), Decimal('60.00'), Decimal('60.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 9)),
 (88, 123, '963253239', datetime.date(2018, 7, 8), Decimal('147.25'), Decimal('147.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 11)),
 (89, 72, '39104', datetime.date(2018, 7, 10), Decimal('85.31'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 9), None),
 (90, 123, '963253252', datetime.date(2018, 7, 12), Decimal('38.75'), Decimal('38.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 11), datetime.date(2018, 8, 11)),
 (91, 95, '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70'), Decimal('32.70'), Decimal('0.00'), 1, datetime.date(2018, 8, 4), datetime.date(2018, 8, 6)),
 (92, 117, '111897', datetime.date(2018, 7, 15), Decimal('16.62'), Decimal('16.62'), Decimal('0.00'), 1, datetime.date(2018, 8, 14), datetime.date(2018, 8, 14)),
 (93, 123, '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75'), Decimal('162.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 15), datetime.date(2018, 8, 11)),
 (94, 123, '963253264', datetime.date(2018, 7, 18), Decimal('52.25'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 17), None),
 (95, 82, 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00'), Decimal('600.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 8), datetime.date(2018, 8, 13)),
 (96, 110, 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40'), Decimal('26881.40'), Decimal('0.00'), 3, datetime.date(2018, 8, 18), datetime.date(2018, 8, 20)),
 (97, 90, '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48'), Decimal('356.48'), Decimal('0.00'), 1, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (98, 83, '31361833', datetime.date(2018, 7, 21), Decimal('579.42'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 10), None),
 (99, 123, '263253268', datetime.date(2018, 7, 21), Decimal('59.97'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 20), None),
 (100, 123, '263253270', datetime.date(2018, 7, 22), Decimal('67.92'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (101, 123, '263253273', datetime.date(2018, 7, 22), Decimal('30.75'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (102, 110, 'P-0608', datetime.date(2018, 7, 23), Decimal('20551.18'), Decimal('0.00'), Decimal('1200.00'), 3, datetime.date(2018, 8, 22), None),
 (103, 122, '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59'), Decimal('2051.59'), Decimal('0.00'), 1, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (104, 123, '263253243', datetime.date(2018, 7, 23), Decimal('44.44'), Decimal('44.44'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (105, 106, '9982771', datetime.date(2018, 7, 24), Decimal('503.20'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 23), None),
 (106, 110, '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58'), Decimal('21221.63'), Decimal('2295.95'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 27)),
 (107, 122, '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99'), Decimal('3689.99'), Decimal('0.00'), 1, datetime.date(2018, 8, 23), datetime.date(2018, 8, 19)),
 (108, 123, '963253240', datetime.date(2018, 7, 24), Decimal('67.00'), Decimal('67.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 23)),
 (109, 121, '97/222', datetime.date(2018, 7, 25), Decimal('1000.46'), Decimal('1000.46'), Decimal('0.00'), 1, datetime.date(2018, 8, 24), datetime.date(2018, 8, 22)),
 (110, 80, '134116', datetime.date(2018, 7, 28), Decimal('90.36'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 17), None),
 (111, 123, '263253257', datetime.date(2018, 7, 30), Decimal('22.57'), Decimal('22.57'), Decimal('0.00'), 3, datetime.date(2018, 8, 29), datetime.date(2018, 9, 3)),
 (112, 110, '0-2436', datetime.date(2018, 7, 31), Decimal('10976.06'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 30), None),
 (113, 37, '547480102', datetime.date(2018, 8, 1), Decimal('224.00'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (114, 123, '963253249', datetime.date(2018, 8, 2), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 9, 1), datetime.date(2018, 9, 4)),
 (115, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (116, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (117, 97, '456701', datetime.date(2018, 8, 2), Decimal('270.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 1), None),
 (118, 97, '456791', datetime.date(2018, 8, 3), Decimal('4390.00'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 2), None),
 (119, 97, '456792', datetime.date(2018, 8, 3), Decimal('565.60'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 2), None),
 (120, 32, 'AX-014-027', datetime.date(2018, 8, 1), Decimal('434.58'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 31), None)]

In [7]:
%sql SELECT * FROM Invoice_line_items;

 * mysql+pymysql://w-alkao:***@localhost
109 rows affected.

[(1, 1, 553, Decimal('3813.33'), 'Freight'),
 (2, 1, 553, Decimal('40.20'), 'Freight'),
 (3, 1, 553, Decimal('138.75'), 'Freight'),
 (4, 1, 553, Decimal('144.70'), "Int'l shipment"),
 (5, 1, 553, Decimal('15.50'), 'Freight'),
 (6, 1, 553, Decimal('42.75'), 'Freight'),
 (7, 1, 553, Decimal('172.50'), 'Freight'),
 (8, 1, 522, Decimal('95.00'), 'Telephone service'),
 (9, 1, 403, Decimal('601.95'), 'Cover design'),
 (10, 1, 553, Decimal('42.67'), 'Freight'),
 (11, 1, 553, Decimal('42.50'), 'Freight'),
 (13, 1, 522, Decimal('16.33'), 'Telephone (line 5)'),
 (15, 1, 574, Decimal('856.92'), 'Property Taxes'),
 (16, 1, 572, Decimal('9.95'), 'Monthly access fee'),
 (17, 1, 553, Decimal('10.00'), 'Address correction'),
 (18, 1, 553, Decimal('104.00'), 'Freight'),
 (19, 1, 160, Decimal('116.54'), 'MVS Online Library'),
 (21, 1, 589, Decimal('4901.26'), 'Office lease'),
 (22, 1, 553, Decimal('108.25'), 'Freight'),
 (23, 1, 572, Decimal('9.95'), 'Monthly access fee'),
 (24, 1, 520, Decimal('1750.00'), 'Warehouse lease'),
 (25, 1, 553, Decimal('129.00'), 'Freight'),
 (26, 1, 553, Decimal('10.00'), 'Freight'),
 (27, 1, 540, Decimal('207.78'), 'Prospect list'),
 (28, 1, 553, Decimal('109.50'), 'Freight'),
 (29, 1, 523, Decimal('450.00'), 'Back office additions'),
 (30, 1, 553, Decimal('63.40'), 'Freight'),
 (31, 1, 589, Decimal('7125.34'), 'Web site design'),
 (32, 1, 403, Decimal('953.10'), 'Crash Course revision'),
 (33, 1, 591, Decimal('220.00'), 'Form 571-L'),
 (34, 1, 553, Decimal('127.75'), 'Freight'),
 (35, 1, 507, Decimal('1600.00'), 'Income Tax'),
 (36, 1, 403, Decimal('565.15'), 'Crash Course Ad'),
 (37, 1, 553, Decimal('36.00'), 'Freight'),
 (38, 1, 553, Decimal('61.50'), 'Freight'),
 (39, 1, 400, Decimal('37966.19'), 'CICS Desk Reference'),
 (40, 1, 403, Decimal('639.77'), 'Card deck'),
 (41, 1, 553, Decimal('53.75'), 'Freight'),
 (42, 1, 553, Decimal('400.00'), 'Freight'),
 (43, 1, 400, Decimal('21842.00'), 'Book repro'),
 (44, 1, 522, Decimal('19.67'), 'Telephone (Line 3)'),
 (45, 1, 553, Decimal('2765.36'), 'Freight'),
 (46, 1, 510, Decimal('224.00'), 'Health Insurance'),
 (47, 1, 572, Decimal('1575.00'), 'Catalog ad'),
 (48, 1, 553, Decimal('33.00'), 'Freight'),
 (49, 1, 522, Decimal('16.33'), 'Telephone (line 6)'),
 (50, 1, 510, Decimal('116.00'), 'Health Insurance'),
 (51, 1, 553, Decimal('2184.11'), 'Freight'),
 (52, 1, 160, Decimal('1083.58'), 'MSDN'),
 (53, 1, 522, Decimal('46.21'), 'Telephone (Line 1)'),
 (54, 1, 403, Decimal('313.55'), 'Card revision'),
 (55, 1, 553, Decimal('40.75'), 'Freight'),
 (56, 1, 572, Decimal('2433.00'), 'Card deck'),
 (57, 1, 589, Decimal('1367.50'), '401K Contributions'),
 (58, 1, 553, Decimal('53.25'), 'Freight'),
 (59, 1, 553, Decimal('13.75'), 'Freight'),
 (60, 1, 553, Decimal('2312.20'), 'Freight'),
 (62, 1, 553, Decimal('26.75'), 'Freight'),
 (63, 1, 553, Decimal('2115.81'), 'Freight'),
 (64, 1, 553, Decimal('23.50'), 'Freight'),
 (65, 1, 400, Decimal('6940.25'), 'OS Utilities'),
 (66, 1, 553, Decimal('31.95'), 'Freight'),
 (67, 1, 553, Decimal('1927.54'), 'Freight'),
 (68, 1, 160, Decimal('936.93'), 'Quarterly Maintenance'),
 (69, 1, 540, Decimal('175.00'), 'Card deck advertising'),
 (71, 1, 553, Decimal('108.50'), 'Freight'),
 (72, 1, 553, Decimal('10.00'), 'Address correction'),
 (73, 1, 552, Decimal('290.00'), 'International pkg.'),
 (74, 1, 570, Decimal('41.80'), 'Coffee'),
 (75, 1, 553, Decimal('27.00'), 'Freight'),
 (76, 1, 553, Decimal('241.00'), "Int'l shipment"),
 (77, 1, 403, Decimal('904.14'), 'Cover design'),
 (78, 1, 403, Decimal('1197.00'), 'Cover design'),
 (79, 1, 540, Decimal('2184.50'), 'PC card deck'),
 (80, 1, 553, Decimal('2318.03'), 'Freight'),
 (81, 1, 553, Decimal('26.25'), 'Freight'),
 (82, 1, 150, Decimal('17.50'), 'Supplies'),
 (83, 1, 522, Decimal('39.77'), 'Telephone (Line 2)'),
 (84, 1, 553, Decimal('111.00'), 'Freight'),
 (85, 1, 553, Decimal('158.00'), "Int'l shipment"),
 (86, 1, 553, Decimal('739.20'), 'Freight'),
 (87, 1, 553, Decimal('60.00'), 'Freight'),
 (88, 1, 553, Decimal('147.25'), 'Freight'),
 (89, 1, 400, Decimal('85.31'), 'Book copy'),
 (90, 1, 553, Decimal('38.75'), 'Freight'),
 (91, 1, 522, Decimal('32.70'), 'Telephone (line 4)'),
 (92, 1, 521, Decimal('16.62'), 'Propane-forklift'),
 (93, 1, 553, Decimal('162.75'), 'International shipment'),
 (94, 1, 553, Decimal('52.25'), 'Freight'),
 (95, 1, 572, Decimal('600.00'), 'Books for research'),
 (96, 1, 400, Decimal('26881.40'), 'MVS JCL'),
 (97, 1, 170, Decimal('356.48'), 'Network wiring'),
 (98, 1, 572, Decimal('579.42'), 'Catalog ad'),
 (99, 1, 553, Decimal('59.97'), 'Freight'),
 (100, 1, 553, Decimal('67.92'), 'Freight'),
 (101, 1, 553, Decimal('30.75'), 'Freight'),
 (102, 1, 400, Decimal('20551.18'), 'CICS book printing'),
 (103, 1, 553, Decimal('2051.59'), 'Freight'),
 (104, 1, 553, Decimal('44.44'), 'Freight'),
 (105, 1, 582, Decimal('503.20'), 'Bronco lease'),
 (106, 1, 400, Decimal('23517.58'), 'DB2 book printing'),
 (107, 1, 553, Decimal('3689.99'), 'Freight'),
 (108, 1, 553, Decimal('67.00'), 'Freight'),
 (109, 1, 403, Decimal('1000.46'), 'Crash Course covers'),
 (110, 1, 540, Decimal('90.36'), 'Card deck advertising'),
 (111, 1, 553, Decimal('22.57'), 'Freight'),
 (112, 1, 400, Decimal('10976.06'), 'VSAM book printing'),
 (113, 1, 510, Decimal('224.00'), 'Health Insurance'),
 (114, 1, 553, Decimal('127.75'), 'Freight')]

In [9]:
%%sql #5 Insert statement that adds two rows to the Invoices Line Items

INSERT INTO Invoice_line_items VALUES
  (120, 1, 160, 180.23, "Hard drive"),
  (120, 2, 527, 254.35, "Exchange Server update");

SELECT * FROM Invoice_line_items;

 * mysql+pymysql://w-alkao:***@localhost
2 rows affected.
111 rows affected.

[(1, 1, 553, Decimal('3813.33'), 'Freight'),
 (2, 1, 553, Decimal('40.20'), 'Freight'),
 (3, 1, 553, Decimal('138.75'), 'Freight'),
 (4, 1, 553, Decimal('144.70'), "Int'l shipment"),
 (5, 1, 553, Decimal('15.50'), 'Freight'),
 (6, 1, 553, Decimal('42.75'), 'Freight'),
 (7, 1, 553, Decimal('172.50'), 'Freight'),
 (8, 1, 522, Decimal('95.00'), 'Telephone service'),
 (9, 1, 403, Decimal('601.95'), 'Cover design'),
 (10, 1, 553, Decimal('42.67'), 'Freight'),
 (11, 1, 553, Decimal('42.50'), 'Freight'),
 (13, 1, 522, Decimal('16.33'), 'Telephone (line 5)'),
 (15, 1, 574, Decimal('856.92'), 'Property Taxes'),
 (16, 1, 572, Decimal('9.95'), 'Monthly access fee'),
 (17, 1, 553, Decimal('10.00'), 'Address correction'),
 (18, 1, 553, Decimal('104.00'), 'Freight'),
 (19, 1, 160, Decimal('116.54'), 'MVS Online Library'),
 (21, 1, 589, Decimal('4901.26'), 'Office lease'),
 (22, 1, 553, Decimal('108.25'), 'Freight'),
 (23, 1, 572, Decimal('9.95'), 'Monthly access fee'),
 (24, 1, 520, Decimal('1750.00'), 'Warehouse lease'),
 (25, 1, 553, Decimal('129.00'), 'Freight'),
 (26, 1, 553, Decimal('10.00'), 'Freight'),
 (27, 1, 540, Decimal('207.78'), 'Prospect list'),
 (28, 1, 553, Decimal('109.50'), 'Freight'),
 (29, 1, 523, Decimal('450.00'), 'Back office additions'),
 (30, 1, 553, Decimal('63.40'), 'Freight'),
 (31, 1, 589, Decimal('7125.34'), 'Web site design'),
 (32, 1, 403, Decimal('953.10'), 'Crash Course revision'),
 (33, 1, 591, Decimal('220.00'), 'Form 571-L'),
 (34, 1, 553, Decimal('127.75'), 'Freight'),
 (35, 1, 507, Decimal('1600.00'), 'Income Tax'),
 (36, 1, 403, Decimal('565.15'), 'Crash Course Ad'),
 (37, 1, 553, Decimal('36.00'), 'Freight'),
 (38, 1, 553, Decimal('61.50'), 'Freight'),
 (39, 1, 400, Decimal('37966.19'), 'CICS Desk Reference'),
 (40, 1, 403, Decimal('639.77'), 'Card deck'),
 (41, 1, 553, Decimal('53.75'), 'Freight'),
 (42, 1, 553, Decimal('400.00'), 'Freight'),
 (43, 1, 400, Decimal('21842.00'), 'Book repro'),
 (44, 1, 522, Decimal('19.67'), 'Telephone (Line 3)'),
 (45, 1, 553, Decimal('2765.36'), 'Freight'),
 (46, 1, 510, Decimal('224.00'), 'Health Insurance'),
 (47, 1, 572, Decimal('1575.00'), 'Catalog ad'),
 (48, 1, 553, Decimal('33.00'), 'Freight'),
 (49, 1, 522, Decimal('16.33'), 'Telephone (line 6)'),
 (50, 1, 510, Decimal('116.00'), 'Health Insurance'),
 (51, 1, 553, Decimal('2184.11'), 'Freight'),
 (52, 1, 160, Decimal('1083.58'), 'MSDN'),
 (53, 1, 522, Decimal('46.21'), 'Telephone (Line 1)'),
 (54, 1, 403, Decimal('313.55'), 'Card revision'),
 (55, 1, 553, Decimal('40.75'), 'Freight'),
 (56, 1, 572, Decimal('2433.00'), 'Card deck'),
 (57, 1, 589, Decimal('1367.50'), '401K Contributions'),
 (58, 1, 553, Decimal('53.25'), 'Freight'),
 (59, 1, 553, Decimal('13.75'), 'Freight'),
 (60, 1, 553, Decimal('2312.20'), 'Freight'),
 (62, 1, 553, Decimal('26.75'), 'Freight'),
 (63, 1, 553, Decimal('2115.81'), 'Freight'),
 (64, 1, 553, Decimal('23.50'), 'Freight'),
 (65, 1, 400, Decimal('6940.25'), 'OS Utilities'),
 (66, 1, 553, Decimal('31.95'), 'Freight'),
 (67, 1, 553, Decimal('1927.54'), 'Freight'),
 (68, 1, 160, Decimal('936.93'), 'Quarterly Maintenance'),
 (69, 1, 540, Decimal('175.00'), 'Card deck advertising'),
 (71, 1, 553, Decimal('108.50'), 'Freight'),
 (72, 1, 553, Decimal('10.00'), 'Address correction'),
 (73, 1, 552, Decimal('290.00'), 'International pkg.'),
 (74, 1, 570, Decimal('41.80'), 'Coffee'),
 (75, 1, 553, Decimal('27.00'), 'Freight'),
 (76, 1, 553, Decimal('241.00'), "Int'l shipment"),
 (77, 1, 403, Decimal('904.14'), 'Cover design'),
 (78, 1, 403, Decimal('1197.00'), 'Cover design'),
 (79, 1, 540, Decimal('2184.50'), 'PC card deck'),
 (80, 1, 553, Decimal('2318.03'), 'Freight'),
 (81, 1, 553, Decimal('26.25'), 'Freight'),
 (82, 1, 150, Decimal('17.50'), 'Supplies'),
 (83, 1, 522, Decimal('39.77'), 'Telephone (Line 2)'),
 (84, 1, 553, Decimal('111.00'), 'Freight'),
 (85, 1, 553, Decimal('158.00'), "Int'l shipment"),
 (86, 1, 553, Decimal('739.20'), 'Freight'),
 (87, 1, 553, Decimal('60.00'), 'Freight'),
 (88, 1, 553, Decimal('147.25'), 'Freight'),
 (89, 1, 400, Decimal('85.31'), 'Book copy'),
 (90, 1, 553, Decimal('38.75'), 'Freight'),
 (91, 1, 522, Decimal('32.70'), 'Telephone (line 4)'),
 (92, 1, 521, Decimal('16.62'), 'Propane-forklift'),
 (93, 1, 553, Decimal('162.75'), 'International shipment'),
 (94, 1, 553, Decimal('52.25'), 'Freight'),
 (95, 1, 572, Decimal('600.00'), 'Books for research'),
 (96, 1, 400, Decimal('26881.40'), 'MVS JCL'),
 (97, 1, 170, Decimal('356.48'), 'Network wiring'),
 (98, 1, 572, Decimal('579.42'), 'Catalog ad'),
 (99, 1, 553, Decimal('59.97'), 'Freight'),
 (100, 1, 553, Decimal('67.92'), 'Freight'),
 (101, 1, 553, Decimal('30.75'), 'Freight'),
 (102, 1, 400, Decimal('20551.18'), 'CICS book printing'),
 (103, 1, 553, Decimal('2051.59'), 'Freight'),
 (104, 1, 553, Decimal('44.44'), 'Freight'),
 (105, 1, 582, Decimal('503.20'), 'Bronco lease'),
 (106, 1, 400, Decimal('23517.58'), 'DB2 book printing'),
 (107, 1, 553, Decimal('3689.99'), 'Freight'),
 (108, 1, 553, Decimal('67.00'), 'Freight'),
 (109, 1, 403, Decimal('1000.46'), 'Crash Course covers'),
 (110, 1, 540, Decimal('90.36'), 'Card deck advertising'),
 (111, 1, 553, Decimal('22.57'), 'Freight'),
 (112, 1, 400, Decimal('10976.06'), 'VSAM book printing'),
 (113, 1, 510, Decimal('224.00'), 'Health Insurance'),
 (114, 1, 553, Decimal('127.75'), 'Freight'),
 (120, 1, 160, Decimal('180.23'), 'Hard drive'),
 (120, 2, 527, Decimal('254.35'), 'Exchange Server update')]

In [10]:
%%sql #6 Update statement that modifies the invoice we added in exercise 4

UPDATE Invoices
SET credit_total = invoice_total * 0.1, payment_total = invoice_total - credit_total
WHERE invoice_id = 120;

SELECT * FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.
120 rows affected.

[(1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 1, datetime.date(2018, 5, 8), datetime.date(2018, 5, 7)),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), datetime.date(2018, 5, 14)),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), datetime.date(2018, 5, 9)),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 12)),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 11)),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 21)),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), datetime.date(2018, 5, 22)),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), datetime.date(2018, 5, 1)),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 1, datetime.date(2018, 5, 24), datetime.date(2018, 5, 21)),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 22)),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), datetime.date(2018, 5, 20)),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 16), datetime.date(2018, 5, 13)),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 1, datetime.date(2018, 5, 20), datetime.date(2018, 5, 23)),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 10), datetime.date(2018, 6, 10)),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 1, datetime.date(2018, 6, 2), datetime.date(2018, 5, 30)),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), datetime.date(2018, 5, 22)),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), datetime.date(2018, 6, 5)),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), datetime.date(2018, 6, 5)),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), datetime.date(2018, 5, 19)),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 15)),
 (21, 119, '10843', datetime.date(2018, 5, 11), Decimal('4901.26'), Decimal('4901.26'), Decimal('0.00'), 1, datetime.date(2018, 5, 31), datetime.date(2018, 5, 29)),
 (22, 123, '963253235', datetime.date(2018, 5, 11), Decimal('108.25'), Decimal('108.25'), Decimal('0.00'), 3, datetime.date(2018, 6, 10), datetime.date(2018, 6, 9)),
 (23, 97, '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 6, 2), datetime.date(2018, 5, 28)),
 (24, 113, '77290', datetime.date(2018, 5, 13), Decimal('1750.00'), Decimal('1750.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 2), datetime.date(2018, 7, 5)),
 (25, 123, '963253246', datetime.date(2018, 5, 13), Decimal('129.00'), Decimal('129.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 12), datetime.date(2018, 6, 9)),
 (26, 123, '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 13), datetime.date(2018, 6, 13)),
 (27, 88, '972110', datetime.date(2018, 5, 15), Decimal('207.78'), Decimal('207.78'), Decimal('0.00'), 1, datetime.date(2018, 5, 25), datetime.date(2018, 5, 27)),
 (28, 123, '963253263', datetime.date(2018, 5, 16), Decimal('109.50'), Decimal('109.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 15), datetime.date(2018, 6, 10)),
 (29, 108, '121897', datetime.date(2018, 5, 19), Decimal('450.00'), Decimal('450.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 28), datetime.date(2018, 7, 3)),
 (30, 123, '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40'), Decimal('63.40'), Decimal('0.00'), 3, datetime.date(2018, 6, 19), datetime.date(2018, 6, 24)),
 (31, 104, 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34'), Decimal('7125.34'), Decimal('0.00'), 1, datetime.date(2018, 6, 20), datetime.date(2018, 6, 24)),
 (32, 121, '97/486', datetime.date(2018, 5, 21), Decimal('953.10'), Decimal('953.10'), Decimal('0.00'), 1, datetime.date(2018, 6, 20), datetime.date(2018, 6, 22)),
 (33, 105, '94007005', datetime.date(2018, 5, 23), Decimal('220.00'), Decimal('220.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 22), datetime.date(2018, 6, 26)),
 (34, 123, '963253232', datetime.date(2018, 5, 23), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 18)),
 (35, 107, 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00'), Decimal('1600.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 4), datetime.date(2018, 7, 9)),
 (36, 121, '97/465', datetime.date(2018, 5, 25), Decimal('565.15'), Decimal('565.15'), Decimal('0.00'), 1, datetime.date(2018, 6, 24), datetime.date(2018, 6, 24)),
 (37, 123, '963253260', datetime.date(2018, 5, 25), Decimal('36.00'), Decimal('36.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (38, 123, '963253272', datetime.date(2018, 5, 26), Decimal('61.50'), Decimal('61.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 25), datetime.date(2018, 6, 30)),
 (39, 110, '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19'), Decimal('37966.19'), Decimal('0.00'), 3, datetime.date(2018, 6, 27), datetime.date(2018, 6, 30)),
 (40, 121, '97/503', datetime.date(2018, 5, 30), Decimal('639.77'), Decimal('639.77'), Decimal('0.00'), 1, datetime.date(2018, 6, 29), datetime.date(2018, 6, 25)),
 (41, 123, '963253255', datetime.date(2018, 5, 31), Decimal('53.75'), Decimal('53.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 6, 27)),
 (42, 123, '94007069', datetime.date(2018, 5, 31), Decimal('400.00'), Decimal('400.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 7, 1)),
 (43, 72, '40318', datetime.date(2018, 6, 1), Decimal('21842.00'), Decimal('21842.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 29)),
 (44, 95, '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67'), Decimal('19.67'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 24)),
 (45, 122, '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36'), Decimal('2765.36'), Decimal('0.00'), 1, datetime.date(2018, 7, 1), datetime.date(2018, 6, 28)),
 (46, 37, '547481328', datetime.date(2018, 6, 3), Decimal('224.00'), Decimal('224.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 7, 4)),
 (47, 83, '31359783', datetime.date(2018, 6, 3), Decimal('1575.00'), Decimal('1575.00'), Decimal('0.00'), 2, datetime.date(2018, 6, 23), datetime.date(2018, 6, 21)),
 (48, 123, '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00'), Decimal('33.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 5)),
 (49, 95, '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 1, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (50, 37, '547479217', datetime.date(2018, 6, 7), Decimal('116.00'), Decimal('116.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 7), datetime.date(2018, 7, 7)),
 (51, 122, '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11'), Decimal('2184.11'), Decimal('0.00'), 1, datetime.date(2018, 7, 8), datetime.date(2018, 7, 8)),
 (52, 34, 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58'), Decimal('1083.58'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 23)),
 (53, 95, '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21'), Decimal('46.21'), Decimal('0.00'), 1, datetime.date(2018, 6, 29), datetime.date(2018, 7, 2)),
 (54, 121, '97/553B', datetime.date(2018, 6, 10), Decimal('313.55'), Decimal('313.55'), Decimal('0.00'), 1, datetime.date(2018, 7, 10), datetime.date(2018, 7, 9)),
 (55, 123, '963253245', datetime.date(2018, 6, 10), Decimal('40.75'), Decimal('40.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 12)),
 (56, 86, '367447', datetime.date(2018, 6, 11), Decimal('2433.00'), Decimal('2433.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 17)),
 (57, 103, '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50'), Decimal('1367.50'), Decimal('0.00'), 5, datetime.date(2018, 7, 31), datetime.date(2018, 7, 31)),
 (58, 123, '963253256', datetime.date(2018, 6, 11), Decimal('53.25'), Decimal('53.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 7)),
 (59, 123, '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75'), Decimal('13.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 15)),
 (60, 122, '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20'), Decimal('2312.20'), Decimal('0.00'), 1, datetime.date(2018, 7, 12), datetime.date(2018, 7, 9)),
 (61, 115, '24946731', datetime.date(2018, 6, 15), Decimal('25.67'), Decimal('25.67'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 26)),
 (62, 123, '963253269', datetime.date(2018, 6, 15), Decimal('26.75'), Decimal('26.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 15), datetime.date(2018, 7, 11)),
 (63, 122, '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81'), Decimal('2115.81'), Decimal('0.00'), 1, datetime.date(2018, 7, 16), datetime.date(2018, 7, 19)),
 (64, 123, '963253267', datetime.date(2018, 6, 17), Decimal('23.50'), Decimal('23.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 17), datetime.date(2018, 7, 19)),
 (65, 99, '509786', datetime.date(2018, 6, 18), Decimal('6940.25'), Decimal('6940.25'), Decimal('0.00'), 1, datetime.date(2018, 7, 18), datetime.date(2018, 7, 15)),
 (66, 123, '263253253', datetime.date(2018, 6, 18), Decimal('31.95'), Decimal('31.95'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 21)),
 (67, 122, '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54'), Decimal('1927.54'), Decimal('0.00'), 1, datetime.date(2018, 7, 20), datetime.date(2018, 7, 18)),
 (68, 81, 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93'), Decimal('936.93'), Decimal('0.00'), 1, datetime.date(2018, 7, 11), datetime.date(2018, 7, 10)),
 (69, 80, '133560', datetime.date(2018, 6, 22), Decimal('175.00'), Decimal('175.00'), Decimal('0.00'), 2, datetime.date(2018, 7, 12), datetime.date(2018, 7, 16)),
 (70, 115, '24780512', datetime.date(2018, 6, 22), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 1), datetime.date(2018, 7, 29)),
 (71, 123, '963253254', datetime.date(2018, 6, 22), Decimal('108.50'), Decimal('108.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 20)),
 (72, 123, '43966316', datetime.date(2018, 6, 22), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 17)),
 (73, 114, 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00'), Decimal('290.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 6, 29)),
 (74, 102, '109596', datetime.date(2018, 6, 24), Decimal('41.80'), Decimal('41.80'), Decimal('0.00'), 1, datetime.date(2018, 8, 3), datetime.date(2018, 8, 4)),
 (75, 123, '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00'), Decimal('27.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 24)),
 (76, 123, '963253248', datetime.date(2018, 6, 24), Decimal('241.00'), Decimal('241.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 25)),
 (77, 121, '97/553', datetime.date(2018, 6, 25), Decimal('904.14'), Decimal('904.14'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 25)),
 (78, 121, '97/522', datetime.date(2018, 6, 28), Decimal('1962.13'), Decimal('19351.18'), Decimal('300.00'), 1, datetime.date(2018, 7, 28), datetime.date(2018, 9, 21)),
 (79, 100, '587056', datetime.date(2018, 6, 30), Decimal('2184.50'), Decimal('2184.50'), Decimal('0.00'), 1, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (80, 122, '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03'), Decimal('2318.03'), Decimal('0.00'), 1, datetime.date(2018, 7, 31), datetime.date(2018, 7, 29)),
 (81, 123, '263253265', datetime.date(2018, 7, 2), Decimal('26.25'), Decimal('26.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 1), datetime.date(2018, 7, 28)),
 (82, 94, '203339-13', datetime.date(2018, 7, 5), Decimal('17.50'), Decimal('17.50'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 27)),
 (83, 95, '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77'), Decimal('39.77'), Decimal('0.00'), 1, datetime.date(2018, 7, 26), datetime.date(2018, 7, 22)),
 (84, 123, '963253258', datetime.date(2018, 7, 6), Decimal('111.00'), Decimal('111.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 5), datetime.date(2018, 8, 5)),
 (85, 123, '963253271', datetime.date(2018, 7, 7), Decimal('158.00'), Decimal('158.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 11)),
 (86, 123, '963253230', datetime.date(2018, 7, 7), Decimal('739.20'), Decimal('739.20'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 6)),
 (87, 123, '963253244', datetime.date(2018, 7, 8), Decimal('60.00'), Decimal('60.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 9)),
 (88, 123, '963253239', datetime.date(2018, 7, 8), Decimal('147.25'), Decimal('147.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 11)),
 (89, 72, '39104', datetime.date(2018, 7, 10), Decimal('85.31'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 9), None),
 (90, 123, '963253252', datetime.date(2018, 7, 12), Decimal('38.75'), Decimal('38.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 11), datetime.date(2018, 8, 11)),
 (91, 95, '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70'), Decimal('32.70'), Decimal('0.00'), 1, datetime.date(2018, 8, 4), datetime.date(2018, 8, 6)),
 (92, 117, '111897', datetime.date(2018, 7, 15), Decimal('16.62'), Decimal('16.62'), Decimal('0.00'), 1, datetime.date(2018, 8, 14), datetime.date(2018, 8, 14)),
 (93, 123, '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75'), Decimal('162.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 15), datetime.date(2018, 8, 11)),
 (94, 123, '963253264', datetime.date(2018, 7, 18), Decimal('52.25'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 17), None),
 (95, 82, 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00'), Decimal('600.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 8), datetime.date(2018, 8, 13)),
 (96, 110, 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40'), Decimal('26881.40'), Decimal('0.00'), 3, datetime.date(2018, 8, 18), datetime.date(2018, 8, 20)),
 (97, 90, '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48'), Decimal('356.48'), Decimal('0.00'), 1, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (98, 83, '31361833', datetime.date(2018, 7, 21), Decimal('579.42'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 10), None),
 (99, 123, '263253268', datetime.date(2018, 7, 21), Decimal('59.97'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 20), None),
 (100, 123, '263253270', datetime.date(2018, 7, 22), Decimal('67.92'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (101, 123, '263253273', datetime.date(2018, 7, 22), Decimal('30.75'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (102, 110, 'P-0608', datetime.date(2018, 7, 23), Decimal('20551.18'), Decimal('0.00'), Decimal('1200.00'), 3, datetime.date(2018, 8, 22), None),
 (103, 122, '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59'), Decimal('2051.59'), Decimal('0.00'), 1, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (104, 123, '263253243', datetime.date(2018, 7, 23), Decimal('44.44'), Decimal('44.44'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (105, 106, '9982771', datetime.date(2018, 7, 24), Decimal('503.20'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 23), None),
 (106, 110, '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58'), Decimal('21221.63'), Decimal('2295.95'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 27)),
 (107, 122, '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99'), Decimal('3689.99'), Decimal('0.00'), 1, datetime.date(2018, 8, 23), datetime.date(2018, 8, 19)),
 (108, 123, '963253240', datetime.date(2018, 7, 24), Decimal('67.00'), Decimal('67.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 23)),
 (109, 121, '97/222', datetime.date(2018, 7, 25), Decimal('1000.46'), Decimal('1000.46'), Decimal('0.00'), 1, datetime.date(2018, 8, 24), datetime.date(2018, 8, 22)),
 (110, 80, '134116', datetime.date(2018, 7, 28), Decimal('90.36'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 17), None),
 (111, 123, '263253257', datetime.date(2018, 7, 30), Decimal('22.57'), Decimal('22.57'), Decimal('0.00'), 3, datetime.date(2018, 8, 29), datetime.date(2018, 9, 3)),
 (112, 110, '0-2436', datetime.date(2018, 7, 31), Decimal('10976.06'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 30), None),
 (113, 37, '547480102', datetime.date(2018, 8, 1), Decimal('224.00'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (114, 123, '963253249', datetime.date(2018, 8, 2), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 9, 1), datetime.date(2018, 9, 4)),
 (115, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (116, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (117, 97, '456701', datetime.date(2018, 8, 2), Decimal('270.50'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 1), None),
 (118, 97, '456791', datetime.date(2018, 8, 3), Decimal('4390.00'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 2), None),
 (119, 97, '456792', datetime.date(2018, 8, 3), Decimal('565.60'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 9, 2), None),
 (120, 32, 'AX-014-027', datetime.date(2018, 8, 1), Decimal('434.58'), Decimal('391.12'), Decimal('43.46'), 2, datetime.date(2018, 8, 31), None)]

In [12]:
%sql SELECT * FROM Vendors WHERE vendor_id = 44;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.

[(44, 'Courier Companies, Inc', 'PO Box 5317', None, 'Boston', 'MA', '02206', '(508) 555-6351', 'Antavius', 'Troy', 4, 400)]

In [13]:
%%sql #7 Updata statement that modifies vendors table, change the default account number to 403

UPDATE Vendors
SET default_account_number = 403
WHERE vendor_id = 44;

SELECT * FROM Vendors WHERE vendor_id = 44;

 * mysql+pymysql://w-alkao:***@localhost
1 rows affected.
1 rows affected.

[(44, 'Courier Companies, Inc', 'PO Box 5317', None, 'Boston', 'MA', '02206', '(508) 555-6351', 'Antavius', 'Troy', 4, 403)]

In [22]:
%%sql

SELECT terms_id FROM Invoices
WHERE vendor_id IN (
  SELECT vendor_id FROM Vendors WHERE default_terms_id = 2);

 * mysql+pymysql://w-alkao:***@localhost
23 rows affected.

[(2,),
 (2,),
 (1,),
 (2,),
 (2,),
 (2,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (2,),
 (2,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,)]

In [23]:
%%sql #8 Update statement that modifies the invoices table, set terms_id to 2 for each invoice that's for a vendor with a default terms of 2

UPDATE Invoices
SET terms_id = 2
WHERE vendor_id IN (
  SELECT vendor_id FROM Vendors WHERE default_terms_id = 2);

SELECT terms_id FROM Invoices
WHERE vendor_id IN (
  SELECT vendor_id FROM Vendors WHERE default_terms_id = 2);

 * mysql+pymysql://w-alkao:***@localhost
23 rows affected.
23 rows affected.

[(2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,)]

In [24]:
%%sql #9 Delete statement that deletes the row we added to the invoice in 4

DELETE FROM Invoices
WHERE invoice_id = 120;

 * mysql+pymysql://w-alkao:***@localhost
(pymysql.err.IntegrityError) (1451, 'Cannot delete or update a parent row: a foreign key constraint fails (`ap`.`Invoice_line_items`, CONSTRAINT `line_items_fk_invoices` FOREIGN KEY (`invoice_id`) REFERENCES `Invoices` (`invoice_id`))')
[SQL: #9 Delete statement that deletes the row we added to the invoice in 4

DELETE FROM Invoices
WHERE invoice_id = 120;]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [25]:
%%sql 

DELETE FROM Invoice_line_items
WHERE invoice_id = 120;

DELETE FROM Invoices
WHERE invoice_id = 120;

SELECT * FROM Invoices;

 * mysql+pymysql://w-alkao:***@localhost
2 rows affected.
1 rows affected.
119 rows affected.

[(1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 1, datetime.date(2018, 5, 8), datetime.date(2018, 5, 7)),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), datetime.date(2018, 5, 14)),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), datetime.date(2018, 5, 9)),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 12)),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 11)),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 21)),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), datetime.date(2018, 5, 22)),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), datetime.date(2018, 5, 1)),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 1, datetime.date(2018, 5, 24), datetime.date(2018, 5, 21)),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 22)),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), datetime.date(2018, 5, 20)),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 2, datetime.date(2018, 5, 16), datetime.date(2018, 5, 13)),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 5, 20), datetime.date(2018, 5, 23)),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 10), datetime.date(2018, 6, 10)),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 1, datetime.date(2018, 6, 2), datetime.date(2018, 5, 30)),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), datetime.date(2018, 5, 22)),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), datetime.date(2018, 6, 5)),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), datetime.date(2018, 6, 5)),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), datetime.date(2018, 5, 19)),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 15)),
 (21, 119, '10843', datetime.date(2018, 5, 11), Decimal('4901.26'), Decimal('4901.26'), Decimal('0.00'), 2, datetime.date(2018, 5, 31), datetime.date(2018, 5, 29)),
 (22, 123, '963253235', datetime.date(2018, 5, 11), Decimal('108.25'), Decimal('108.25'), Decimal('0.00'), 3, datetime.date(2018, 6, 10), datetime.date(2018, 6, 9)),
 (23, 97, '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 6, 2), datetime.date(2018, 5, 28)),
 (24, 113, '77290', datetime.date(2018, 5, 13), Decimal('1750.00'), Decimal('1750.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 2), datetime.date(2018, 7, 5)),
 (25, 123, '963253246', datetime.date(2018, 5, 13), Decimal('129.00'), Decimal('129.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 12), datetime.date(2018, 6, 9)),
 (26, 123, '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 13), datetime.date(2018, 6, 13)),
 (27, 88, '972110', datetime.date(2018, 5, 15), Decimal('207.78'), Decimal('207.78'), Decimal('0.00'), 1, datetime.date(2018, 5, 25), datetime.date(2018, 5, 27)),
 (28, 123, '963253263', datetime.date(2018, 5, 16), Decimal('109.50'), Decimal('109.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 15), datetime.date(2018, 6, 10)),
 (29, 108, '121897', datetime.date(2018, 5, 19), Decimal('450.00'), Decimal('450.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 28), datetime.date(2018, 7, 3)),
 (30, 123, '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40'), Decimal('63.40'), Decimal('0.00'), 3, datetime.date(2018, 6, 19), datetime.date(2018, 6, 24)),
 (31, 104, 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34'), Decimal('7125.34'), Decimal('0.00'), 1, datetime.date(2018, 6, 20), datetime.date(2018, 6, 24)),
 (32, 121, '97/486', datetime.date(2018, 5, 21), Decimal('953.10'), Decimal('953.10'), Decimal('0.00'), 1, datetime.date(2018, 6, 20), datetime.date(2018, 6, 22)),
 (33, 105, '94007005', datetime.date(2018, 5, 23), Decimal('220.00'), Decimal('220.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 22), datetime.date(2018, 6, 26)),
 (34, 123, '963253232', datetime.date(2018, 5, 23), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 18)),
 (35, 107, 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00'), Decimal('1600.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 4), datetime.date(2018, 7, 9)),
 (36, 121, '97/465', datetime.date(2018, 5, 25), Decimal('565.15'), Decimal('565.15'), Decimal('0.00'), 1, datetime.date(2018, 6, 24), datetime.date(2018, 6, 24)),
 (37, 123, '963253260', datetime.date(2018, 5, 25), Decimal('36.00'), Decimal('36.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (38, 123, '963253272', datetime.date(2018, 5, 26), Decimal('61.50'), Decimal('61.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 25), datetime.date(2018, 6, 30)),
 (39, 110, '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19'), Decimal('37966.19'), Decimal('0.00'), 3, datetime.date(2018, 6, 27), datetime.date(2018, 6, 30)),
 (40, 121, '97/503', datetime.date(2018, 5, 30), Decimal('639.77'), Decimal('639.77'), Decimal('0.00'), 1, datetime.date(2018, 6, 29), datetime.date(2018, 6, 25)),
 (41, 123, '963253255', datetime.date(2018, 5, 31), Decimal('53.75'), Decimal('53.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 6, 27)),
 (42, 123, '94007069', datetime.date(2018, 5, 31), Decimal('400.00'), Decimal('400.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 7, 1)),
 (43, 72, '40318', datetime.date(2018, 6, 1), Decimal('21842.00'), Decimal('21842.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 29)),
 (44, 95, '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67'), Decimal('19.67'), Decimal('0.00'), 2, datetime.date(2018, 6, 21), datetime.date(2018, 6, 24)),
 (45, 122, '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36'), Decimal('2765.36'), Decimal('0.00'), 1, datetime.date(2018, 7, 1), datetime.date(2018, 6, 28)),
 (46, 37, '547481328', datetime.date(2018, 6, 3), Decimal('224.00'), Decimal('224.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 7, 4)),
 (47, 83, '31359783', datetime.date(2018, 6, 3), Decimal('1575.00'), Decimal('1575.00'), Decimal('0.00'), 2, datetime.date(2018, 6, 23), datetime.date(2018, 6, 21)),
 (48, 123, '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00'), Decimal('33.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 5)),
 (49, 95, '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (50, 37, '547479217', datetime.date(2018, 6, 7), Decimal('116.00'), Decimal('116.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 7), datetime.date(2018, 7, 7)),
 (51, 122, '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11'), Decimal('2184.11'), Decimal('0.00'), 1, datetime.date(2018, 7, 8), datetime.date(2018, 7, 8)),
 (52, 34, 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58'), Decimal('1083.58'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 23)),
 (53, 95, '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21'), Decimal('46.21'), Decimal('0.00'), 2, datetime.date(2018, 6, 29), datetime.date(2018, 7, 2)),
 (54, 121, '97/553B', datetime.date(2018, 6, 10), Decimal('313.55'), Decimal('313.55'), Decimal('0.00'), 1, datetime.date(2018, 7, 10), datetime.date(2018, 7, 9)),
 (55, 123, '963253245', datetime.date(2018, 6, 10), Decimal('40.75'), Decimal('40.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 12)),
 (56, 86, '367447', datetime.date(2018, 6, 11), Decimal('2433.00'), Decimal('2433.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 17)),
 (57, 103, '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50'), Decimal('1367.50'), Decimal('0.00'), 5, datetime.date(2018, 7, 31), datetime.date(2018, 7, 31)),
 (58, 123, '963253256', datetime.date(2018, 6, 11), Decimal('53.25'), Decimal('53.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 7)),
 (59, 123, '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75'), Decimal('13.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 15)),
 (60, 122, '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20'), Decimal('2312.20'), Decimal('0.00'), 1, datetime.date(2018, 7, 12), datetime.date(2018, 7, 9)),
 (61, 115, '24946731', datetime.date(2018, 6, 15), Decimal('25.67'), Decimal('25.67'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 26)),
 (62, 123, '963253269', datetime.date(2018, 6, 15), Decimal('26.75'), Decimal('26.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 15), datetime.date(2018, 7, 11)),
 (63, 122, '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81'), Decimal('2115.81'), Decimal('0.00'), 1, datetime.date(2018, 7, 16), datetime.date(2018, 7, 19)),
 (64, 123, '963253267', datetime.date(2018, 6, 17), Decimal('23.50'), Decimal('23.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 17), datetime.date(2018, 7, 19)),
 (65, 99, '509786', datetime.date(2018, 6, 18), Decimal('6940.25'), Decimal('6940.25'), Decimal('0.00'), 1, datetime.date(2018, 7, 18), datetime.date(2018, 7, 15)),
 (66, 123, '263253253', datetime.date(2018, 6, 18), Decimal('31.95'), Decimal('31.95'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 21)),
 (67, 122, '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54'), Decimal('1927.54'), Decimal('0.00'), 1, datetime.date(2018, 7, 20), datetime.date(2018, 7, 18)),
 (68, 81, 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93'), Decimal('936.93'), Decimal('0.00'), 2, datetime.date(2018, 7, 11), datetime.date(2018, 7, 10)),
 (69, 80, '133560', datetime.date(2018, 6, 22), Decimal('175.00'), Decimal('175.00'), Decimal('0.00'), 2, datetime.date(2018, 7, 12), datetime.date(2018, 7, 16)),
 (70, 115, '24780512', datetime.date(2018, 6, 22), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 1), datetime.date(2018, 7, 29)),
 (71, 123, '963253254', datetime.date(2018, 6, 22), Decimal('108.50'), Decimal('108.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 20)),
 (72, 123, '43966316', datetime.date(2018, 6, 22), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 17)),
 (73, 114, 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00'), Decimal('290.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 6, 29)),
 (74, 102, '109596', datetime.date(2018, 6, 24), Decimal('41.80'), Decimal('41.80'), Decimal('0.00'), 1, datetime.date(2018, 8, 3), datetime.date(2018, 8, 4)),
 (75, 123, '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00'), Decimal('27.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 24)),
 (76, 123, '963253248', datetime.date(2018, 6, 24), Decimal('241.00'), Decimal('241.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 25)),
 (77, 121, '97/553', datetime.date(2018, 6, 25), Decimal('904.14'), Decimal('904.14'), Decimal('0.00'), 1, datetime.date(2018, 7, 25), datetime.date(2018, 7, 25)),
 (78, 121, '97/522', datetime.date(2018, 6, 28), Decimal('1962.13'), Decimal('19351.18'), Decimal('300.00'), 1, datetime.date(2018, 7, 28), datetime.date(2018, 9, 21)),
 (79, 100, '587056', datetime.date(2018, 6, 30), Decimal('2184.50'), Decimal('2184.50'), Decimal('0.00'), 1, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (80, 122, '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03'), Decimal('2318.03'), Decimal('0.00'), 1, datetime.date(2018, 7, 31), datetime.date(2018, 7, 29)),
 (81, 123, '263253265', datetime.date(2018, 7, 2), Decimal('26.25'), Decimal('26.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 1), datetime.date(2018, 7, 28)),
 (82, 94, '203339-13', datetime.date(2018, 7, 5), Decimal('17.50'), Decimal('17.50'), Decimal('0.00'), 2, datetime.date(2018, 7, 25), datetime.date(2018, 7, 27)),
 (83, 95, '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77'), Decimal('39.77'), Decimal('0.00'), 2, datetime.date(2018, 7, 26), datetime.date(2018, 7, 22)),
 (84, 123, '963253258', datetime.date(2018, 7, 6), Decimal('111.00'), Decimal('111.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 5), datetime.date(2018, 8, 5)),
 (85, 123, '963253271', datetime.date(2018, 7, 7), Decimal('158.00'), Decimal('158.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 11)),
 (86, 123, '963253230', datetime.date(2018, 7, 7), Decimal('739.20'), Decimal('739.20'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 6)),
 (87, 123, '963253244', datetime.date(2018, 7, 8), Decimal('60.00'), Decimal('60.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 9)),
 (88, 123, '963253239', datetime.date(2018, 7, 8), Decimal('147.25'), Decimal('147.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 11)),
 (89, 72, '39104', datetime.date(2018, 7, 10), Decimal('85.31'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 9), None),
 (90, 123, '963253252', datetime.date(2018, 7, 12), Decimal('38.75'), Decimal('38.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 11), datetime.date(2018, 8, 11)),
 (91, 95, '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70'), Decimal('32.70'), Decimal('0.00'), 2, datetime.date(2018, 8, 4), datetime.date(2018, 8, 6)),
 (92, 117, '111897', datetime.date(2018, 7, 15), Decimal('16.62'), Decimal('16.62'), Decimal('0.00'), 1, datetime.date(2018, 8, 14), datetime.date(2018, 8, 14)),
 (93, 123, '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75'), Decimal('162.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 15), datetime.date(2018, 8, 11)),
 (94, 123, '963253264', datetime.date(2018, 7, 18), Decimal('52.25'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 17), None),
 (95, 82, 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00'), Decimal('600.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 8), datetime.date(2018, 8, 13)),
 (96, 110, 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40'), Decimal('26881.40'), Decimal('0.00'), 3, datetime.date(2018, 8, 18), datetime.date(2018, 8, 20)),
 (97, 90, '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48'), Decimal('356.48'), Decimal('0.00'), 2, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (98, 83, '31361833', datetime.date(2018, 7, 21), Decimal('579.42'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 10), None),
 (99, 123, '263253268', datetime.date(2018, 7, 21), Decimal('59.97'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 20), None),
 (100, 123, '263253270', datetime.date(2018, 7, 22), Decimal('67.92'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (101, 123, '263253273', datetime.date(2018, 7, 22), Decimal('30.75'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (102, 110, 'P-0608', datetime.date(2018, 7, 23), Decimal('20551.18'), Decimal('0.00'), Decimal('1200.00'), 3, datetime.date(2018, 8, 22), None),
 (103, 122, '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59'), Decimal('2051.59'), Decimal('0.00'), 1, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (104, 123, '263253243', datetime.date(2018, 7, 23), Decimal('44.44'), Decimal('44.44'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (105, 106, '9982771', datetime.date(2018, 7, 24), Decimal('503.20'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 23), None),
 (106, 110, '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58'), Decimal('21221.63'), Decimal('2295.95'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 27)),
 (107, 122, '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99'), Decimal('3689.99'), Decimal('0.00'), 1, datetime.date(2018, 8, 23), datetime.date(2018, 8, 19)),
 (108, 123, '963253240', datetime.date(2018, 7, 24), Decimal('67.00'), Decimal('67.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 23)),
 (109, 121, '97/222', datetime.date(2018, 7, 25), Decimal('1000.46'), Decimal('1000.46'), Decimal('0.00'), 1, datetime.date(2018, 8, 24), datetime.date(2018, 8, 22)),
 (110, 80, '134116', datetime.date(2018, 7, 28), Decimal('90.36'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 17), None),
 (111, 123, '263253257', datetime.date(2018, 7, 30), Decimal('22.57'), Decimal('22.57'), Decimal('0.00'), 3, datetime.date(2018, 8, 29), datetime.date(2018, 9, 3)),
 (112, 110, '0-2436', datetime.date(2018, 7, 31), Decimal('10976.06'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 30), None),
 (113, 37, '547480102', datetime.date(2018, 8, 1), Decimal('224.00'), Decimal('0.00'), Decimal('0.00'), 1, datetime.date(2018, 8, 31), None),
 (114, 123, '963253249', datetime.date(2018, 8, 2), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 9, 1), datetime.date(2018, 9, 4)),
 (115, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 31), None),
 (116, 97, '456789', datetime.date(2018, 8, 1), Decimal('8344.50'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 31), None),
 (117, 97, '456701', datetime.date(2018, 8, 2), Decimal('270.50'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 9, 1), None),
 (118, 97, '456791', datetime.date(2018, 8, 3), Decimal('4390.00'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 9, 2), None),
 (119, 97, '456792', datetime.date(2018, 8, 3), Decimal('565.60'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 9, 2), None)]

### The End.