In [1]:
%load_ext sql

In [2]:
%%sql
mysql+pymysql://w-alkao:mysqlpassword@localhost

In [3]:
%sql SHOW DATABASES;

 * mysql+pymysql://w-alkao:***@localhost
9 rows affected.

[('ap',),
 ('ex',),
 ('goal',),
 ('information_schema',),
 ('livestock',),
 ('mysql',),
 ('om',),
 ('performance_schema',),
 ('sys',)]

In [4]:
%sql USE ap;

 * mysql+pymysql://w-alkao:***@localhost
0 rows affected.

[]

## Insert, Update, and Delete Data

......

### create test tables

In [7]:
%%sql #create a complete copy of the invoices tables

CREATE TABLE Invoices_copy AS
SELECT * FROM Invoices

 * mysql+pymysql://w-alkao:***@localhost
114 rows affected.

[]

In [9]:
%sql DESCRIBE Invoices_copy

 * mysql+pymysql://w-alkao:***@localhost
10 rows affected.

[('invoice_id', 'int', 'NO', '', '0', ''),
 ('vendor_id', 'int', 'NO', '', None, ''),
 ('invoice_number', 'varchar(50)', 'NO', '', None, ''),
 ('invoice_date', 'date', 'NO', '', None, ''),
 ('invoice_total', 'decimal(9,2)', 'NO', '', None, ''),
 ('payment_total', 'decimal(9,2)', 'NO', '', '0.00', ''),
 ('credit_total', 'decimal(9,2)', 'NO', '', '0.00', ''),
 ('terms_id', 'int', 'NO', '', None, ''),
 ('invoice_due_date', 'date', 'NO', '', None, ''),
 ('payment_date', 'date', 'YES', '', None, '')]

In [8]:
%sql SELECT * FROM Invoices_copy

 * mysql+pymysql://w-alkao:***@localhost
114 rows affected.

[(1, 122, '989319-457', datetime.date(2018, 4, 8), Decimal('3813.33'), Decimal('3813.33'), Decimal('0.00'), 3, datetime.date(2018, 5, 8), datetime.date(2018, 5, 7)),
 (2, 123, '263253241', datetime.date(2018, 4, 10), Decimal('40.20'), Decimal('40.20'), Decimal('0.00'), 3, datetime.date(2018, 5, 10), datetime.date(2018, 5, 14)),
 (3, 123, '963253234', datetime.date(2018, 4, 13), Decimal('138.75'), Decimal('138.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 13), datetime.date(2018, 5, 9)),
 (4, 123, '2-000-2993', datetime.date(2018, 4, 16), Decimal('144.70'), Decimal('144.70'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 12)),
 (5, 123, '963253251', datetime.date(2018, 4, 16), Decimal('15.50'), Decimal('15.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 11)),
 (6, 123, '963253261', datetime.date(2018, 4, 16), Decimal('42.75'), Decimal('42.75'), Decimal('0.00'), 3, datetime.date(2018, 5, 16), datetime.date(2018, 5, 21)),
 (7, 123, '963253237', datetime.date(2018, 4, 21), Decimal('172.50'), Decimal('172.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 21), datetime.date(2018, 5, 22)),
 (8, 89, '125520-1', datetime.date(2018, 4, 24), Decimal('95.00'), Decimal('95.00'), Decimal('0.00'), 1, datetime.date(2018, 5, 4), datetime.date(2018, 5, 1)),
 (9, 121, '97/488', datetime.date(2018, 4, 24), Decimal('601.95'), Decimal('601.95'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 21)),
 (10, 123, '263253250', datetime.date(2018, 4, 24), Decimal('42.67'), Decimal('42.67'), Decimal('0.00'), 3, datetime.date(2018, 5, 24), datetime.date(2018, 5, 22)),
 (11, 123, '963253262', datetime.date(2018, 4, 25), Decimal('42.50'), Decimal('42.50'), Decimal('0.00'), 3, datetime.date(2018, 5, 25), datetime.date(2018, 5, 20)),
 (12, 96, 'I77271-O01', datetime.date(2018, 4, 26), Decimal('662.00'), Decimal('662.00'), Decimal('0.00'), 2, datetime.date(2018, 5, 16), datetime.date(2018, 5, 13)),
 (13, 95, '111-92R-10096', datetime.date(2018, 4, 30), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 5, 20), datetime.date(2018, 5, 23)),
 (14, 115, '25022117', datetime.date(2018, 5, 1), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 10), datetime.date(2018, 6, 10)),
 (15, 48, 'P02-88D77S7', datetime.date(2018, 5, 3), Decimal('856.92'), Decimal('856.92'), Decimal('0.00'), 3, datetime.date(2018, 6, 2), datetime.date(2018, 5, 30)),
 (16, 97, '21-4748363', datetime.date(2018, 5, 3), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 5, 23), datetime.date(2018, 5, 22)),
 (17, 123, '4-321-2596', datetime.date(2018, 5, 5), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 4), datetime.date(2018, 6, 5)),
 (18, 123, '963253242', datetime.date(2018, 5, 6), Decimal('104.00'), Decimal('104.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 5), datetime.date(2018, 6, 5)),
 (19, 34, 'QP58872', datetime.date(2018, 5, 7), Decimal('116.54'), Decimal('116.54'), Decimal('0.00'), 1, datetime.date(2018, 5, 17), datetime.date(2018, 5, 19)),
 (20, 115, '24863706', datetime.date(2018, 5, 10), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 19), datetime.date(2018, 6, 15)),
 (21, 119, '10843', datetime.date(2018, 5, 11), Decimal('4901.26'), Decimal('4901.26'), Decimal('0.00'), 2, datetime.date(2018, 5, 31), datetime.date(2018, 5, 29)),
 (22, 123, '963253235', datetime.date(2018, 5, 11), Decimal('108.25'), Decimal('108.25'), Decimal('0.00'), 3, datetime.date(2018, 6, 10), datetime.date(2018, 6, 9)),
 (23, 97, '21-4923721', datetime.date(2018, 5, 13), Decimal('9.95'), Decimal('9.95'), Decimal('0.00'), 2, datetime.date(2018, 6, 2), datetime.date(2018, 5, 28)),
 (24, 113, '77290', datetime.date(2018, 5, 13), Decimal('1750.00'), Decimal('1750.00'), Decimal('0.00'), 5, datetime.date(2018, 7, 2), datetime.date(2018, 7, 5)),
 (25, 123, '963253246', datetime.date(2018, 5, 13), Decimal('129.00'), Decimal('129.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 12), datetime.date(2018, 6, 9)),
 (26, 123, '4-342-8069', datetime.date(2018, 5, 14), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 13), datetime.date(2018, 6, 13)),
 (27, 88, '972110', datetime.date(2018, 5, 15), Decimal('207.78'), Decimal('207.78'), Decimal('0.00'), 1, datetime.date(2018, 5, 25), datetime.date(2018, 5, 27)),
 (28, 123, '963253263', datetime.date(2018, 5, 16), Decimal('109.50'), Decimal('109.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 15), datetime.date(2018, 6, 10)),
 (29, 108, '121897', datetime.date(2018, 5, 19), Decimal('450.00'), Decimal('450.00'), Decimal('0.00'), 4, datetime.date(2018, 6, 28), datetime.date(2018, 7, 3)),
 (30, 123, '1-200-5164', datetime.date(2018, 5, 20), Decimal('63.40'), Decimal('63.40'), Decimal('0.00'), 3, datetime.date(2018, 6, 19), datetime.date(2018, 6, 24)),
 (31, 104, 'P02-3772', datetime.date(2018, 5, 21), Decimal('7125.34'), Decimal('7125.34'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 24)),
 (32, 121, '97/486', datetime.date(2018, 5, 21), Decimal('953.10'), Decimal('953.10'), Decimal('0.00'), 3, datetime.date(2018, 6, 20), datetime.date(2018, 6, 22)),
 (33, 105, '94007005', datetime.date(2018, 5, 23), Decimal('220.00'), Decimal('220.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 26)),
 (34, 123, '963253232', datetime.date(2018, 5, 23), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 22), datetime.date(2018, 6, 18)),
 (35, 107, 'RTR-72-3662-X', datetime.date(2018, 5, 25), Decimal('1600.00'), Decimal('1600.00'), Decimal('0.00'), 4, datetime.date(2018, 7, 4), datetime.date(2018, 7, 9)),
 (36, 121, '97/465', datetime.date(2018, 5, 25), Decimal('565.15'), Decimal('565.15'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 24)),
 (37, 123, '963253260', datetime.date(2018, 5, 25), Decimal('36.00'), Decimal('36.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (38, 123, '963253272', datetime.date(2018, 5, 26), Decimal('61.50'), Decimal('61.50'), Decimal('0.00'), 3, datetime.date(2018, 6, 25), datetime.date(2018, 6, 30)),
 (39, 110, '0-2058', datetime.date(2018, 5, 28), Decimal('37966.19'), Decimal('37966.19'), Decimal('0.00'), 3, datetime.date(2018, 6, 27), datetime.date(2018, 6, 30)),
 (40, 121, '97/503', datetime.date(2018, 5, 30), Decimal('639.77'), Decimal('639.77'), Decimal('0.00'), 3, datetime.date(2018, 6, 29), datetime.date(2018, 6, 25)),
 (41, 123, '963253255', datetime.date(2018, 5, 31), Decimal('53.75'), Decimal('53.75'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 6, 27)),
 (42, 123, '94007069', datetime.date(2018, 5, 31), Decimal('400.00'), Decimal('400.00'), Decimal('0.00'), 3, datetime.date(2018, 6, 30), datetime.date(2018, 7, 1)),
 (43, 72, '40318', datetime.date(2018, 6, 1), Decimal('21842.00'), Decimal('21842.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 29)),
 (44, 95, '111-92R-10094', datetime.date(2018, 6, 1), Decimal('19.67'), Decimal('19.67'), Decimal('0.00'), 2, datetime.date(2018, 6, 21), datetime.date(2018, 6, 24)),
 (45, 122, '989319-437', datetime.date(2018, 6, 1), Decimal('2765.36'), Decimal('2765.36'), Decimal('0.00'), 3, datetime.date(2018, 7, 1), datetime.date(2018, 6, 28)),
 (46, 37, '547481328', datetime.date(2018, 6, 3), Decimal('224.00'), Decimal('224.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 4)),
 (47, 83, '31359783', datetime.date(2018, 6, 3), Decimal('1575.00'), Decimal('1575.00'), Decimal('0.00'), 2, datetime.date(2018, 6, 23), datetime.date(2018, 6, 21)),
 (48, 123, '1-202-2978', datetime.date(2018, 6, 3), Decimal('33.00'), Decimal('33.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 3), datetime.date(2018, 7, 5)),
 (49, 95, '111-92R-10097', datetime.date(2018, 6, 4), Decimal('16.33'), Decimal('16.33'), Decimal('0.00'), 2, datetime.date(2018, 6, 24), datetime.date(2018, 6, 26)),
 (50, 37, '547479217', datetime.date(2018, 6, 7), Decimal('116.00'), Decimal('116.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 7), datetime.date(2018, 7, 7)),
 (51, 122, '989319-477', datetime.date(2018, 6, 8), Decimal('2184.11'), Decimal('2184.11'), Decimal('0.00'), 3, datetime.date(2018, 7, 8), datetime.date(2018, 7, 8)),
 (52, 34, 'Q545443', datetime.date(2018, 6, 9), Decimal('1083.58'), Decimal('1083.58'), Decimal('0.00'), 1, datetime.date(2018, 6, 19), datetime.date(2018, 6, 23)),
 (53, 95, '111-92R-10092', datetime.date(2018, 6, 9), Decimal('46.21'), Decimal('46.21'), Decimal('0.00'), 2, datetime.date(2018, 6, 29), datetime.date(2018, 7, 2)),
 (54, 121, '97/553B', datetime.date(2018, 6, 10), Decimal('313.55'), Decimal('313.55'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 9)),
 (55, 123, '963253245', datetime.date(2018, 6, 10), Decimal('40.75'), Decimal('40.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 10), datetime.date(2018, 7, 12)),
 (56, 86, '367447', datetime.date(2018, 6, 11), Decimal('2433.00'), Decimal('2433.00'), Decimal('0.00'), 1, datetime.date(2018, 6, 21), datetime.date(2018, 6, 17)),
 (57, 103, '75C-90227', datetime.date(2018, 6, 11), Decimal('1367.50'), Decimal('1367.50'), Decimal('0.00'), 5, datetime.date(2018, 7, 31), datetime.date(2018, 7, 31)),
 (58, 123, '963253256', datetime.date(2018, 6, 11), Decimal('53.25'), Decimal('53.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 7)),
 (59, 123, '4-314-3057', datetime.date(2018, 6, 11), Decimal('13.75'), Decimal('13.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 11), datetime.date(2018, 7, 15)),
 (60, 122, '989319-497', datetime.date(2018, 6, 12), Decimal('2312.20'), Decimal('2312.20'), Decimal('0.00'), 3, datetime.date(2018, 7, 12), datetime.date(2018, 7, 9)),
 (61, 115, '24946731', datetime.date(2018, 6, 15), Decimal('25.67'), Decimal('25.67'), Decimal('0.00'), 4, datetime.date(2018, 7, 25), datetime.date(2018, 7, 26)),
 (62, 123, '963253269', datetime.date(2018, 6, 15), Decimal('26.75'), Decimal('26.75'), Decimal('0.00'), 3, datetime.date(2018, 7, 15), datetime.date(2018, 7, 11)),
 (63, 122, '989319-427', datetime.date(2018, 6, 16), Decimal('2115.81'), Decimal('2115.81'), Decimal('0.00'), 3, datetime.date(2018, 7, 16), datetime.date(2018, 7, 19)),
 (64, 123, '963253267', datetime.date(2018, 6, 17), Decimal('23.50'), Decimal('23.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 17), datetime.date(2018, 7, 19)),
 (65, 99, '509786', datetime.date(2018, 6, 18), Decimal('6940.25'), Decimal('6940.25'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 15)),
 (66, 123, '263253253', datetime.date(2018, 6, 18), Decimal('31.95'), Decimal('31.95'), Decimal('0.00'), 3, datetime.date(2018, 7, 18), datetime.date(2018, 7, 21)),
 (67, 122, '989319-487', datetime.date(2018, 6, 20), Decimal('1927.54'), Decimal('1927.54'), Decimal('0.00'), 3, datetime.date(2018, 7, 20), datetime.date(2018, 7, 18)),
 (68, 81, 'MABO1489', datetime.date(2018, 6, 21), Decimal('936.93'), Decimal('936.93'), Decimal('0.00'), 2, datetime.date(2018, 7, 11), datetime.date(2018, 7, 10)),
 (69, 80, '133560', datetime.date(2018, 6, 22), Decimal('175.00'), Decimal('175.00'), Decimal('0.00'), 2, datetime.date(2018, 7, 12), datetime.date(2018, 7, 16)),
 (70, 115, '24780512', datetime.date(2018, 6, 22), Decimal('6.00'), Decimal('6.00'), Decimal('0.00'), 4, datetime.date(2018, 8, 1), datetime.date(2018, 7, 29)),
 (71, 123, '963253254', datetime.date(2018, 6, 22), Decimal('108.50'), Decimal('108.50'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 20)),
 (72, 123, '43966316', datetime.date(2018, 6, 22), Decimal('10.00'), Decimal('10.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 22), datetime.date(2018, 7, 17)),
 (73, 114, 'CBM9920-M-T77109', datetime.date(2018, 6, 23), Decimal('290.00'), Decimal('290.00'), Decimal('0.00'), 1, datetime.date(2018, 7, 3), datetime.date(2018, 6, 29)),
 (74, 102, '109596', datetime.date(2018, 6, 24), Decimal('41.80'), Decimal('41.80'), Decimal('0.00'), 4, datetime.date(2018, 8, 3), datetime.date(2018, 8, 4)),
 (75, 123, '7548906-20', datetime.date(2018, 6, 24), Decimal('27.00'), Decimal('27.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 24)),
 (76, 123, '963253248', datetime.date(2018, 6, 24), Decimal('241.00'), Decimal('241.00'), Decimal('0.00'), 3, datetime.date(2018, 7, 24), datetime.date(2018, 7, 25)),
 (77, 121, '97/553', datetime.date(2018, 6, 25), Decimal('904.14'), Decimal('904.14'), Decimal('0.00'), 3, datetime.date(2018, 7, 25), datetime.date(2018, 7, 25)),
 (78, 121, '97/522', datetime.date(2018, 6, 28), Decimal('1962.13'), Decimal('1762.13'), Decimal('200.00'), 3, datetime.date(2018, 7, 28), datetime.date(2018, 7, 30)),
 (79, 100, '587056', datetime.date(2018, 6, 30), Decimal('2184.50'), Decimal('2184.50'), Decimal('0.00'), 4, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (80, 122, '989319-467', datetime.date(2018, 7, 1), Decimal('2318.03'), Decimal('2318.03'), Decimal('0.00'), 3, datetime.date(2018, 7, 31), datetime.date(2018, 7, 29)),
 (81, 123, '263253265', datetime.date(2018, 7, 2), Decimal('26.25'), Decimal('26.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 1), datetime.date(2018, 7, 28)),
 (82, 94, '203339-13', datetime.date(2018, 7, 5), Decimal('17.50'), Decimal('17.50'), Decimal('0.00'), 2, datetime.date(2018, 7, 25), datetime.date(2018, 7, 27)),
 (83, 95, '111-92R-10093', datetime.date(2018, 7, 6), Decimal('39.77'), Decimal('39.77'), Decimal('0.00'), 2, datetime.date(2018, 7, 26), datetime.date(2018, 7, 22)),
 (84, 123, '963253258', datetime.date(2018, 7, 6), Decimal('111.00'), Decimal('111.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 5), datetime.date(2018, 8, 5)),
 (85, 123, '963253271', datetime.date(2018, 7, 7), Decimal('158.00'), Decimal('158.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 11)),
 (86, 123, '963253230', datetime.date(2018, 7, 7), Decimal('739.20'), Decimal('739.20'), Decimal('0.00'), 3, datetime.date(2018, 8, 6), datetime.date(2018, 8, 6)),
 (87, 123, '963253244', datetime.date(2018, 7, 8), Decimal('60.00'), Decimal('60.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 9)),
 (88, 123, '963253239', datetime.date(2018, 7, 8), Decimal('147.25'), Decimal('147.25'), Decimal('0.00'), 3, datetime.date(2018, 8, 7), datetime.date(2018, 8, 11)),
 (89, 72, '39104', datetime.date(2018, 7, 10), Decimal('85.31'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 9), None),
 (90, 123, '963253252', datetime.date(2018, 7, 12), Decimal('38.75'), Decimal('38.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 11), datetime.date(2018, 8, 11)),
 (91, 95, '111-92R-10095', datetime.date(2018, 7, 15), Decimal('32.70'), Decimal('32.70'), Decimal('0.00'), 2, datetime.date(2018, 8, 4), datetime.date(2018, 8, 6)),
 (92, 117, '111897', datetime.date(2018, 7, 15), Decimal('16.62'), Decimal('16.62'), Decimal('0.00'), 3, datetime.date(2018, 8, 14), datetime.date(2018, 8, 14)),
 (93, 123, '4-327-7357', datetime.date(2018, 7, 16), Decimal('162.75'), Decimal('162.75'), Decimal('0.00'), 3, datetime.date(2018, 8, 15), datetime.date(2018, 8, 11)),
 (94, 123, '963253264', datetime.date(2018, 7, 18), Decimal('52.25'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 17), None),
 (95, 82, 'C73-24', datetime.date(2018, 7, 19), Decimal('600.00'), Decimal('600.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 8), datetime.date(2018, 8, 13)),
 (96, 110, 'P-0259', datetime.date(2018, 7, 19), Decimal('26881.40'), Decimal('26881.40'), Decimal('0.00'), 3, datetime.date(2018, 8, 18), datetime.date(2018, 8, 20)),
 (97, 90, '97-1024A', datetime.date(2018, 7, 20), Decimal('356.48'), Decimal('356.48'), Decimal('0.00'), 2, datetime.date(2018, 8, 9), datetime.date(2018, 8, 7)),
 (98, 83, '31361833', datetime.date(2018, 7, 21), Decimal('579.42'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 10), None),
 (99, 123, '263253268', datetime.date(2018, 7, 21), Decimal('59.97'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 20), None),
 (100, 123, '263253270', datetime.date(2018, 7, 22), Decimal('67.92'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (101, 123, '263253273', datetime.date(2018, 7, 22), Decimal('30.75'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 21), None),
 (102, 110, 'P-0608', datetime.date(2018, 7, 23), Decimal('20551.18'), Decimal('0.00'), Decimal('1200.00'), 3, datetime.date(2018, 8, 22), None),
 (103, 122, '989319-417', datetime.date(2018, 7, 23), Decimal('2051.59'), Decimal('2051.59'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (104, 123, '263253243', datetime.date(2018, 7, 23), Decimal('44.44'), Decimal('44.44'), Decimal('0.00'), 3, datetime.date(2018, 8, 22), datetime.date(2018, 8, 24)),
 (105, 106, '9982771', datetime.date(2018, 7, 24), Decimal('503.20'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), None),
 (106, 110, '0-2060', datetime.date(2018, 7, 24), Decimal('23517.58'), Decimal('21221.63'), Decimal('2295.95'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 27)),
 (107, 122, '989319-447', datetime.date(2018, 7, 24), Decimal('3689.99'), Decimal('3689.99'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 19)),
 (108, 123, '963253240', datetime.date(2018, 7, 24), Decimal('67.00'), Decimal('67.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 23), datetime.date(2018, 8, 23)),
 (109, 121, '97/222', datetime.date(2018, 7, 25), Decimal('1000.46'), Decimal('1000.46'), Decimal('0.00'), 3, datetime.date(2018, 8, 24), datetime.date(2018, 8, 22)),
 (110, 80, '134116', datetime.date(2018, 7, 28), Decimal('90.36'), Decimal('0.00'), Decimal('0.00'), 2, datetime.date(2018, 8, 17), None),
 (111, 123, '263253257', datetime.date(2018, 7, 30), Decimal('22.57'), Decimal('22.57'), Decimal('0.00'), 3, datetime.date(2018, 8, 29), datetime.date(2018, 9, 3)),
 (112, 110, '0-2436', datetime.date(2018, 7, 31), Decimal('10976.06'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 30), None),
 (113, 37, '547480102', datetime.date(2018, 8, 1), Decimal('224.00'), Decimal('0.00'), Decimal('0.00'), 3, datetime.date(2018, 8, 31), None),
 (114, 123, '963253249', datetime.date(2018, 8, 2), Decimal('127.75'), Decimal('127.75'), Decimal('0.00'), 3, datetime.date(2018, 9, 1), datetime.date(2018, 9, 4))]